<?xml version="1.0" encoding="UTF-8"?>

<PlatformServicesData xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="..\..\..\..\..\Libs\TVPPro.Configuration\PlatformServices\PlatformServicesData.xsd">
  <UsersService URL="http://webservices/users_v4_9/module.asmx">
    <DefaultUser>users_203</DefaultUser>
    <DefaultPassword>11111</DefaultPassword>
  </UsersService>
  <ConditionalAccessService URL="http://webservices/cas_v4_9/module.asmx">
    <DefaultUser>conditionalaccess_203</DefaultUser>
    <DefaultPassword>11111</DefaultPassword>
    <!--<GetUserPermittedItems UserName="conditionalaccess" Password="11111"/>-->
  </ConditionalAccessService>
  <ApiService URL="http://webservices/api_v4_9/api.asmx">
    <DefaultUser>api_203</DefaultUser>
    <DefaultPassword>11111</DefaultPassword>
  </ApiService>
  <PricingService URL="http://webservices/pricing_v4_9/module.asmx">
    <DefaultUser>pricing_203</DefaultUser>
    <DefaultPassword>11111</DefaultPassword>
  </PricingService>
  <BillingService URL="http://webservices/billing_v4_9/module.asmx">
    <DefaultUser>billing_203</DefaultUser>
    <DefaultPassword>11111</DefaultPassword>
  </BillingService>
  <DomainsService URL="http://webservices/domains_v4_9/module.asmx">
    <DefaultUser>domains_203</DefaultUser>
    <DefaultPassword>11111</DefaultPassword>
  </DomainsService>
   <CatalogService URL="http://webservices/catalog_v4_9/service.svc">
    <SignatureKey>liat regev</SignatureKey>
  </CatalogService>
   <SocialService URL="http://webservices/social_v4_9/module.asmx">
    <DefaultUser>social_203</DefaultUser>
    <DefaultPassword>11111</DefaultPassword>
   </SocialService>
   <NotificationService URL="http://webservices/Notification_v4_9/NotificationService.svc">
        <DefaultUser>notifications_203</DefaultUser>
        <DefaultPassword>11111</DefaultPassword>
    </NotificationService>
</PlatformServicesData>