<?xml version="1.0" encoding="utf-8"?>
<TechnicalData xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="..\..\..\..\..\Libs\TVPPro.Configuration\Technical\TechnicalData.xsd">
  <DBConfiguration>
    <User>production</User>
    <Pass>lF6CZU9HIOIAGuzj</Pass>
    <IP>amazonSQL</IP>
    <DatabaseInstance>tvp_qabe</DatabaseInstance>
  </DBConfiguration>
  <TVM>
    <Servers>
      <MainServer>
        <URL>http://stg-hk/platform/api.aspx</URL>
        <TVMReadURL>http://stg-hk/platform/api.aspx</TVMReadURL>
        <TVMWriteURL>http://stg-hk/platform/api.aspx</TVMWriteURL>
      </MainServer>
      <AlternativeServer>
        <!--<URL>~/tvm/tvm_caching_server.aspx</URL>-->
      </AlternativeServer>
    </Servers>
    <Configuration>
      <ForceUpdatedData>0</ForceUpdatedData>
      <EnableTimer>0</EnableTimer>
      <User>Kaltura Sus-main</User>
      <Password>Kaltura Sus-main</Password>
      <EmbedUser/>
      <EmberPassword/>
    </Configuration>
    <CachingServer>
      <AllowedIPs>string</AllowedIPs>
    </CachingServer>
    <FlashVars>
      <FileFormat>Main</FileFormat>
      <SubFileFormat>Trailer</SubFileFormat>
    </FlashVars>
    <TVMRssURL>http://platform-us.tvinci.com/feed.aspx</TVMRssURL>
  </TVM>
  <Translation UseTranslatedMediaType="true">
    <Culture>string</Culture>
    <CharacterReplace>
      
    </CharacterReplace>
  </Translation>
  <Billing SupportFeature="true" HTMLProcess="true">
    <Processor>Multi</Processor>
    <Account>MediaCorpTRX</Account>
  </Billing>
  <Site>
    <BasePictureUrl></BasePictureUrl>
    <GalleryComponent NonAjaxGalleriesNumber="10">
      <SWFFileBaseURL>http://localhost/tvppro/clients/klic/</SWFFileBaseURL>
    </GalleryComponent>
    <ApplicativeBaseUri UsePermanentURL="false">
      <SecureBaseUri></SecureBaseUri>
		  <BaseUri></BaseUri>
    </ApplicativeBaseUri>
    <LogBasePath>c:\log\TVPPro\site</LogBasePath>
    <CDNUrl>http://localhost/tvppro/clients/klic/</CDNUrl>
  </Site>
</TechnicalData>