<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="TVPPro.SiteManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <TVPPro.SiteManager.Properties.Settings>
            <setting name="TVPPro_SiteManager_Tvinci_Users_UsersService" serializeAs="String">
                <value>https://platform.tvinci.com/users/module.asmx</value>
            </setting>
            <setting name="TVPPro_SiteManager_TVPPro_SiteManager_TvinciPlatform_ConditionalAccess_module" serializeAs="String">
                <value>http://webservices.stg.tvincidns.com/cas/module.asmx</value>
            </setting>
            <setting name="TVPPro_SiteManager_TvinciPlatform_Billing_module" serializeAs="String">
                <value>http://localhost/WS_Billing/module.asmx</value>
            </setting>
            <setting name="TVPPro_SiteManager_TvinciPlatform_Users_UsersService" serializeAs="String">
                <value>http://localhost/ws_users/module.asmx</value>
            </setting>
            <setting name="TVPPro_SiteManager_TvinciPlatform_Domains_module" serializeAs="String">
                <value>http://localhost/ws_domains/module.asmx</value>
            </setting>
            <setting name="TVPPro_SiteManager_TvinciPlatform_Social_module" serializeAs="String">
                <value>http://localhost/WS_Social/module.asmx</value>
            </setting>
            <setting name="TVPPro_SiteManager_TvinciPlatform_api_API" serializeAs="String">
                <value>http://localhost/ws_api/api.asmx</value>
            </setting>
            <setting name="TVPPro_SiteManager_TvinciPlatform_Pricing_mdoule" serializeAs="String">
                <value>http://localhost/WS_pricing/module.asmx</value>
            </setting>
            <setting name="TVPPro_SiteManager_TvinciPlatform_ConditionalAccess_module" serializeAs="String">
                <value>http://localhost/WS_ConditionalAccess/module.asmx</value>
            </setting>
        </TVPPro.SiteManager.Properties.Settings>
    </applicationSettings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_INotificationService"/>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost/ws_notification/NotificationService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_INotificationService" contract="TvinciPlatform.Notification.INotificationService" name="BasicHttpBinding_INotificationService"/>
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
