<?xml version="1.0" encoding="utf-8"?>
<MediaData xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="..\..\..\..\Libs\TVPPro.Configuration\Media\MediaData.xsd">
  <TVM>
    <SearchValues>
      <Tags>Directors;Sub Sport;Location;Sport;Actors (Athletes);Sub-sport;Country;Podcast Serie (host);Applicants;Producer;Director;Writer;Award Category;Guests</Tags>
      <Metadata></Metadata>
    </SearchValues>
    <MediaInfoStruct>
      <Tags>Directors;Sub Sport;Sport;Sub-sport;Location;Country;Actors (Athletes);Director;Producer;Podcast Serie (host);Awards;Festival;Guests;Sponsors;Applicants;Gender;Sports;Nationality</Tags>
      <Metadata>Start Date;Year;Podcast Episode;Home page;Twitter;Facebook;Runtime;Nick name;GPS coordinate1;GPS coordinate2;Playlist Channel ID;Birth date;Base ID;Inapp</Metadata>
    </MediaInfoStruct>
    <GalleryMediaInfoStruct>
      <Tags>Podcast Serie (host);Sport;Sub-sport;Sub Sport</Tags>
      <Metadata>Base ID</Metadata>
    </GalleryMediaInfoStruct>
    <FlashMediaInfoStruct>
      <Tags>Directors;Network;Main cast;Genre;Subgenre;Show;Cast;Director;Language;Genre;Profession;Parental Control;Production country;Spoken language;Subtitle language;Age classification;Warnings</Tags>
      <Metadata>Season;Production Year;Episode number;Season number;Release date;Promotional text;Tagline;Number of episodes;Episode title;Package discount</Metadata>
    </FlashMediaInfoStruct>
    <MediaListTags>
      <Tags>Directors;Main Cast;Genre;Subgenre;Awards won;Award nominations;Spoken language;Subtitle language;</Tags>
    </MediaListTags>
    <TagsGallery>
      <Tags>Project;Series name;Staring;Free</Tags>
    </TagsGallery>
    <AutoCompleteValues>
      <Tags>Directors;Cast;Director;Series Name;</Tags>
      <Metadata>Name</Metadata>
      <MediaTypeIDs>301;302;314;305;383</MediaTypeIDs>
    </AutoCompleteValues>
    <AdvertisingValues>
      <Tags />
      <Metas />
    </AdvertisingValues>
  </TVM>
</MediaData>

