<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="MSSQL_SERVER_NAME" value="msd169.1host.co.il" />
    <add key="DB_NAME" value="tvinci" />
    <add key="UN" value="production" />
    <add key="PS" value="lF6CZU9HIOIAGuzj" />
    <add key="ODBC_CACH_SEC" value="0" />
  </appSettings>
</configuration>