<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_Iservice">
                    <security mode="None" />
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://54.72.1.39:8030/catalog_v3_7/Service.svc"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_Iservice"
                contract="TvinciPlatform.Catalog.Iservice" name="WSHttpBinding_Iservice" />
        </client>
    </system.serviceModel>
</configuration>