<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ImageUploadHandler.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
    <applicationSettings>
        <ImageUploadHandler.Properties.Settings>
            <setting name="ImageUploadHandler_WS_API_API" serializeAs="String">
                <value>http://localhost/WS_Api/api.asmx</value>
            </setting>
        </ImageUploadHandler.Properties.Settings>
    </applicationSettings>
</configuration>