@charset "utf-8";
/* CSS Document */
.wrapper * { margin:0; padding:0;}
.wrapper { width:590px; margin: auto; overflow:hidden; }
.h1 { padding:0 13px 0 0; background:url(../images/h1.png) right top no-repeat; }
.h1 h1 { color:#333333; font-size:14px; height:28px; line-height:26px; padding: 0 13px; background:url(../images/h1.png) left top no-repeat; }
.h1 a { color:#000000; font-size:11px; float:right; margin:0; line-height:26px; }
.h1 a:hover { text-decoration:none;}
.find { background-color:#eeeeee; margin:9px 0; }
.find .top { height:13px; display:block; font-size:0.1em; background:url(../images/greyCorners.png) right top no-repeat; }
.find .top b { height:13px; width:14px; display:block; font-size:0.1em; background:url(../images/greyCorners.png) left top no-repeat; }
.find .bot { clear:both; height:13px; display:block; font-size:0.1em; background:url(../images/greyCorners.png) right bottom no-repeat; }
.find .bot b { height:13px; width:14px; display:block; font-size:0.1em; background:url(../images/greyCorners.png) left bottom no-repeat; }

.find label { float:left; padding:0 10px; width:448px; }
.find input { width:340px; height:22px; vertical-align:middle; border:1px solid #666666; font-size:14px; }
.find .btn { float:right; margin-right:10px; }








.picRes { }
.picRes h2 { font-size:14px; border-bottom:1px solid #cccccc; padding:0 0 4px; margin:0 0 10px; font-weight:normal; }
.picRes ul { list-style:none; }
.picRes li { width:96px; margin:10px; overflow:hidden; float:left; }
.picRes img { _width:90px; _height:65px; max-width:90px; max-height:65px; display:block; border:2px solid #000000; }
.picRes h5 { text-align:center; white-space:nowrap; overflow:hidden; font-size: 11px; padding: 0 0 6px; }
.picRes a { display:block; text-align:center; background:url(../images/but3.png) no-repeat; width:96px; height:20px; font-size: 12px; line-height:19px; font-weight:bold; text-decoration:none; color: #000000; margin-top: 8px; }
.picRes a:hover { background-position: left -20px; color: #000000;font-size: 12px; font-weight:bold; text-decoration:none;}

.picSelected { clear:both; }
.picSelected h2 { font-size:14px; padding:10px 0 4px; margin:0; font-weight:normal; }
.picSelected ul { list-style:none; background:url(../images/pina-en.png) right 0 no-repeat; border-left:1px solid #cccccc; border-bottom:1px solid #cccccc; #height: 1%; }
.picSelected ul:after {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	visibility: hidden;
}
.picSelected li { width:96px; margin:10px 9px; overflow:hidden; float:left; }
.picSelected img { _width:90px; _height:65px; max-width:90px; max-height:65px; display:block; border:2px solid #000000; }
.picSelected h5 { text-align:center; white-space:nowrap; overflow:hidden; font-size: 11px; padding: 0 0 6px; }
.picSelected a { display:block; text-align:center; font-size: 12px; line-height:19px; font-weight:bold; text-decoration:underline; color: #000000; margin-top: 8px; }
.picSelected a:hover { text-decoration: none; }





a.btn4 { display:block; text-align:center; background:url(../images/but4.png) no-repeat; width:172px; height:27px; font-size: 16px; text-align:center; line-height:25px; font-weight:bold; text-decoration:none; color: #000000; margin: -30px 0 0; }
a.btn4:hover { background-position: left -27px; color: #000000; font-size: 16px; font-weight:bold; text-decoration:none; }
.butLine .btn4 { float:left;display:block; }
.butLine .btn { float:right; }
.butLine { padding:16px 0; }
.picFieldset { border:0; padding: 20px 20px 0 55px; }
.picFieldset label { display:inline; float: left; width: 110px; margin: 0 6px; #margin: 0 5px; text-align: right; font-size: 14px; }
.picFieldset input { margin-bottom: 15px; width: 350px;background: #ffffff; border-color: #8B898A; border-width: 1px; color: #000000; font-family: Verdana; font-size: 14px; }
.picFieldset span { color:#FF0000; }
.picFieldset textarea { margin-bottom:15px; height: 60px; width: 350px; overflow: auto;background: #ffffff; border-color: #8B898A; border-width: 1px; color: #000000; font-family: Verdana; font-size: 14px; }
.picFieldset select { margin-bottom:15px; }




div.tags { width:415px; background:url(../images/tagsBottom2.gif) bottom center no-repeat #d5e4e9; font-size: 12px; border-top:6px solid #FFFFFF; margin: -16px 0 15px 120px; }
div.tags div {width:395px; white-space:normal; background:url(../images/tagsTop2-en.gif) top center no-repeat; padding:14px 10px 7px; line-height:22px;}
A.tags:link { color: #000000; font-weight: bold; text-decoration: underline;}

A.tags:visited { color: #0099ff; font-weight: bold; text-decoration: underline;}

A.tags:active,
A.tags:hover { color: #FFFFFF; font-weight: bold; text-decoration: underline; background-color: #0099ff; }
