.editorWrapper {
	min-width:588px;
	direction:rtl;
	margin-bottom: 20px;
}
.editor { border:1px solid #000000;}
.bigEditor .editor {width:588px; float:left;}
.editor .edit { overflow: auto; border:0; width:100%; height:100px; background: #fff; }
textarea.html {
	overflow:auto;
	border:0;
	width:100%;
	height: 280px;
	background: #fff;
	direction: ltr;
	font: 11pt arial, verdana, sans-serif;
}
.htmlWrap {
	padding: 10px 0;
	width:100%;
	background: #fff;
}
.editor .icons {
	padding: 4px 5px 0;
	background-color: #000000;
	border:1px solid #333333;
	height:27px;
	_height:12px;
	position:relative;
}
.editor .icons ul { }
.editor .icons li {
	float:right;
	height:23px;
}
.editor .icons li a {
	text-decoration:none;
	text-indent:-9999px;
	overflow:hidden;
	width:23px;
	height:23px;
	display:block;
}
/****/
.editor .icons li.icon01,
.editor .icons li.icon01 a { background:url(../images/editor/icons.png) -525px top no-repeat;}
.editor .icons li.icon01 a:hover { background-position:-525px -23px; }
.editor .icons li.icon01 a.pressed { background-position:-525px -46px; }
.editor .icons li.icon01 a.pressed:hover { background-position:-525px -69px; }

.editor .icons li.icon02,
.editor .icons li.icon02 a { background:url(../images/editor/icons.png) -502px top no-repeat;}
.editor .icons li.icon02 a:hover { background-position:-502px -23px; }
.editor .icons li.icon02 a.pressed { background-position:-502px -46px; }
.editor .icons li.icon02 a.pressed:hover { background-position:-502px -69px; }

.editor .icons li.icon03,
.editor .icons li.icon03 a { background:url(../images/editor/icons.png) -479px top no-repeat;}
.editor .icons li.icon03 a:hover { background-position:-479px -23px; }
.editor .icons li.icon03 a.pressed { background-position:-479px -46px; }
.editor .icons li.icon03 a.pressed:hover { background-position:-479px -69px; }

.editor .icons li.icon04,
.editor .icons li.icon04 a { background:url(../images/editor/icons.png) -447px top no-repeat; width:32px;}
.editor .icons li.icon04 a:hover { background-position:-447px -23px; }
.editor .icons li.icon04 a.pressed { background-position:-447px -46px; }
.editor .icons li.icon04 a.pressed:hover { background-position:-447px -69px; }

.editor .icons li.icon05,
.editor .icons li.icon05 a { background:url(../images/editor/icons.png) -415px top no-repeat; width:32px;}
.editor .icons li.icon05 a:hover { background-position:-415px -23px; }
.editor .icons li.icon05 a.pressed { background-position:-415px -46px; }
.editor .icons li.icon05 a.pressed:hover { background-position:-415px -69px; }

.editor .icons li.icon06,
.editor .icons li.icon06 a { background:url(../images/editor/icons.png) -392px top no-repeat;}
.editor .icons li.icon06 a:hover { background-position:-392px -23px; }
.editor .icons li.icon06 a.pressed { background-position:-392px -46px; }
.editor .icons li.icon06 a.pressed:hover { background-position:-392px -69px; }

.editor .icons li.icon07,
.editor .icons li.icon07 a { background:url(../images/editor/icons.png) -369px top no-repeat;}
.editor .icons li.icon07 a:hover { background-position:-369px -23px; }
.editor .icons li.icon07 a.pressed { background-position:-369px -46px; }
.editor .icons li.icon07 a.pressed:hover { background-position:-369px -69px; }

.editor .icons li.icon08,
.editor .icons li.icon08 a { background:url(../images/editor/icons.png) -346px top no-repeat;}
.editor .icons li.icon08 a:hover { background-position:-346px -23px; }
.editor .icons li.icon08 a.pressed { background-position:-346px -46px; }
.editor .icons li.icon08 a.pressed:hover { background-position:-346px -69px; }

.editor .icons li.icon09,
.editor .icons li.icon09 a { background:url(../images/editor/icons.png) -323px top no-repeat;}
.editor .icons li.icon09 a:hover { background-position:-323px -23px; }
.editor .icons li.icon09 a.pressed { background-position:-323px -46px; }
.editor .icons li.icon09 a.pressed:hover { background-position:-323px -69px; }

.editor .icons li.icon10,
.editor .icons li.icon10 a { background:url(../images/editor/icons.png) -300px top no-repeat;}
.editor .icons li.icon10 a:hover { background-position:-300px -23px; }
.editor .icons li.icon10 a.pressed { background-position:-300px -46px; }
.editor .icons li.icon10 a.pressed:hover { background-position:-300px -69px; }

.editor .icons li.icon11,
.editor .icons li.icon11 a { background:url(../images/editor/icons.png) -277px top no-repeat;}
.editor .icons li.icon11 a:hover { background-position:-277px -23px; }
.editor .icons li.icon11 a.pressed { background-position:-277px -46px; }
.editor .icons li.icon11 a.pressed:hover { background-position:-277px -69px; }

.editor .icons li.icon12,
.editor .icons li.icon12 a { background:url(../images/editor/icons.png) -254px top no-repeat;}
.editor .icons li.icon12 a:hover { background-position:-254px -23px; }

.editor .icons li.icon13,
.editor .icons li.icon13 a { background:url(../images/editor/icons.png) -231px top no-repeat;}
.editor .icons li.icon13 a:hover { background-position:-231px -23px; }

.editor .icons li.icon14,
.editor .icons li.icon14 a { background:url(../images/editor/icons.png) -208px top no-repeat;}
.editor .icons li.icon14 a:hover { background-position:-208px -23px; }

.editor .icons li.icon15,
.editor .icons li.icon15 a { background:url(../images/editor/icons.png) -185px top no-repeat;}
.editor .icons li.icon15 a:hover { background-position:-185px -23px; }

.editor .icons li.icon16,
.editor .icons li.icon16 a { background:url(../images/editor/icons.png) -162px top no-repeat;}
.editor .icons li.icon16 a:hover { background-position:-162px -23px; }

.editor .icons li.icon17,
.editor .icons li.icon17 a { background:url(../images/editor/icons.png) -139px top no-repeat;}
.editor .icons li.icon17 a:hover { background-position:-139px -23px; }

.editor .icons li.icon18,
.editor .icons li.icon18 a { background:url(../images/editor/icons.png) -116px top no-repeat;}
.editor .icons li.icon18 a:hover { background-position:-116px -23px; }

.editor .icons a.html,
.editor .icons a.html a {
	width:58px;
	height:25px;
	color:#FFFFFF;
	line-height:23px;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	text-indent:-9999px;
	overflow:hidden;
	display: block;
	float: left;
	background:url(../images/editor/icons.png) -58px top no-repeat;
}
.editor .icons a.html a:hover {background-position:-58px -23px;}

.editor .icons a.html2,
.editor .icons a.html2 a {
	width:58px;
	height:25px;
	color:#FFFFFF;
	line-height:23px;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	text-indent:-9999px;
	overflow:hidden;
	display: block;
	float: left;
	background:url(../images/editor/icons.png) 0 top no-repeat;
}
.editor .icons span.html2 a:hover {background-position:0 -23px;}
.editor .icons img.spacer {
	float: left;
}

.editor .icons a.preview {
	background:url(../images/editor/preview.png) no-repeat;
	width:98px;
	height:25px;
	color:#FFFFFF;
	line-height:23px;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	display: block;
	float: left;
}
.editor .icons a.preview:hover { background-position:left -25px;}
.colors {
	position:absolute; 
	right:84px;
	top:27px;
	border:0;
	width:70px; 
	height:112px; 
	background:url(../images/editor/colors.png);
	_background:none!important;
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/editor/colors.png', sizingMethod='scale');
}
.size {
	position:absolute; 
	right:131px;
	top:27px;
	width:62px; 
	height:109px;
	padding-top:3px;
	background:url(../images/editor/fontBg.png);
	_background:url(../images/editor/fontBgIE.png);
}
.size a {
	display:block;
	color:#353535;
	text-decoration:none;
	font-weight:bold;
	margin: 0 4px 0 0;
	padding-right:4px;
	width: 52px;
	height: 26px; line-height:26px;	
}
.size a:hover { background-color:#d3d3d3;}
.size a.s1 { font-size:11px;}
.size a.s2 { font-size:13px;}
.size a.s3 { font-size:16px;}
.size a.s4 { font-size:20px;}
/****/
.editorFooter { padding-top:10px;}
.editorFooter span.cancel {
	float:left;
	padding:6px 0 0;
	color: #999999;
	margin:-5px 0 0;
}
.editorFooter span.cancel a {
	color: #00ccff;
	font-weight: bold;
	text-decoration: none;
}
.editorFooter span.cancel a:hover { text-decoration:underline;}
.editorFooter a.submit {
	background:url(../images/editor/submit.png) no-repeat;
	width:61px;
	height:32px;
	color: #FFFFFF;
	line-height:30px;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	display: block;
	float:left;
	margin:-5px 0 0;
}
.editorFooter a.submit:hover {background-position:left -32px;}
/***********************************/

.epWrapper {
	padding:10px;
	background-color:#222222;
	direction:rtl;
	width:675px;
	margin:0 auto;
}
.epWrapper .browse {
	background:url(../images/editor/formBg.png) no-repeat;
	width:304px;
	height:118px;
	padding:0 8px;
	float:right;
}
.epWrapper .browse label {
	color: #FFFFFF;
	font-size: 14px;
	font-weight: bold;
	display: block;
	padding: 14px 0 3px;
}
.epWrapper .browse label cite {
	float:left;
	color:#999999;
	font-style:normal;
	font-size:11px;
	font-weight: normal;
}
.epWrapper .browse input {
	width:100%;
	border:1px solid #000;
	font-family: Arial, Helvetica, sans-serif;
	line-height:19px;
	height:23px;
	padding:0 1px;
	background-color:#dddddd;
}
.epWrapper .urlBrowse {
	background:url(../images/editor/formBg.png) no-repeat;
	width:304px;
	height:118px;
	padding:0 8px;
	float:left;
}
.epWrapper .urlBrowse label {
	color: #FFFFFF;
	font-size: 14px;
	font-weight: bold;
	display: block;
	padding: 14px 0 3px;
}
.epWrapper .urlBrowse input {
	width:98%;
	border:1px solid #000;
	font-family: Arial, Helvetica, sans-serif;
	line-height:19px;
	height:23px;
	padding:0 1px;
	background-color:#dddddd;
}
.epWrapper .radioSize {
	float: right;
	width: 100px;
	font-size: 14px;
	color: #FFFFFF;
}
.epWrapper .radioSize label {
	color: #FFFFFF;
	font-weight: bold;
	display: block;
	width: 65px;
	float: left;
	padding: 0 0 12px;
}
.epWrapper .radioSize label input { vertical-align: middle; }
.epWrapper .imgLocation {
	background:url(../images/editor/imgPosition.png) bottom left no-repeat;
	height: 105px;
	width: 360px;
	margin-right: 30px;
	color: #FFFFFF;
	font-size: 14px;
}
.epWrapper .imgLocationTitle {
	float: right;
	margin-left: 18px;
}
.epWrapper .imgLocation label {
	float:right;
	color: #FFFFFF;
	font-size: 14px;
	font-weight: bold;
	width: 75px;
	height: 100px;
}
#imgLocation1label {
	margin: 0 12px;
}
#imgLocation2label {
	margin-right: 8px;
	margin-left: 16px;
}
#imgLocation3label {
	margin-right: 5px;
}
.epWrapper .imgLocation label input { vertical-align: middle; }
.epWrapper .comfirm {
	float: left;
	width: 130px;
	text-align:left;
	padding-top:75px;
	margin-left:10px;
}
.epWrapper .comfirm span {
	float:left;
	padding:6px 0 0;
	color: #999999;
	margin:-5px 0 0;
}
.epWrapper .comfirm span a {
	color: #00ccff;
	font-weight: bold;
	text-decoration: none;
}
.epWrapper .comfirm span a:hover { text-decoration:underline; }
.epWrapper .comfirm a.upload {
	background:url(../images/editor/submit.png) no-repeat;
	width:61px;
	height:32px;
	color: #FFFFFF;
	line-height:30px;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	display: block;
	float:left;
	margin:-5px 0 0;
}
.euWrapper a.upload {
	background:url(../images/editor/submit.png) no-repeat;
	width:61px;
	height:32px;
	color: #FFFFFF;
	line-height:30px;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	display: block;
	float:left;
	margin:-2px 0 0;
	position:relative;
}
.epWrapper .comfirm a.upload:hover,
.euWrapper a.upload:hover { background-position:left -32px; }
/********************************/
.are_linkWrapper {
	width: 100%;
	position: absolute;
	top: 0;
	z-index: 3000;
	text-align: right;
}
.previewWrap {
	padding: 10px;
	margin-bottom: 1px;
}
.previewIframe {
	border:0;
	width: 100%;
	height: 300px;
	background: #fff;
	overflow: auto;
}
.euWrapper {
	background:url(../images/editor/urlPopBg.png) no-repeat;
	width:568px;
	height:126px;
	direction:rtl;
	margin-left: auto;
	margin-right: auto;
	_background:none!important;
 _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/editor/urlPopBg.png', sizingMethod='scale');
}
.euWrapper .inner_linkWrapper { padding:0 19px 0 8px; }
.euWrapper .inner_linkWrapper a.close {
	background:url(../images/ajaxPopCloseBg2.png) left no-repeat;
	width:80px;
	height:28px;
	color: #a3a3a3;
	font-weight: bold;
	float: left;
	text-indent:30px;
	line-height:27px;
	font-size:12pt;
	text-decoration:none;
	display: block;
	cursor:pointer;
	margin:3px 0 0;
	position:relative;
}
.euWrapper label {
	color: #FFFFFF;
	font-size: 14px;
	font-weight: bold;
	display:block;
	padding:12px 0 2px;
}
.euWrapper input {
	width:470px;
	border:1px solid #000;
	font-family: Arial, Helvetica, sans-serif;
	line-height:19px;
	height:23px;
	padding:0 1px;
	background-color:#dddddd;
	position:relative;
	font-size: 14px;
	color: #666666;
}

.thinking
{
	position:absolute;
	display: block;
	z-index: 600;
	width: 390px;
	height: 170px;
}
