.bodyBlack {
	background: #000;
	color: #fff;
}
.bodyBlack .fontWhite {
	color: #fff;
}
.bodyBlack .fontGrey {
	color: #989898;
}
.bodyBlack .fontBlack {
	color: #fff;
}
.bodyBlack .fontRed {
	color: #ff0000;
}
.bodyBlack .fontDarkRed {
	color: #980000;
}
.bodyBlack .fontPink {
	color: #ff005a;
}
.bodyBlack .fontLightYellow {
	color: #ffff98;
}
.bodyBlack .fontYellow {
	color: #ffff00;
}
.bodyBlack .fontOrange {
	color: #ff9800;
}
.bodyBlack .fontLightGreen {
	color: #98ff98
}
.bodyBlack .fontGreen {
	color: #32ff32;
}
.bodyBlack .fontDarkGreen {
	color: #009800;
}
.bodyBlack .fontLightBlue {
	color: #00ccff;
}
.bodyBlack .fontBlue {
	color: #0000ff;
}
.bodyBlack .fontDarkBlue {
	color: #000098;
}

.bodyWhite {
	background: #fff;
	color: #000;
}
.bodyWhite .fontWhite {
	color: #fff;
}
.bodyWhite .fontGrey {
	color: #989898;
}
.bodyWhite .fontBlack {
	color: #000000;
}
.bodyWhite .fontRed {
	color: #ff0000;
}
.bodyWhite .fontDarkRed {
	color: #980000;
}
.bodyWhite .fontPink {
	color: #ff005a;
}
.bodyWhite .fontLightYellow {
	color: #ffff98;
}
.bodyWhite .fontYellow {
	color: #ffff00;
}
.bodyWhite .fontOrange {
	color: #ff9800;
}
.bodyWhite .fontLightGreen {
	color: #98ff98
}
.bodyWhite .fontGreen {
	color: #32ff32;
}
.bodyWhite .fontDarkGreen {
	color: #009800;
}
.bodyWhite .fontLightBlue {
	color: #00ccff;
}
.bodyWhite .fontBlue {
	color: #0000ff;
}
.bodyWhite .fontDarkBlue {
	color: #000098;
}