@charset "utf-8";
* { margin:0; padding:0; font-family: Trebuchet MS; }
ul { list-style:none; }
/* whoever thought blue linked image borders were a good idea? */
a img,
:link img,
:visited img { border:none; }
/****************************************/
body,
td,
th { font-size: 1em; color: #FFFFFF; }
body { background: url(../images/bg.gif) top repeat-x #000000; margin: 0px; }
a { background:url(../images/dotted.gif) bottom repeat-x; text-decoration:none; color:#00adef; }
a:hover { color:#5ad1ff; background:url(../images/dottedH.gif) bottom repeat-x; }
.header { text-align:center; }
.header h1 { color:#00adef; font-size:1.8em; }
.header h2 { width:860px; margin:0 auto; text-align:left; font-size:1.2em; padding:2em 0; line-height:1.6em; }
.contentWrapper { width:860px; margin:auto; }
.main { width:500px; float:left; }
.main h4 { font-weight:normal; color:#00adef; }
.contentWrapper h2 { padding:1.7em 0 0.1em; margin:0 0 1em; border-bottom:4px solid #262727; color:#666666; font-size:1.1em; }
.side { width:330px; float:right; }
.footer { clear:both; text-align: center; background:url(../images/footerBg.gif) top repeat-x; color:#666666; text-align:center; font-size:0.7em; line-height:1.7em; padding:25px 0; }
.footer a { background:none; color:#999999; }
.footer a:hover { text-decoration:underline; }
.userRules { }
.userRules p { font-weight:bold; }
.userRules b { font-size: 0.9em; line-height:1.6em; }
.userRules ul { padding:25px 0 5px; }
.userRules ul li { background:url(../images/bulletVinci.gif) left top no-repeat; padding-left:36px; font-size: 0.9em; padding-bottom: 25px; line-height: 1.6em; }
.userRules ul li span { color:#00adef; }
.contactDetails div { font-size:0.9em; }
.contactDetails .addres { width:280px; float:left; line-height:1.8em; }
.contactDetails .eMails { width:200px; float:right; line-height:1.6em; }
.suggestionBox { }
.suggestionBox p { margin:0 0 15px; font-size:0.9em; line-height:1.6em; }
.corners { }
.corners .top { height:6px; font-size:0.001em; display:block; background:url(../images/corners01.png) top right no-repeat; }
.corners .top b { height:6px; width:6px; font-size:0.001em; display:block; background:url(../images/corners01.png) top left no-repeat; }
.corners .bot { height:6px; font-size:0.001em; display:block; background:url(../images/corners01.png) bottom right no-repeat; }
.corners .bot b { height:6px; width:6px; font-size:0.001em; display:block; background:url(../images/corners01.png) bottom left no-repeat; }
.cornersContent { border-right:1px solid #333333; border-left:1px solid #333333; }
.thanks { text-align:center; font-weight:bold; color:#666666; }
.goSuggestion a,
.goSuggestion a:hover { text-align:center; font-weight:bold; background:url(../images/dwn.gif) right center no-repeat; display:block; width:98%; }
textarea,
input,
select { border:1px solid #ffffff; background:url(../images/inputBg.gif) top repeat-x #ffffff; }
textarea.error,
input.error { border:1px solid #ffffff; background:url(../images/inputBgError.gif) top repeat-x #fd9797;}
.suggestions { padding:0 8px; font-size:0.9em; color:#666666; #height:1%;
}
.suggestions a.close { font-weight:bold; margin-top:14px; float: left; }
.suggestions a.closeTop { width:14px; height:14px; float:right; overflow:hidden; text-decoration:none; text-indent:-9999px; background:url(../images/up.gif) right top no-repeat; display:block; #margin-right:2px;
_margin:0; }
.suggestions textarea { width:480px; overflow:auto; height:80px; margin:8px 0; }
.suggestions input { width:186px; height:21px; vertical-align:middle; }
.suggestions .submit,
.suggestions .submitH { cursor:pointer; background:url(../images/buttons/124.png) no-repeat; width:124px; float:right; height:39px; border:0; color:#ffffff; font-weight:bold; font-size:1em; margin:4px -7px 0 0; }
.suggestions .submit { background-position:left top; }
.suggestions .submitH { background-position:left bottom; }
.sideUpdate { }
.sideUpdate img { float:left; margin-right:8px; }
.sideUpdateForm { padding:5px 12px; font-size:0.9em; #height:1%; }
.sideUpdateForm p { color:#CCCCCC; padding:0 0 12px; }
.sideUpdateForm label { display:block; color:#666666; padding-bottom:15px; }
.sideUpdateForm label span { color:#5ad1ff; }
.sideUpdateForm input,
.sideUpdateForm select { width:210px; float:right; height: 21px; }
.sideUpdateForm select { width:212px; }
.sideUpdateForm .signUp,
.sideUpdateForm .signUpH { cursor:pointer; background:url(../images/buttons/124.png) no-repeat; width:124px; float:right; height:39px; border:0; color:#ffffff; font-weight:bold; font-size:1em; margin:0 -7px 0 0; }
.sideUpdateForm .signUp { background-position:left top; }
.sideUpdateForm .signUpH { background-position:left bottom; }
.sideUpdateThanks { padding:6px 12px; height: 250px; }
.sideUpdateThanks p { padding-top:100px; text-align:center; font-weight:bold; }
.buzz { }
.buzz a { display:block; width:160px; text-align:center; margin:auto; }
.buzz a span { color:#FFFFFF; font-weight:bold; }
.buzz img { display:block; margin:20px auto 0; }
.reviews { }
.reviews ul { }
.reviews li { padding:10px 0; border-bottom:2px solid #1a1a1a; }
.reviews li.hover { background-color:#1a1a1a; }
