<?xml version="1.0" encoding="utf-8"?>
<MediaData xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="..\..\..\..\Libs\TVPPro.Configuration\Media\MediaData.xsd">
  <TVM>
    <SearchValues>
      <Tags>Genre;Director;Age Classification;Warnings</Tags>
      <Metadata>Name;Description</Metadata>  
    </SearchValues>
    <MediaInfoStruct>
      <Tags>Genre;Director;Age Classification;Warnings</Tags>
      <Metadata>Name;Description</Metadata>
    </MediaInfoStruct>
    <GalleryMediaInfoStruct>
      <Tags>Genre;Director;Age Classification;Warnings</Tags>
      <Metadata>Name;Description</Metadata>
    </GalleryMediaInfoStruct>
    <FlashMediaInfoStruct>
      <Tags>Genre;Director;Age Classification;Warnings</Tags>
      <Metadata>Name;Description</Metadata>
    </FlashMediaInfoStruct>
    <MediaListTags>
      <Tags>Genre;Director;Age Classification;Warnings</Tags>
    </MediaListTags>
    <TagsGallery>
      <Tags>Genre;Director;Age Classification;Warnings</Tags>
    </TagsGallery>
    <AutoCompleteValues>
      <Tags></Tags>
      <Metadata></Metadata>
      <MediaTypeIDs>346;347;348</MediaTypeIDs>
    </AutoCompleteValues>
  </TVM>
</MediaData>
  
  