<?xml version="1.0" encoding="utf-8"?>
<TechnicalData xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="..\..\..\..\..\Libs\TVPPro.Configuration\Technical\TechnicalData.xsd">
    <DBConfiguration>
        <User>production</User>
        <Pass>lF6CZU9HIOIAGuzj</Pass>
        <!--<IP>72.26.211.98</IP>-->
        <IP>192.168.192.138</IP>
        <DatabaseInstance>tvp_vodafone</DatabaseInstance>
    </DBConfiguration>
    <TVM>
        <Servers>
            <MainServer>
                <URL>http://platform-us.c.tvinci.com/api.aspx</URL>
                <TVMReadURL>http://platform-us.c.tvinci.com/api.aspx</TVMReadURL>
                <TVMWriteURL>http://platform-us.c.tvinci.com/api.aspx</TVMWriteURL>
            </MainServer>
            <AlternativeServer>
                <!--<URL>~/tvm/tvm_caching_server.aspx</URL>-->
            </AlternativeServer>
        </Servers>
        <Configuration>
            <ForceUpdatedData>0</ForceUpdatedData>
            <EnableTimer>0</EnableTimer>
            <User>tvp_vodafone</User>
            <Password>tvp_vodafone</Password>
            <EmbedUser/>
            <EmberPassword/>
        </Configuration>
        <CachingServer>
            <AllowedIPs>string</AllowedIPs>
        </CachingServer>
        <FlashVars>
            <FileFormat>Web</FileFormat>
            <SubFileFormat>Trailer</SubFileFormat>
        </FlashVars>
        <TVMRssURL>http://platform-us.tvinci.com/feed.aspx</TVMRssURL>
    </TVM>
    <Translation UseTranslatedMediaType="true">
        <Culture>string</Culture>
        <CharacterReplace>

        </CharacterReplace>
    </Translation>
    <Billing SupportFeature="true" HTMLProcess="true">
        <Processor>Multi</Processor>
        <Account>VodafoneTRX</Account>
    </Billing>
    <Site>
        <BasePictureUrl></BasePictureUrl>
        <GalleryComponent NonAjaxGalleriesNumber="10">
            <SWFFileBaseURL>http://localhost/tvppro/clients/Vodafone/</SWFFileBaseURL>
        </GalleryComponent>
        <ApplicativeBaseUri UsePermanentURL="false">
            <SecureBaseUri></SecureBaseUri>
            <BaseUri></BaseUri>
        </ApplicativeBaseUri>
        <LogBasePath>c:\log\TVPPro\site</LogBasePath>
        <CDNUrl>http://localhost/tvppro/clients/Vodafone/</CDNUrl>
    </Site>
    <Player>
        <MainFileFormat>Web</MainFileFormat>
        <TrailerFileFormat>Trailer</TrailerFileFormat>
        <TrickPlayFileFormat>TrickPlay PC</TrickPlayFileFormat>
    </Player>
</TechnicalData>