obj/
[Bb]in
[Dd]ebug*/
[Rr]elease*/
*.dll
*.pdb
*.[Oo]bj
*.user
*.log
*.suo
PrecompiledWeb/
.vs/TVPProAPIs/DesignTimeBuild/.dtbcache
.vs/TVPProAPIs/v15/Server/sqlite3/db.lock
.vs/TVPProAPIs/v15/Server/sqlite3/storage.ide-wal
.vs/TVPProAPIs/v15/Server/sqlite3/storage.ide-shm
.vs/TVPProAPIs/v15/Server/sqlite3/storage.ide
