obj/
[Bb]in
[Dd]ebug*/
[Rr]elease*/
*.dll
*.pdb
*.[Oo]bj
*.user
*.log
*.suo
PrecompiledWeb/
packages/
WebAPI/Properties/AssemblyInfo.cs
WebAPI/AutoMapper.xml
WebAPI/settings.json
/.vs
/settings.json
