obj/
[Bb]in
[Dd]ebug*/
[Rr]elease*/
*.dll
*.pdb
*.[Oo]bj
*.user
*.log
*.suo
Tvinci.Data.Loaders/Service References/TvinciPlatform.Catalog/Service12.xsd
Tvinci.Data.Loaders/Service References/TvinciPlatform.Catalog/Service13.xsd
