<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ILuceneService"/>
                <binding name="BasicHttpBinding_ISearcher"/>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost/LuceneWCF2.0/Service.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ILuceneService" contract="Lucene.ILuceneService" name="BasicHttpBinding_ILuceneService"/>
            <endpoint address="http://localhost/LuceneWCF2.0/Service.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISearcher" contract="Lucene.ISearcher" name="BasicHttpBinding_ISearcher"/>
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
