<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<appSettings>

  <!-- Development, projector -->
  <add key="Environment" value="Klic"/>

  <add key="ClientIdentifier" value="Klic"/>
  <add key="WithFavorites" value="true"/>

  <!--Set the site loaders cache period-->
  <add key="Tvinci.DataLoader.CacheLite.DurationInMinutes" value="1440"/>
  
  <add key="TVPPro.Configuration.Site" value="~/Configuration/Klic/test/SiteConfiguration.config"/>
  <add key="TVPPro.Configuration.Technical" value="~/Configuration/Klic/test/TechnicalConfiguration.config"/>
  <add key="TVPPro.Configuration.PlatformServices" value="~/Configuration/Klic/test/PlatformServicesConfiguration.config"/>
  <add key="TVPPro.Configuration.Media" value="~/Configuration/Klic/MediaConfiguration.config"/>
  <add key="TVPPro.Configuration.PageStruct" value="~/Configuration/Klic/PageStructConfiguration.config"/>
  <add key="TVPPro.Configuration.Online" value="~/Configuration/OnlineConfiguration.config"/>

  <add key="RequestorIP" value="80.179.194.132"/>

  <!--<add key="UsePermanentURL" value="true"/>
  <add key="ApplicativeBaseUri" value="http://www.google.com"/> <!-- http://localhost/tvppro/"/>-->

  <add key="ForceAdmLogin" value="false"/>
  <add key="AdmUserName" value="Klic"/>
  <add key="AdmPass" value="Klic"/>
    
  <add key="FBInitiatorURL" value="http://webservices/social_v2_1/facebook_api.aspx" /> 
  <add key="PostRegFB" value="287"></add>
  <add key="PostRegCC" value="296"></add>
    
</appSettings>
