<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <configSections>
    <section name="TCMConfig" type="TCMClient.TCMConfiguration, TCMClient" allowLocation="true" allowDefinition="Everywhere" />
    <sectionGroup name="couchbaseClients">
      <section name="Couchbase" type="Couchbase.Configuration.Client.Providers.CouchbaseClientSection, Couchbase.NetClient" />
    </sectionGroup>
  </configSections>
  <TCMConfig URL="http://tcm:8080" Application="EU_REMOTE_TASK_SERVICE" Host="prod_v_4_0" Environment="main" AppID="5bf8cf60" AppSecret="5aaa99331c18f6bad4adeef93ab770c2" />
  <couchbaseClients>
    <Couchbase useSsl="false">
      <!--<notification useSsl="false">-->
      <servers>
        <add uri="http://couchbase1:8091/pools" />
        <add uri="http://couchbase2:8091/pools" />
        <add uri="http://couchbase3:8091/pools" />
      </servers>
      <buckets>
        <add name="epg_channels_schedule" useSsl="false" password="" operationLifespan="20000">
          <connectionPool name="custom" maxSize="10" minSize="5" sendTimeout="12000"/>
        </add>
        <add name="social" useSsl="false" password="" operationLifespan="20000">
          <connectionPool name="custom" maxSize="10" minSize="5" sendTimeout="12000"/>
        </add>
        <add name="MediaMarks" useSsl="false" password="" operationLifespan="20000">
          <connectionPool name="custom" maxSize="10" minSize="5" sendTimeout="12000"/>
        </add>
        <add name="statistics" useSsl="false" password="" operationLifespan="20000">
          <connectionPool name="custom" maxSize="10" minSize="5" sendTimeout="12000"/>
        </add>
        <add name="Cache" useSsl="false" password="" operationLifespan="20000">
          <connectionPool name="custom" maxSize="10" minSize="5" sendTimeout="12000"/>
        </add>
        <add name="scheduled_tasks" useSsl="false" password="" operationLifespan="20000">
          <connectionPool name="custom" maxSize="10" minSize="5" sendTimeout="12000"/>
        </add>
      </buckets>
    </Couchbase>
  </couchbaseClients>
  <connectionStrings />
  <system.web>
    <compilation targetFramework="4.0" />
    <!--                          
        The <authentication> section enables configuration 
        of the security authentication mode used by 
        ASP.NET to identify an incoming user. 
    -->
    <authentication mode="Windows" />
    <!--
        The <customErrors> section enables configuration 
        of what to do if/when an unhandled error occurs 
        during the execution of a request. Specifically, 
        it enables developers to configure html error pages 
        to be displayed in place of a error stack trace.
-->
    <customErrors mode="Off" defaultRedirect="GenericErrorPage.htm">
      <error statusCode="403" redirect="NoAccess.htm"/>
      <error statusCode="404" redirect="FileNotFound.htm"/>
    </customErrors>

    <pages controlRenderingCompatibilityVersion="4.0" clientIDMode="AutoID" />

    <httpRuntime executionTimeout="1800" />

  </system.web>
  <!--     
      The system.webServer section is required for running ASP.NET AJAX under Internet
      Information Services 7.0.  It is not necessary for previous version of IIS.
  -->
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <add name="UrlRoutingModule" type="System.Web.Routing.UrlRoutingModule, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    </modules>
    <directoryBrowse enabled="true" />
    <httpErrors errorMode="Detailed" />
  </system.webServer>
  <system.serviceModel>
    <extensions>
      <behaviorExtensions>
        <add name="messageBehaviourExtension" type="ServiceExtensions.MessageBehaviourExtension, ServiceExtensions, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
        <add name="clientBehaviourExtension" type="ServiceExtensions.ClientEndpointBehavior, ServiceExtensions, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
      </behaviorExtensions>
    </extensions>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
    <services>
      <service name="RemoteTasksService.Service" behaviorConfiguration="ServiceBehavior">
        <endpoint address="" behaviorConfiguration="ClientServiceBehavior" binding="webHttpBinding" bindingConfiguration="MessageSizeWeb" contract="RemoteTasksService.IService" />
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="ClientServiceBehavior">
          <clientBehaviourExtension/>
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <messageBehaviourExtension />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>

      <webHttpBinding>
        <binding name="MessageSizeWeb" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" />
      </webHttpBinding>

      <wsHttpBinding>
        <binding name="WSHttpBinding_Iservice" closeTimeout="00:30:00" openTimeout="00:30:00" receiveTimeout="00:10:00" sendTimeout="00:30:00" bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxReceivedMessageSize="2147483647" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false" />
          <security mode="None">
            <transport clientCredentialType="Windows" proxyCredentialType="None" realm="" />
            <message clientCredentialType="Windows" negotiateServiceCredential="true" />
          </security>
        </binding>
      </wsHttpBinding>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_INotificationService" />
      </basicHttpBinding>
    </bindings>

    <client>
      <endpoint behaviorConfiguration="ClientServiceBehavior" address="http://webservices/catalog_v4_0/service.svc"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_Iservice"
                contract="Catalog.Iservice" name="WSHttpBinding_Iservice" />
      <endpoint behaviorConfiguration="ClientServiceBehavior" address="http://webservices/notifications_v4_0/NotificationService.svc"
               binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_INotificationService"
               contract="ws_notifications.INotificationService" name="BasicHttpBinding_INotificationService" />
    </client>

  </system.serviceModel>
</configuration>

<!-- test amishai -->