<?xml version="1.0" encoding="utf-8"?>  
<!--  
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879  
  -->
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <section name="TCMConfig" type="Phx.Lib.Appconfig.TCMClient.TCMConfiguration, Phx.Lib.Appconfig" allowLocation="true" allowDefinition="Everywhere" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="WebAPI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="apiVersion" value="v5_3_0" />
  </appSettings>

  <system.serviceModel>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" aspNetCompatibilityEnabled="true" minFreeMemoryPercentageToActivateService="0" />
    <services>
    </services>
    <bindings>
    </bindings>
    <behaviors>
      <endpointBehaviors> 
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="CatalogBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <messageBehaviourExtension />
        </behavior>
        <behavior name="NotificationBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <messageBehaviourExtension />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <extensions>
      <behaviorExtensions>
        <add name="clientBehaviourExtension" type="ServiceExtensions.ClientEndpointBehavior, ServiceExtensions, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
        <add name="messageBehaviourExtension" type="ServiceExtensions.MessageBehaviourExtension, ServiceExtensions, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      </behaviorExtensions>
    </extensions>
  </system.serviceModel>
  <!--<couchbaseClients>
    <Couchbase useSsl="false">
      <servers>
        <add uri="http://couchbase1:8091/pools" /> 
        <add uri="http://couchbase2:8091/pools" />
        <add uri="http://couchbase3:8091/pools" />
      </servers>
      <buckets>
        <add name="OTT_Apps" useSsl="false" password="" operationLifespan="20000">
          <connectionPool name="custom" maxSize="10" minSize="5" sendTimeout="12000" />
        </add>
        <add name="epg_channels_schedule" useSsl="false" password="" operationLifespan="20000">
          <connectionPool name="custom" maxSize="10" minSize="5" sendTimeout="12000" />
        </add>
        <add name="statistics" useSsl="false" password="" operationLifespan="20000">
          <connectionPool name="custom" maxSize="10" minSize="5" sendTimeout="12000" />
        </add>
        <add name="Cache" useSsl="false" password="" operationLifespan="20000">
          <connectionPool name="custom" maxSize="10" minSize="5" sendTimeout="12000" />
        </add>
        <add name="MediaMarks" useSsl="false" password="" operationLifespan="20000">
          <connectionPool name="custom" maxSize="10" minSize="5" sendTimeout="12000" />
        </add>
        <add name="social" useSsl="false" password="" operationLifespan="20000">
          <connectionPool name="custom" maxSize="10" minSize="5" sendTimeout="12000" />
        </add>
        <add name="scheduled_tasks" useSsl="false" password="" operationLifespan="20000">
          <connectionPool name="custom" maxSize="10" minSize="5" sendTimeout="12000" />
        </add>
      </buckets>
    </Couchbase>
  </couchbaseClients>-->

  <!--<TCMConfig URL="http://tcm:8080" Application="OTT_API_v5_3_0" Host="main" Environment="base" AppSecret="5aaa99331c18f6bad4adeef93ab770c2" AppID="5bf8cf60" />-->
  <TCMConfig URL="http://tcm.service.consul:9092" Application="OTT_API_SV" Host="PROD_v5_2_2" Environment="main" AppSecret="5aaa99331c18f6bad4adeef93ab770c2" AppID="5bf8cf60" />
  <!--<TCMConfig URL="http://tcm.service.consul:8080" Application="OTT_API_SV" Host="main" Environment="https" AppSecret="5aaa99331c18f6bad4adeef93ab770c2" AppID="5bf8cf60" />-->
    
  <system.web>
    <webServices>
      <soapExtensionTypes>
        <add type="ServiceExtensions.WSExtension, ServiceExtensions" />
      </soapExtensionTypes>
    </webServices>
    <httpRuntime targetFramework="4.8" enableVersionHeader="false" relaxedUrlToFileSystemMapping="true" maxUrlLength="1024" maxRequestLength="700000000" />
    <compilation targetFramework="4.8" debug="true">
      <assemblies>
        <remove assembly="Microsoft.VisualStudio.Web.PageInspector.Loader, Version=1.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      </assemblies>
    </compilation>
    <pages controlRenderingCompatibilityVersion="4.0" />
    <customErrors mode="Off" />
  </system.web>

  <applicationSettings>
    <WebAPI.Properties.Settings>
      <setting name="WebAPI_Social_module" serializeAs="String">
        <value>http://localhost/ws_social/module.asmx</value>
      </setting>
      <setting name="WebAPI_ConditionalAccess_module" serializeAs="String">
        <value>http://localhost/WS_ConditionalAccess/module.asmx</value>
      </setting>
      <setting name="WebAPI_Domains_module" serializeAs="String">
        <value>http://webservices/domains_V4_3/module.asmx</value>
      </setting>
      <setting name="WebAPI_Pricing_mdoule" serializeAs="String">
        <value>http://webservices/pricing_V4_3/module.asmx</value>
      </setting>
      <setting name="WebAPI_Users_UsersService" serializeAs="String">
        <value>http://webservices/users_V4_3/module.asmx</value>
      </setting>
      <setting name="WebAPI_Billing_module" serializeAs="String">
        <value>http://localhost/WS_Billing/module.asmx</value>
      </setting>
      <setting name="WebAPI_Api_API" serializeAs="String">
        <value>http://webservices/api_V4_3/api.asmx</value>
      </setting>
    </WebAPI.Properties.Settings>
  </applicationSettings>
  <system.webServer>
    <handlers accessPolicy="Read, Execute, Script">
      <add name="WsModuleHandler" verb="*" path="module.asmx" type="WebAPI.WsModuleHandler" />
      <add name="ExtWsPagesHendler" verb="*" path="*.aspx" type="WebAPI.ExtWsPagesHendler" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="WebDAVModule" />
      <!-- add this -->
    </modules>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="700000000" />
      </requestFiltering>
    </security>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
     <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
     </dependentAssembly>
     <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
     </dependentAssembly>
     <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
     </dependentAssembly>
     <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
     </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>  
      <dependentAssembly>
        <assemblyIdentity name="EPPlus" publicKeyToken="ea159fdaa78159a1" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.5.3.2" newVersion="4.5.3.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.29.0" newVersion="4.2.29.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.12.0" newVersion="2.0.12.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ServiceModel.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.5.0.3" newVersion="4.5.0.3" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Configuration.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Primitives" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.1" newVersion="5.0.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Options" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Collections.Immutable" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.5.0" newVersion="1.2.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="LaunchDarkly.CommonSdk" publicKeyToken="45ef1738a929a7df" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.4.0.0" newVersion="5.4.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="LaunchDarkly.ServerSdk" publicKeyToken="F86ADD69004E6885" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.2.2.0" newVersion="6.2.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="CC7B13FFCD2DDD51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="LaunchDarkly.EventSource" publicKeyToken="18e8c36453e3060f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.3.0" newVersion="4.1.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="LaunchDarkly.JsonStream" publicKeyToken="baa039a572ce18d0" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.3.0" newVersion="1.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="LaunchDarkly.InternalSdk" publicKeyToken="ff53908ab73043b6" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.3.1.0" newVersion="2.3.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="OpenTracing" publicKeyToken="61503406977abdaf" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.12.1.0" newVersion="0.12.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Configuration" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Configuration.Binder" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Encodings.Web" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Configuration.EnvironmentVariables" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Protobuf" publicKeyToken="a7d26565bac4d604" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.18.0.0" newVersion="3.18.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Channels" culture="neutral" publicKeyToken="cc7b13ffcd2ddd51" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Security.Principal.Windows" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.3.0" newVersion="4.1.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Couchbase.NetClient" culture="neutral" publicKeyToken="05e9c6b5a9ec94c2" />
        <bindingRedirect oldVersion="0.0.0.0-2.7.27.0" newVersion="2.7.27.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
    </assemblyBinding>       
  </runtime>
</configuration>
