<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <appSettings>
    <add key="il.co.mediazone.web11.service" value="http://web11.mediazone.co.il/tvinciDRM/service.asmx" />
    <add key="pricing_connection" value="Driver={SQL Server};Server=192.168.192.138;Database=pricing;Uid=production;Pwd=lF6CZU9HIOIAGuzj;Trusted_Connection=False;Min Pool Size=5;Max Pool Size=200" />
    <add key="CONNECTION_STRING" value="Driver={SQL Server};Server=192.168.192.138;Database=tvinci;Uid=production;Pwd=lF6CZU9HIOIAGuzj;Trusted_Connection=False;Min Pool Size=5;Max Pool Size=200" />
    <add key="users_connection" value="Driver={SQL Server};Server=192.168.192.138;Database=users;Uid=production;Pwd=lF6CZU9HIOIAGuzj;" />
    <!--<add key="MAIN_CONNECTION_STRING" value="Driver={SQL Server};Server=72.26.211.99;Database=tvinci_Staging;Uid=production;Pwd=lF6CZU9HIOIAGuzj;Trusted_Connection=False;Min Pool Size=5;Max Pool Size=200"/>-->
    <add key="MAIN_CONNECTION_STRING" value="Driver={SQL Server};Server=192.168.192.138;Database=tvinci;Uid=production;Pwd=lF6CZU9HIOIAGuzj;Trusted_Connection=False;Min Pool Size=5;Max Pool Size=200" />
    <add key="MAIN_US_CONNECTION_STRING" value="Driver={SQL Server};Server=192.168.192.138;Database=tvinci;Uid=production;Pwd=lF6CZU9HIOIAGuzj;Trusted_Connection=False;Min Pool Size=5;Max Pool Size=200" />
    <!--add key="CONNECTION_STRING" value="Driver={SQL Server};Server=msd169.1host.co.il;Database=tvinci;Uid=production;Pwd=lF6CZU9HIOIAGuzj;"/-->
    <!--add key="writable_CONNECTION_STRING" value="Driver={SQL Server};Server=wd169.1host.co.il;Database=tvinci;Uid=production;Pwd=lF6CZU9HIOIAGuzj;Trusted_Connection=False;Min Pool Size=5;Max Pool Size=200"/-->
    <!--add key="writable_CONNECTION_STRING" value=""/-->
    <add key="LOGS_PATH" value="C:\\temp" />
    <add key="SERVER_NAME" value="US-100" />
    <add key="APPLICATION_NAME" value="PLATFORM" />
    <add key="BILLING_CONNECTION_STRING" value="Driver={SQL Server};Server=192.168.192.138;Database=billing;Uid=production;Pwd=lF6CZU9HIOIAGuzj;Trusted_Connection=False;Min Pool Size=5;Max Pool Size=200" />
    <add key="TVP_CONNECTION_STRING" value="Driver={SQL Server};Server=192.168.192.138;Database=tvp_novebox;Uid=production;Pwd=lF6CZU9HIOIAGuzj;" />
    <add key="CONNECTION_LOCK_TIMEOUT" value="2000" />
    <add key="ODBC_CACHE_SEC" value="1200" />
    <add key="QUERY_LONG" value="50" />
    <add key="SMS_WS_UN" value="guy_tvinci" />
    <add key="bftv_ws" value="http://beta.babyfirsttv.com/TvApi.wsdl" />
    <add key="SMS_WS_URL" value="http://www.smscenter.co.il/Web/WebServices/SendMessage.asmx" />
    <add key="SMS_WS_PASS" value="1ff28c3aaec95f0d43b76dc3d1caa36f" />
    <add key="SMS_WS_PHONES" value="0546812480;0547969518" />
    <add key="SMS_WS_MAILS" value="guy@tvinci.com" />
    <add key="Tvinci.Data.TVMDataLoader.Protocols.GroupsMedia.GroupMedias" value="ProtocolHandler.GroupsMediaProtocolHandler, ProtocolHandler" />
    <add key="Tvinci.Data.TVMDataLoader.Protocols.TVMMenu.TVMMenu" value="ProtocolHandler.TVMMenuProtocolHandler, ProtocolHandler" />
    <add key="Tvinci.Data.TVMDataLoader.Protocols.GroupMediaTypes.GroupMediaTypes" value="ProtocolHandler.MediaTypesProtocolHandler, ProtocolHandler" />
    <add key="BaseProtocolNamespace" value="Tvinci.Data.TVMDataLoader" />
    <add key="Tvinci.Data.TVMDataLoader.Protocols.GroupChannels.GroupChannels" value="ProtocolHandler.GroupChannelsProtocolHandler, ProtocolHandler" />
    <add key="Tvinci.Data.TVMDataLoader.Protocols.MediaInfoStruct.MediaInfoStruct" value="ProtocolHandler.MediaInfoStructProtocolHandler, ProtocolHandler" />
    <add key="Tvinci.Data.TVMDataUpdater.Protocols.MediaCUDItem.MediaCUDItem" value="ProtocolHandler.MediaCUDProtocolHandler, ProtocolHandler" />
    <add key="Tvinci.Data.TVMDataLoader.Protocols.MediaDetails.MediaDetails" value="ProtocolHandler.MediaDetailsProtocolHandler, ProtocolHandler" />
    <add key="media_searcher" value="Catalog.Searchers.ElasticsearchWrapper, Catalog" />
    <!--<add key="LUCENE_WCF" value="http://lucene-hk.tvinci.com/v1_1/Service.svc"/>-->
    <add key="LUCENE_WCF" value="http://localhost:8080/lucenewcf/service.svc" />
    <!--<add key="LUCENE_WCF" value="http://192.168.16.108/wcf_lucene/service.svc"/>-->
    <add key="ES_URL" value="http://192.168.16.160:9200" />
    <add key="LOG4NET_PATH" value="C:\\log\\" />
    <!--add key="LOG4NET_PATH" value ="C:\Users\gilad.m.TVINCI.000\Desktop\MyTest\Logger\Log4Net.config"/>-->
    <add key="LOG4NET_CONFIG_PATH" value="C:\ode\TVM\Libs\Core\Logger\Log4Net.config" />
    <add key="hmacSecret" value="liat regev" />
    <!--<add key="StagingDB" value="_Staging"/>-->
    <add key="StagingDB" value="" />
    <!--<add key="StoredProcedureDB" value="TVinci"/>-->
    <!--http://lucene.dev.tvincidns.com/service.svc?wsdl-->
    <!-- RabbitMq Configurations -->
    <add key="hostName" value="http://192.168.16.178" />
    <add key="userName" value="guest" />
    <add key="password" value="guest" />
    <add key="port" value="15672" />
    <add key="routingKey" value="testTopic" />
    <add key="exchange" value="es_exchange" />
    <add key="queue" value="myQueue" />
    <add key="virtualHost" value="/" />
    <add key="exchangeType" value="topic" />
    <add key="queue-endpoint" value="http://192.168.16.178:5672" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
    </assemblyBinding>
  </runtime>
</configuration>