<?xml version="1.0"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ITVPConfigSvc"/>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://msedge.prd.tvincidns.com/ws/TVPConfigSvc.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITVPConfigSvc" contract="ConfigSvc.ITVPConfigSvc" name="BasicHttpBinding_ITVPConfigSvc"/>
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
