<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
  <appSettings>
    <add key="il.co.mediazone.web11.service" value="http://web11.mediazone.co.il/tvinciDRM/service.asmx"/>
    <add key="CONNECTION_STRING" value="Driver={SQL Server};Server=msd169.1host.co.il;Database=tvinci;Uid=production;Pwd=lF6CZU9HIOIAGuzj;Trusted_Connection=False;Min Pool Size=5;Max Pool Size=200"/>
    <!--add key="writable_CONNECTION_STRING" value=""/-->
    <add key="CONNECTION_LOCK_TIMEOUT" value="2000"/>
    <add key="ODBC_CACHE_SEC" value="1200"/>
    <add key="QUERY_LONG" value="50"/>
    <add key="SMS_WS_UN" value="guy_tvinci"/>
    <add key="SMS_WS_URL" value="http://www.smscenter.co.il/Web/WebServices/SendMessage.asmx"/>
    <add key="SMS_WS_PASS" value="1ff28c3aaec95f0d43b76dc3d1caa36f"/>
    <add key="SMS_WS_PHONES" value="0546812480"/>
    <add key="SMS_WS_MAILS" value="guy@tvinci.com"/>
  </appSettings>
</configuration>
