<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SeriesRecordingTaskHandler.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <SeriesRecordingTaskHandler.Properties.Settings>
            <setting name="SeriesRecordingTaskHandler_WS_CAS_module" serializeAs="String">
                <value>http://localhost/WS_ConditionalAccess/module.asmx</value>
            </setting>
        </SeriesRecordingTaskHandler.Properties.Settings>
    </applicationSettings>
</configuration>