<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="M1BL.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <M1BL.Properties.Settings>
            <setting name="M1BL_AdsService_AuthorizationWebServiceService" serializeAs="String">
                <value>http://ads1.m1.com.sg/ws/AuthorizationWebService.jws</value>
            </setting>
            <setting name="M1BL_MobileOneBusinessFascadeService_ServiceInterface" serializeAs="String">
                <value>http://proximityws3.m1.com.sg/MobileOneBusinessFascade/serviceinterface/serviceinterface.asmx</value>
            </setting>
            <setting name="M1BL_SingleSignOnService_ServiceFacade" serializeAs="String">
                <value>http://proximityws3.m1.com.sg/SingleSignOn/ServiceFacade.asmx</value>
            </setting>
        </M1BL.Properties.Settings>
    </applicationSettings>
    <system.serviceModel>
        <bindings/>
        <client/>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
