<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_INotificationService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost/Notifications_V4_0/NotificationService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_INotificationService"
                contract="ws_notifications.INotificationService" name="BasicHttpBinding_INotificationService" />
        </client>
    </system.serviceModel>
</configuration>