<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <log4net debug="true">
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file type="log4net.Util.PatternString" value="%property{LogDir}/%property{log4net:HostName}_ws-ingest-%property{LogName}.log" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="10MB" />
      <filter type="log4net.Filter.LevelRangeFilter">
        <acceptOnMatch value="true" />
        <levelMin value="info" />
        <levelMax value="fatal" />
      </filter>
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%p %d class:%mdc{kmon_class} topic:%mdc{kmon_topic_log} server:%mdc{kmon_server} ip:%mdc{kmon_host_ip} reqid:%mdc{kmon_req_id} partner:%mdc{kmon_group_id} action:%mdc{kmon_action} uid:%mdc{kmon_user_id} msg:%m%n" />
      </layout>
    </appender>
    <appender name="monitorAppender" type="log4net.Appender.RollingFileAppender">
      <file type="log4net.Util.PatternString" value="%property{LogDir}/%property{log4net:HostName}_ws-ingest-monitor-%property{LogName}.mon" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="10MB" />
      <filter type="log4net.Filter.LevelRangeFilter">
        <acceptOnMatch value="true" />
        <levelMin value="Trace" />
        <levelMax value="Trace" />
      </filter>
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value='%p %d {"x":"%mdc{x}","m":"%mdc{m}","e":"%mdc{e}","s":"%mdc{s}","i":"%mdc{i}","u":"%mdc{u}","p":"%mdc{p}","a":"%mdc{a}","l":"%mdc{l}","r":"%mdc{r}","t":"%mdc{t}","q":"%mdc{q}","d":"%mdc{d}"}%n' />
      </layout>
    </appender>
    <appender name="DebugRollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file type="log4net.Util.PatternString" value="%property{LogDir}/%property{log4net:HostName}_ws-ingest-debug-%property{LogName}.log" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="10MB" />
      <filter type="log4net.Filter.LevelRangeFilter">
        <acceptOnMatch value="true" />
        <levelMin value="debug" />
        <levelMax value="debug" />
      </filter>
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%p %d class:%mdc{kmon_class} topic:%mdc{kmon_topic_log} server:%mdc{kmon_server} ip:%mdc{kmon_host_ip} reqid:%mdc{kmon_req_id} partner:%mdc{kmon_group_id} action:%mdc{kmon_action} uid:%mdc{kmon_user_id} msg:%m%n" />
      </layout>
    </appender>
    
    <appender name="ThirdPartyLogsAppender" type="log4net.Appender.RollingFileAppender">
      <file type="log4net.Util.PatternString" value="%property{LogDir}/%property{log4net:HostName}_ws-ingest-external-%property{LogName}.log" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%p %d class:%mdc{kmon_class} topic:%mdc{kmon_topic_log} server:%mdc{kmon_server} ip:%mdc{kmon_host_ip} reqid:%mdc{kmon_req_id} partner:%mdc{kmon_group_id} action:%mdc{kmon_action} uid:%mdc{kmon_user_id} msg:%m%n" />
      </layout>
    </appender>

    <appender name="ColoredConsoleAppender" type="log4net.Appender.ManagedColoredConsoleAppender">
      
      <filter type="log4net.Filter.LoggerMatchFilter" >
        <acceptOnMatch value="false" />
        <LoggerToMatch value="Microsoft.AspNetCore.Hosting.Diagnostics" />
      </filter>
      
      <filter type="log4net.Filter.LevelRangeFilter">
        <acceptOnMatch value="true" />
        <levelMin value="Trace" />
        <levelMax value="Info" />
      </filter>
      <mapping>
        <level value="ERROR" />
        <foreColor value="DarkRed" />
        <backColor value="White" />
      </mapping>
      <mapping>
        <level value="WARN" />
        <foreColor value="Yellow" />
      </mapping>
      <mapping>
        <level value="INFO" />
        <foreColor value="Green" />
      </mapping>
      <mapping>
        <level value="DEBUG" />
        <foreColor value="Cyan" />
      </mapping>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%p %d class:%mdc{kmon_class} topic:%mdc{kmon_topic_log} server:%mdc{kmon_server} ip:%mdc{kmon_host_ip} reqid:%mdc{kmon_req_id} partner:%mdc{kmon_group_id} action:%mdc{kmon_action} uid:%mdc{kmon_user_id} msg:%m%n" />
      </layout>
    </appender>
    <root>
      <level value="ALL" />
      <appender-ref ref="RollingLogFileAppender" />
      <appender-ref ref="DebugRollingLogFileAppender" />
      <appender-ref ref="monitorAppender" />
      <appender-ref ref="ColoredConsoleAppender" />
    </root>
    
    <logger name="Microsoft.AspNetCore.Hosting.Diagnostics" additivity="false">
      <level value="ALL" />
      <appender-ref ref="ThirdPartyLogsAppender" />
    </logger>
    
  </log4net>
</configuration>

