<?xml version="1.0" encoding="UTF-8"?>

<PlatformServicesData xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="..\..\..\..\..\Libs\TVPPro.Configuration\PlatformServices\PlatformServicesData.xsd">
  <UsersService URL="http//platform-us.tvinci.com/users/module.asmx">
    <DefaultUser>users_93</DefaultUser>
    <DefaultPassword>11111</DefaultPassword>
  </UsersService>
  <ConditionalAccessService URL="http://platform-us.tvinci.com/ca/module.asmx">
    <DefaultUser>conditionalaccess_93</DefaultUser>
    <DefaultPassword>11111</DefaultPassword>
    <GetUserPermittedItems UserName="conditionalaccess" Password="11111" />
  </ConditionalAccessService>
  <ApiService URL="http://platform-us.tvinci.com/api/api.asmx">
    <DefaultUser>api_93</DefaultUser>
    <DefaultPassword>11111</DefaultPassword>
  </ApiService>
  <PricingService URL="http://platform-us.tvinci.com/pricing/module.asmx">
    <DefaultUser>pricing_93</DefaultUser>
    <DefaultPassword>11111</DefaultPassword>
  </PricingService>
  <BillingService URL="http://platform-us.tvinci.com/billing/module.asmx">
    <DefaultUser>billing_93</DefaultUser>
    <DefaultPassword>11111</DefaultPassword>
  </BillingService>
</PlatformServicesData>
