<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="MSSQL_SERVER_NAME" value="msd169.1host.co.il"/>
    <add key="DB_NAME" value="tvinci"/>
    <add key="UN" value="production"/>
    <add key="PS" value="lF6CZU9HIOIAGuzj"/>
    <add key="ODBC_CACH_SEC" value="0"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
