<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="TCMConfig" type="TCMClient.TCMConfiguration, TCMClient" allowLocation="true" allowDefinition="Everywhere" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="WAP_TVPApi.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <section name="TVinciDBConfig" type="TVPApi.TVinciDBConfiguration, TVPApiModule" allowLocation="true" allowDefinition="Everywhere" />
    <section name="CouchbaseSectionMapping" type="System.Configuration.NameValueFileSectionHandler,System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
  </configSections>

  <TCMConfig URL="http://tcm:8080" Application="OTT_API_v5_2_8" Host="main" Environment="base" AppSecret="5aaa99331c18f6bad4adeef93ab770c2" AppID="5bf8cf60" />
  
  <CouchbaseSectionMapping>
    <add key="authorization" value="OTT_Apps" />
  </CouchbaseSectionMapping>
  
  <TVinciDBConfig User="production" Pass="lF6CZU9HIOIAGuzj" DBServer="amazonSQL" DBInstance="TVinci" />
  
  <applicationSettings>
    <WAP_TVPApi.Properties.Settings>
      <setting name="WAP_TVPApi_il_co_smscenter_www_SendSMS" serializeAs="String">
        <value>http://www.smscenter.co.il/Web/WebServices/SendMessage.asmx</value>
      </setting>
    </WAP_TVPApi.Properties.Settings>
  </applicationSettings>

  <appSettings file="Configuration/GlobalAppSettings.config">
    <!-- this is good -->
    <add key="apiVersion" value="v5_2_5_NetCore" />
    
    <!-- these are from old tvpapi, are they still needed? -->
    <add key="AppEnvironment" value="test" />
    <add key="TVPPro.Configuration.Online" value="~/Configuration/OnlineConfiguration.config" />
    <!--<add key="Log4NetConfiguration" value="log4net.config" />-->
    <!--<add key="log4net.Internal.Debug" value="false" />-->
    <add key="TechnicalIP" value="*" />
    <add key="IsDebug" value="false" />
    <add key="Tvinci.DataLoader.CacheLite.ShouldUseCache" value="true" />
    <add key="il.co.smscenter.www.SendMessage" value="http://www.smscenter.co.il/Web/WebServices/SendMessage.asmx" />
    <add key="ShouldUseNewCache" value="true" />
    <add key="UseAlwaysOn" value="true" />
    <!--222_Web,222_Cellular,222_iPad,222_STB -->
     <add key="Authorization.GroupConfigsTtlSeconds" value="120"/> 
    <!--<add key="Authorization.UnsupportedGroupsPlatforms" value="{groupID}_{Platform}"/>-->
    <add key="Authorization.UnsupportedGroupsPlatforms" value="306_Web,306_iPad,306_Cellular,225_Web,225_Cellular,225_iPad,222_Web,222_Cellular,222_iPad,222_STB,219_Web,219_Cellular,219_iPad,219_STB,219_ConnectedTV,214_Web,214_Cellular,214_iPad,214_STB,198_Web,198_STB,198_iPad,198_Cellular,185_Cellular,185_STB,185_iPad,195_Web,195_Cellular,195_iPad,195_STB,167_Web,167_Cellular,167_iPad,167_STB,159_Web,159_Cellular,159_iPad,159_STB,203_Web" />
    <!--   -->
    <!--Enable this key to generate new Token for new groups, CHECK CouchBase BEFORE creating new one   -->
    <!-- <add key="Authorization.AuthorizedMethods" value="GenerateDeviceToken,ExchangeDeviceToken,RefreshAccessToken,GenerateAppCredentials"/> -->
    <!--  -->
  </appSettings>
  
</configuration>