* { font-family:Arial, Helvetica, sans-serif;}
body.admin_body {
	background:url(../images/admin-bg.png) top repeat-x;
	/*direction: ltr;
	overflow: auto;
	vertical-align: top;*/
	margin:0;
}
.admContainer { width:980px;}


body.flash_wind {
	background: #FFFFFF;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-left: 0px;
	margin-top: 0px;
	overflow: hidden;
	padding: 0px 0px 0px 0px;
	text-align: left;
	vertical-align: top;
}

.adm_main_header { 
	color: #666666;
	font-size: 16px; 
	font-weight: bold; 
	text-decoration: none;
	height: 45px; 
	vertical-align:top;
	line-height:29px;
}
.adm_right_menu .adm_main_header {
	height: 45px; 
	vertical-align:top;
	line-height:29px;
	/*background:url(../images/horizon_line_breaker.gif) bottom center no-repeat;*/
}
.adm_header {
	color: #F47821;
	font-family: Arial, Arial, David, Courier New;
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
}

.adm_table_header { background:url(../images/adm_table_headerBg.gif) bottom repeat-x #ffffff; border: #9e9e9e solid 1px; color: #666666; font-size: 12px; font-weight: bold; text-decoration: none; height: 25px; 
}
span.adm_table_header_nbg { font-size:12px;}
td.adm_table_header_nbg { color: #000000; font-size: 14px; text-decoration: none; text-align: right; padding: 0 10px; vertical-align: top; 
}

.red { color:red;}
.selectorTop .red { font-size:12px;}
.adm_table_cell { background: #eeeeee; color: #000000; font-size: 12px; font-weight: normal; text-decoration: none; vertical-align: top; 
}
.adm_table_cell td,
.adm_table_alt_cell td,
.adm_table_mo_cell td { padding:2px 5px;}
.adm_table_cell_nbg {
	color: #000000;
	font-family: Arial, Arial, David, Courier New;
	font-size: 12px;
	font-weight: normal;
	text-decoration: none;
	vertical-align: top;
}

.adm_table { background: #FFFFFF; width: 100%; border-collapse:collapse; border-bottom: #9e9e9e solid 1px; margin-bottom: 5px; 
}
.adm_table td { white-space:normal; /*#white-space:;*/}
.adm_table_alt_cell { background: #ffffff; color: #000000; font-size: 12px; font-weight: normal; text-decoration: none; vertical-align: top; 
}

.adm_table_mo_cell {
	background-color: #d5e4e9;
	color: #000000;
	font-size: 12px;
	font-weight: normal;
	text-decoration: none;
	vertical-align: top;
}

.adm_table_pager {
	background: #FBF9FC;
	color: #000000;
	font-family: Arial, Arial, David, Courier New;
	font-size: 12px;
	font-weight: normal;
	text-align: center;
	vertical-align: middle;
}

.adm_table_pager_white { background: #FFFFFF; color: #000000; font-size: 12px; font-weight: normal; text-align: center; vertical-align: middle; width: 100%; margin-bottom: 15px; margin-top: 3px; 
}

A.adm_table_link:link { color: #000000; font-size: 12px; font-weight: normal; text-decoration: underline; 
}

A.adm_table_link:visited { color: #000000; font-size: 12px; font-weight: normal; text-decoration: underline; 
}

A.adm_table_link:active { color: #F47821; font-size: 12px; font-weight: normal; text-decoration: underline; 
}

A.adm_table_link:hover { color: #F47821; font-size: 12px; font-weight: normal; text-decoration: underline; 
}

A.adm_table_link_div:link { color: #888888; font-size: 12px; font-weight: normal; text-decoration: underline; 
}

A.adm_table_link_div:visited { color: #888888; font-size: 12px; font-weight: normal; text-decoration: underline; 
}

A.adm_table_link_div:active { color: #F47821; font-size: 12px; font-weight: normal; text-decoration: underline; 
}

A.adm_table_link_div:hover { color: #F47821; font-size: 12px; font-weight: normal; text-decoration: underline; 
}

.adm_top_banner { height: 104px; vertical-align: top; 
}
.adm_logOutTbl { padding: 5px; margin-top: 12px; height: 78px; background:url(../images/admin-logBg.gif) left top no-repeat; border-collapse:collapse; float: right; }
.adm_logOutTbl .Right {background:url(../images/admin-logBg.gif) right top no-repeat;}
.adm_logOutTbl td { padding-top:0;}
.adm_right_menu { vertical-align: top; white-space: nowrap; width: 220px; 
}
.logo { padding:0 5px; border-right: 1px solid #ddd; }
.logo img { height: 68px; }
.adm_right_menu table { width:220px; border-collapse:collapse; font-size:12px; font-weight:bold;}

.adm_right_menu_no_adg {
	background: #FCFCFC;
	vertical-align: top;
	white-space: nowrap;
	width: 120px;
}

.horizon_line_breaker {
	background:url(../images/horizon_line_breaker.gif) top center no-repeat;
	height: 1px;
	white-space: nowrap;
	width: 100%;
}

.menu_horizon_line_breaker {
	background: #F96501;
	height: 1px;
	white-space: nowrap;
	width: 100%;
}

.horizon_line_space { height: 5px; white-space: nowrap; width: 100%; 
}

.vertical_line_breaker_left {
	border-left-color: #aaaaaa;
	border-left-style: solid;
	border-left-width: 1px;
	white-space: nowrap;
	width: 1px;
}

.vertical_line_breaker_right {
	border-right-color: #aaaaaa;
	border-right-style: solid;
	border-right-width: 1px;
	white-space: nowrap;
	width: 1px;
}

.header_text {
	color: #000000;
	font-family: Arial, Arial, David, Courier New;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
	vertical-align: top;
}

.small_text { color: #999; font-family: Arial, Arial, David, Courier New; font-size: 11px; font-weight: bold; vertical-align: middle; padding-right: 15px;  text-align: left; padding-left: 0px; }

.small_header { color: #666; font-family: Arial, Arial, David, Courier New; font-size: 11px; font-weight: bold; vertical-align: middle; padding-left: 2px; text-align:left; }

.FormButton {
	background: #FCFCFC;
	border-color: #aaaaaa;
	border-style: solid;
	border-width: 1px;
	cursor: pointer;
	font-family: Arial, Arial, David, Courier New;
	font-size: 12px;
}

.FormEmptyButton {
	height: 0px;
	width: 0px;
}

.FormButtonOver {
	background: #e5e5e5;
	border-color: #aaaaaa;
	border-style: solid;
	border-width: 1px;
	cursor: pointer;
	font-family: Arial, Arial, David, Courier New;
	font-size: 12px;
}

.FormButtonSmall {
	background: #FCFCFC;
	border-color: #aaaaaa;
	border-style: solid;
	border-width: 1px;
	cursor: pointer;
	font-family: Arial, Arial, David, Courier New;
	font-size: 12px;
	padding: 0px 0px 0px 0px;
}

.FormButtonSmallOver {
	background: #e5e5e5;
	border-color: #aaaaaa;
	border-style: solid;
	border-width: 1px;
	cursor: pointer;
	font-family: Arial, Arial, David, Courier New;
	font-size: 12px;
	padding: 0px 0px 0px 0px;
}

.FormInputLTR {
	background: #e5e5e5;
	border-color: #8B898A;
	border-width: 1px;
	color: #525252;
	direction: ltr;
	font-family: Verdana;
	font-size: 12px;
	font-weight: normal;
}

.FormInput { background: #ffffff; border-color: #8B898A; border-width: 1px; color: #000000; font-family: Verdana; font-size: 12px; font-weight: normal; vertical-align: middle; 
}
.FormError { background: #ffffff; border-color: #8B898A; border-width: 1px; color: red; font-family: Verdana; font-size: 10px; font-weight: normal; vertical-align: middle; }
.FormInputSmall { background: #EEEEEE; border-color: #8B898A; border-width: 1px; color: #000000; font-family: Verdana; font-size: 10px; font-weight: normal; display: inline; background-color: #FFFFFF; 
}

.FormInputnbg {
	border-color: #8B898A;
	border-width: 1px;
	color: #000000;
	font-family: Verdana;
	font-size: 12px;
	font-weight: normal;
}

.alert_text {
	color: #F96501;
	font-family: Arial, Arial, David, Courier New;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
}

.ok_text {
	color: blue;
	font-family: Arial, Arial, David, Courier New;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
}

A.uppermenu:link {
	color: #000000;
	font-family: Arial, Arial, David, Courier New;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
}

A.uppermenu:visited {
	color: #000000;
	font-family: Arial, Arial, David, Courier New;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
}

A.uppermenu:active {
	color: #F96501;
	font-family: Arial, Arial, David, Courier New;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
}

A.uppermenu:hover {
	color: #000000;
	font-family: Arial, Arial, David, Courier New;
	font-size: 12px;
	font-weight: bold;
	text-decoration: underline;
}

A.uppermenu_sel:link {
	color: #F96501;
	font-family: Arial, Arial, David, Courier New;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
}

A.uppermenu_sel:visited {
	color: #F96501;
	font-family: Arial, Arial, David, Courier New;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
}

A.uppermenu_sel:active {
	color: #F96501;
	font-family: Arial, Arial, David, Courier New;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
}

A.uppermenu_sel:hover {
	color: #F96501;
	font-family: Arial, Arial, David, Courier New;
	font-size: 12px;
	font-weight: bold;
	text-decoration: underline;
}

a.logout { color: #ffffff; font-family: Arial, Arial, David, Courier New; font-size: 12px; font-weight: bold; text-decoration: underline; background:url(../images/but_logout.gif) no-repeat; width:60px; height:20px; display:block; text-align:center; line-height:30px; 
}

a.logout:hover { text-decoration: none; background-position:left -20px; }

.subcategorymenu_sel_outer {
	/*background: #eeeeee;
	cursor: pointer;*/
	background-color:red;
}

.subcategorymenu_outer {
	/*background: #FCFCFC;
	cursor: pointer;*/
}

.categorymenu_sel_outer {
	/*background: #eeeeee;
	border-color: #8B898A;
	border-style: solid;
	border-width: 1px;
	cursor: pointer;
	text-align: center;*/
}
.selectorTop .categorymenu_sel_outer {	
	background:url(../images/butCategorymenu_sel_outer.png) no-repeat;
	width:172px;
	height:27px;
	color:#FFFFFF;
	font-weight:bold;
	font-size:14px;
	text-align:center;
}
.selectorTop a.subcategorymenu_sel,
.selectorTop a.subcategorymenu_sel:hover {
	font-size: 14px;
	color:#FFFFFF;
	text-decoration: none;
}

.categorymenu_outer { 
	/*background: #f8f8f8; 
	border-color: #8B898A; 
	border-style: solid; 
	border-width: 1px; 
	cursor: pointer; 
	color: #FFFFFF; */
}
.selectorTop .categorymenu_outer {
	background:url(../images/butCategorymenu_outer.png) no-repeat;
	width:172px;
	height:27px;
	color:#FFFFFF;
	font-weight:bold;
	font-size:14px;
	text-align:center;
}
.selectorTop a.subcategorymenu,
.selectorTop a.subcategorymenu:hover { font-size: 14px!important; color:#333333; text-decoration: none; 
}




.adm_right_menu .categorymenu_outer { 
	background:url(../images/categorymenu_outer.gif) no-repeat;
	height:26px; 
	cursor: pointer; 
	color: #FFFFFF;
	border:0;
	line-height:26px;
	padding:0;
	text-indent:6px; 
}

.left_menu
{
	height:100px; 
	color: #FFFFFF;
	border:0;
	padding:2px;
}

.adm_right_menu .categorymenu_outer A.subcategorymenu {color: #FFFFFF;}

.adm_right_menu .categorymenu_outer A.subcategorymenu:visited {color: #FFFFFF;}

.adm_right_menu .categorymenu_outer A.subcategorymenu:active {color: #FFFFFF;}

.adm_right_menu .categorymenu_outer A.subcategorymenu:hover {color: #FFFFFF;}

.subcategorymenu_sel_outer {
	background: #eeeeee;
	border-color: #8B898A;
	border-style: solid;
	border-width: 1px;
	cursor: pointer;
}
.adm_right_menu  .subcategorymenu_sel_outer {
	background:url(../images/subcategorymenu_sel_outer.gif);
	border:0;
	line-height:26px;
	padding:0;
	text-indent:6px;
	cursor: pointer;
}
.subcategorymenu_outer {
	background: #FCFCFC;
	border-color: #FFFFFF;
	border-style: solid;
	border-width: 1px;
	cursor: pointer;
}
.adm_right_menu .subcategorymenu_outer {
	background:url(../images/subcategorymenu_outer.gif);
	border:0;
	line-height:26px;
	padding:0;
	text-indent:6px; 
	cursor: pointer;
} 
A.subcategorymenu:link {
	color: #000000;
	font-family: Arial, Arial, David, Courier New;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
}

A.subcategorymenu:visited {
	color: #000000;
	font-family: Arial, Arial, David, Courier New;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
}

A.subcategorymenu:active { color: #000000; font-family: Arial, Arial, David, Courier New; font-size: 12px; font-weight: bold; text-decoration: none; 
}

A.subcategorymenu:hover { color: #000000!important; font-family: Arial, Arial, David, Courier New; font-size: 12px; font-weight: bold; text-decoration: none; 
}

a.subcategorymenu_sel { color: #000000; font-family: Arial, Arial, David, Courier New; font-size: 12px; font-weight: bold; text-decoration: none; }

A.subcategorymenu_sel:hover { color: #000000; font-family: Arial, Arial, David, Courier New; font-size: 12px; font-weight: bold; text-decoration: none; }


/*A.tags:hover {
	color: #F96501;
	font-family: Arial, Arial, David, Courier New;
	font-size: 14px;
	font-weight: normal;
	text-decoration: underline;
}*/

A.tags_selected:active,A.tags_selected:visited,A.tags_selected:link,
A.tags_selected:hover { color: #FFFFFF; font-weight: bold; text-decoration: underline; background-color: #0099ff; padd ing:2px; }

.floating_div {
	display: block;
	left: 10;
	position: absolute;
	top: 10;
}

.CalendarHeader {
	background: #FFFFFF;
	color: #4A4A47;
	cursor: pointer;
	font-family: Verdana;
	font-weight: bold;
	height: 5px;
	padding: 4px;
	text-decoration: none;
}

.calendar_hand {
	color: #FFFFFF;
	cursor: hand;
	font-family: Arial, Arial (Hebrew), David (Hebrew), Courier New (Hebrew);
	font-size: 10px;
	font-weight: normal;
	padding-left: 5px;
	text-align: center;
	vertical-align: top;
}

.calendar_nohand {
	color: #FFFFFF;
	cursor: auto;
	font-family: Arial, Arial (Hebrew), David (Hebrew), Courier New (Hebrew);
	font-size: 10px;
	font-weight: normal;
	padding-left: 5px;
	text-align: center;
	vertical-align: top;
}

.calendarTableFooter {
	background: #FFFFFF;
	color: #4A4A47;
	font-family: Verdana;
	font-size: 10px;
	font-weight: normal;
	padding: 4px;
	text-decoration: none;
}

.calendarFormInput {
	background: #FFFFFF;
	border-color: #8B898A;
	border-width: 1px;
	color: #4A4A47;
	font-family: Verdana;
	font-size: 10px;
	font-weight: normal;
}

.calendar_smallheader {
	color: #FF9900;
	font-family: Arial, Arial (Hebrew), David (Hebrew), Courier New (Hebrew);
	font-size: 10px;
	font-weight: bold;
	text-decoration: none;
}

.calendarBorder {
	background: #FFFFFF;
}

.calendar_table_cell {
	background: #FFFFFF;
	color: #000000;
	font-family: Arial, Arial, David, Courier New;
	font-size: 12px;
	font-weight: normal;
	text-decoration: none;
	vertical-align: top;
}

.inner_header {
	color: #333333;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
}

.pagelinks {
	/*background:url(../images/pagelinks.gif) left bottom no-repeat;
	border: solid 1px #aaaaaa;*/
	color: #000000;
	cursor: pointer;
	text-align: center;
	text-decoration:underline;
	white-space: nowrap;
	font-size: 12px;
	font-weight: bold;
	height: 24px;
	width: 24px;
	padding:0;
}

.pagelinks_sel {
	background:url(../images/pagelinks.gif) left top no-repeat;
	color: #000000;
	cursor: pointer;
	text-align: center;
	white-space: nowrap;
	font-size: 12px;
	font-weight: bold;
	height: 24px;
	width: 24px;
	padding:0;
}

.pagelinks_over {
	background:url(../images/pagelinks.gif) left bottom no-repeat;
	color: #FFFFFF;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	white-space: nowrap;
	font-size: 12px;
	font-weight: bold;
	height: 24px;
	width: 24px;
	padding:0;
}

.pics_place {
	border: solid 1px #000000;
	clear: both;
	float: right;
	height: 105px;
	margin: 3px 0px 3px 0px;
	width: 100%;
}

.pics_place .image_wrap div {
	font-family: Arial, Arial, David, Courier New;
	font-size: 10px;
}

.pics_place .image_wrap {
	clear: none;
	float: right;
	margin: 3px 3px 3px 3px;
	position: relative;
	text-align: center;
}

.pics_place .image_wrap img {
	border: solid 2px #8B898A;
	width: 90px;
}

.img_border {
	border: solid 2px #8B898A;
	margin: 1px 1px 1px 1px;
	width: 90px;
}

.hidden {
    display: none !important;
}

.hidden_message_div {
	display: block;
	height: 100px;
	position: absolute;
	right: 10;
	top: 10;
	width: 220px;
	z-index: 600;
}

.message_box {
	background: #666666;
	border: 5px solid #FF7700;
	height: 100px;
	text-align: center;
	width: 220px;
}

.vid_name {
	font-family: Arial, Arial, David, Courier New;
	font-size: 10px;
}
.footer {background:url(../images/admin-footer.png) top repeat-x #000000; height:30px; padding-top: 4px; margin-top: 10px; width: 100% }
.footer table { width:980px; margin:0 auto; border-collapse:collapse; padding:0;}
.footer td { text-align:right; direction:ltr; padding-bottom:0; }
.footer td img { vertical-align:middle; float: right;}
.rights {
	color: #3399ff;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-decoration: none;
	float: left;
	padding-top: 2px;
}
.footer a { color:#0080ff;}
.selectorTop { background:url(../images/selectorTopBg.png); width:800px; height:48px; padding:0;}
.selectorTop table { margin:0 10px;}
.selectTblTop {background:url(../images/selectBG.png) no-repeat; width:241px; height:41px; float:right;}
.displayRowTop { height:30px; padding:4px 0 0; }
.searchTop { background:url(../images/searchBG.png) no-repeat; width:241px; height:41px; float:left; border-collapse:collapse;}
.selectTblTop td,
.searchTop td { padding:0; vertical-align:top;}
.searchTop .FormInputSmall {
	background: /*#EEEEEE */transparent;
	border:0px;
	color: #000000;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: normal;
	width:186px; height:22px; margin:5px 15px 0 0; #margin:4px 15px 0 0;
}
.searchTop a.adm_table_link { display:block; text-decoration:none; text-indent:-9999px; overflow:hidden; background:url(../images/searchBut.png) top left no-repeat; width:31px; height:26px; margin:4px 0 0 5px;}
.searchTop a.adm_table_link:hover { background-position:left -26px;}
.selectTblTop td { text-align:center;}
.selectTblTop td select { width:210px; border:1px solid #999999; margin-top:3px;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 16px;}
.pagerTd01 { width:40%; text-align: left; }
.pagerTd01 td { padding-left: 10px;}
.pagerTd01 a.adm_table_link { display:block; text-align:center; background:url(../images/but.png) no-repeat; width:90px; height:22px; font-size: 12px!important; text-align:center; line-height:20px; font-weight:normal!important; text-decoration:none!important; color: #3399FF!important; text-transform:uppercase; }
.pagerTd01 a.adm_table_link:hover { background-position: left -22px; text-decoration:none; }
.pagerTd02 div { padding:0 0 0 0px; float:right; background:url(../images/selectBg.png) left center no-repeat; height:34px; }
.pagerTd02 div div { padding:0 16px 0 0; background:url(../images/selectBg.png) right center no-repeat;}
.pagerTd02 table { margin-top:3px;}
.pagerTd03 div { background:url(../images/selectBg.png) no-repeat; width:241px; height:41px; float:right; }
.pagerTd03 table { margin-top:5px; margin-right:1px;}
.pagerTd03 table td { font-weight:bold; padding: 0 7px; }
.space01 { width:1px; font-size: 1px; }

a.btn { display:block; text-align:center; background:url(../images/but.png) no-repeat; width:115px; height:22px; font-size: 12px; text-align:center; line-height:20px; font-weight:normal; text-decoration:none; color: #3399FF; text-transform:uppercase;  margin-right: 5px;}
a.btn:hover { background-position: left -22px; text-decoration:none;}


input.btn_upload { display:block; text-align:center; background:url(../images/but_upload.png) no-repeat; width:112px; height:22px; font-size: 13px; text-align:center; line-height:20px; font-weight:normal; text-decoration:none; color: #3399FF; text-transform:uppercase;  margin-right: 5px;}
input.btn_upload:hover { background-position: 0 -22px; text-decoration:none;}

input.btn_export_excel { display:block; text-align:center; background:url(../images/icon_export_normal.gif) no-repeat; width:112px; height:22px; font-size: 13px; text-align:center; line-height:20px; font-weight:normal; text-decoration:none; color: #3399FF; text-transform:uppercase;  margin-right: 5px;}

input.btn_generate { display:block; text-align:center; background:url(../images/but_generate.png) no-repeat; width:105px; height:22px; font-size: 13px; text-align:center; line-height:20px; font-weight:normal; text-decoration:none; color: #3399FF; text-transform:uppercase;  margin-right: 5px;}
input.btn_generate:hover { background-position: 0 -22px; text-decoration:none;}

a.btn_new { display:block; text-align:center; background:url(../images/but_new.png) no-repeat; width:110px; height:22px; font-size: 12px; text-align:center; line-height:20px; font-weight:normal; text-decoration:none; color: #3399FF; text-transform:uppercase;  margin-right: 5px;}
a.btn_new:hover { background-position: left -22px; text-decoration:none;}

a.btn_a_channel { display:block; text-align:center; background:url(../images/but_Achannel.png) no-repeat; width:120px; height:22px; font-size: 12px; text-align:center; line-height:20px; font-weight:normal; text-decoration:none; color: #3399FF; text-transform:uppercase; margin-right: 5px;  margin-right: 5px;}
a.btn_a_channel:hover { background-position: left -22px; text-decoration:none;}

a.btn_m_channel { display:block; text-align:center; background:url(../images/but_Mchannel.png) no-repeat; width:140px; height:22px; font-size: 12px; text-align:center; line-height:20px; font-weight:normal; text-decoration:none; color: #3399FF; text-transform:uppercase;  margin-right: 5px;}
a.btn_m_channel:hover { background-position: left -22px; text-decoration:none;}

a.btn_ksql_channel { display:block; text-align:center; background:url(../images/but_ksqlchannel.png) no-repeat; width:140px; height:22px; font-size: 12px; text-align:center; line-height:20px; font-weight:normal; text-decoration:none; color: #3399FF; text-transform:uppercase;  margin-right: 5px;}
a.btn_ksql_channel:hover { background-position: left -22px; text-decoration:none;}

a.btn_browse { display:block; text-align:center; background:url(../images/but_browse.png) no-repeat; width:110px; height:22px; font-size: 12px; text-align:center; line-height:20px; font-weight:normal; text-decoration:none; color: #3399FF; text-transform:uppercase;  margin-right: 5px;}
a.btn_browse:hover { background-position: left -22px; text-decoration:none;}

a.btn_mediaTypes { display:block; text-align:center; background:url(../images/but_media_types.png) no-repeat; width:110px; height:22px; font-size: 12px; text-align:center; line-height:20px; font-weight:normal; text-decoration:none; color: #3399FF; text-transform:uppercase;  margin-right: 5px;}
a.btn_mediaTypes:hover { background-position: left -22px; text-decoration:none;}

a.btn_assetTypes { display:block; text-align:center; background:url(../images/but_asset_types.png) no-repeat; width:120px; height:22px; font-size: 12px; text-align:center; line-height:20px; font-weight:normal; text-decoration:none; color: #3399FF; text-transform:uppercase;  margin-right: 5px;}
a.btn_assetTypes:hover { background-position: left -22px; text-decoration:none;}

a.btn2 { margin-left: 15px; display:block; text-align:center; background:url(../images/but_search.png) no-repeat; width:110px; height:22px; font-size: 12px; text-align:center; line-height:20px; font-weight:normal; text-decoration:none; color: #3399FF; text-transform:uppercase;  margin-right: 5px;}
a.btn2:hover { background-position: left -22px; text-decoration:none;}

a.btn_back { display:block; text-align:center; background:url(../images/but_back.png) no-repeat; width:80px; height:22px; font-size: 12px; text-align:center; line-height:20px; font-weight:normal; text-decoration:none; color: #3399FF; text-transform:uppercase;  margin-right: 5px;margin-top: 15px;}
a.btn_browse:back { background-position: left -22px; text-decoration:none;}

a.btn_vid_browse { display:block; text-align:center; background:url(../images/but_Vbrowse.png) no-repeat; width:110px; height:22px; font-size: 12px; text-align:center; line-height:20px; font-weight:normal; text-decoration:none; color: #3399FF; text-transform:uppercase;  margin-right: 5px;}
a.btn_vid_browse:hover { background-position: left -22px; text-decoration:none;}


a.btn_a_user_list { display:block; text-align:center; background:url(../images/but_aUserList.png) no-repeat; width:120px; height:22px; font-size: 12px; text-align:center; line-height:20px; font-weight:normal; text-decoration:none; color: #3399FF; text-transform:uppercase; margin-right: 5px;  margin-right: 5px;}
a.btn_a_user_list:hover { background-position: left -22px; text-decoration:none;}

a.btn_m_user_list { display:block; text-align:center; background:url(../images/but_mUserList.png) no-repeat; width:120px; height:22px; font-size: 12px; text-align:center; line-height:20px; font-weight:normal; text-decoration:none; color: #3399FF; text-transform:uppercase; margin-right: 5px;  margin-right: 5px;}
a.btn_m_user_list:hover { background-position: left -22px; text-decoration:none;}

#confirm_btn .btn {display:block; text-align:center; background:url(../images/but_confirm.png) no-repeat; width:110px; height:22px; font-size: 12px; text-align:center; line-height:20px; font-weight:normal; text-decoration:none; color: #3399FF; text-transform:uppercase;  margin-right: 5px;}
#confirm_btn .btn:hover {background-position: left -22px; text-decoration:none;}

.btn_confirm {display:block; text-align:center; background:url(../images/but_confirm.png) no-repeat; width:110px; height:22px; font-size: 12px; text-align:center; line-height:20px; font-weight:normal; text-decoration:none; color: #3399FF; text-transform:uppercase;  margin-right: 5px;}
.btn_confirm:hover {background-position: left -22px; text-decoration:none;}

#cancel_btn .btn {display:block; text-align:center; background:url(../images/but_cancel.png) no-repeat; width:110px; height:22px; font-size: 12px; text-align:center; line-height:20px; font-weight:normal; text-decoration:none; color: #3399FF; text-transform:uppercase;  margin-right: 5px;}
#cancel_btn .btn:hover {background-position: left -22px; text-decoration:none;}

.btn_cancel {display:block; text-align:center; background:url(../images/but_cancel.png) no-repeat; width:110px; height:22px; font-size: 12px; text-align:center; line-height:20px; font-weight:normal; text-decoration:none; color: #3399FF; text-transform:uppercase;  margin-right: 5px;}
.btn_cancel:hover {background-position: left -22px; text-decoration:none;}

.btn_search { margin-left: 15px; display:block; text-align:center; background:url(../images/but_search.png) no-repeat; width:110px; height:22px; font-size: 12px; text-align:center; line-height:20px; font-weight:normal; text-decoration:none; color: #3399FF; text-transform:uppercase;  margin-right: 5px; float: right;}
.btn_search:hover { background-position: left -22px; text-decoration:none;}




td.tags { width:602px; background:url(../images/tagsBottom.gif) bottom center no-repeat #d5e4e9; font-size: 12px; border-top:6px solid #FFFFFF; }
td.tags div {width:582px; white-space:normal; background:url(../images/tagsTop-en.gif) top center no-repeat; padding:14px 10px 7px; line-height:22px;}

A.tags:link { color: #000000; font-weight: bold; text-decoration: underline; pad ding:2px;}

A.tags:visited { color: #0099ff; font-weight: bold; text-decoration: underline; pad ding:2px;}

A.tags:active,
A.tags:hover { color: #FFFFFF; font-weight: bold; text-decoration: underline; background-color: #0099ff; padd ing:2px; }
textarea { overflow:auto;}
a.blueLink {color: #0099ff; font-weight: bold; text-decoration: underline; font-size:14px;}
.align0 { text-align:right;}
.align1 { text-align:left;}
/**/
.adm_main_header h3 {padding:0 10px;border-left:1px solid #CCC; color:#3399FF; margin:0;}
.adm_main_header h3 span.arrow {font-weight:normal;}
.adm_main_header h3 span { color:#666666;}
.rights a { color:#cccccc;}

#page_content {width:800px; vertical-align:top; padding:0; }

.selectorList { width:800px; vertical-align:top; padding:0; border-bottom:0px solid #999999; height:0px; }
.selectorList div { height:0px; position:relative;}
.selectorList ul { list-style:none; margin:0 0 -7px; #margin:0; _margin:0 0 -9px; padding:0 0px;height:0px; position:relative; bottom:-1px;}
.selectorList li { float:left;display:block; margin:0 5px 0 0; padding:0;height:28px;}
.selectorList li.red { color:red; float:left;}
.selectorList li a { height:28px; _width:1%; white-space:nowrap; display:block; background:url(../images/tabsL.png) left -28px no-repeat; font-size: 12px; text-transform:uppercase; font-weight: bold; text-decoration: none; color: #3399ff; }
.selectorList li a span { cursor:pointer; height:28px; _width:1%; white-space:nowrap; line-height:28px; display:block; background:url(../images/tabsR.png) right -28px no-repeat; padding: 0 22px; }
.selectorList li a:hover { background:url(../images/tabsL.png) left -56px no-repeat;}
.selectorList li a:hover span {background:url(../images/tabsR.png) right -56px no-repeat;}
.selectorList li a.on,
.selectorList li a.on:hover {background:url(../images/tabsL.png) left top no-repeat; }
.selectorList li a.on span,
.selectorList li a.on:hover span {background:url(../images/tabsR.png) right top no-repeat; color:#fff; }

.selectorList1 { width:800px; vertical-align:top; padding:0; border-bottom:0px solid #999999; height:37px; }
.selectorList1 div { height:0px; position:relative;}
.selectorList1 ul { list-style:none; margin:0 0 -7px; #margin:0; _margin:0 0 -9px; padding:0 0px;height:37px; position:relative; bottom:-1px;}
.selectorList1 li { float:left;display:block; margin:0 5px 0 0; padding:0;height:28px;}
.selectorList1 li.red { color:red; float:left;}
.selectorList1 li a { height:28px; _width:1%; white-space:nowrap; display:block; background:url(../images/tabsL.png) left -28px no-repeat; font-size: 12px; text-transform:uppercase; font-weight: bold; text-decoration: none; color: #3399ff; }
.selectorList1 li a span { cursor:pointer; height:28px; _width:1%; white-space:nowrap; line-height:28px; display:block; background:url(../images/tabsR.png) right -28px no-repeat; padding: 0 22px; }
.selectorList1 li a:hover { background:url(../images/tabsL.png) left -56px no-repeat;}
.selectorList1 li a:hover span {background:url(../images/tabsR.png) right -56px no-repeat;}
.selectorList1 li a.on,
.selectorList1 li a.on:hover {background:url(../images/tabsL.png) left top no-repeat; }
.selectorList1 li a.on span,
.selectorList1 li a.on:hover span {background:url(../images/tabsR.png) right top no-repeat; color:#fff; }
/**/
td.formInputs div { background:url(../images/_formInputsTop.gif) top center no-repeat ; padding-bottom: 10px; width:100%; margin:0px 0 10px 0;  border-bottom: 1px solid #DDD;}
td.formInputs table { background:url(../images/_formInputsBot.gif) bottom center no-repeat; width:100%; margin:2px 0 0;}
td.formInputs table table { background:none;}

.adm_table * td { white-space:normal!important;}
.playerPop { position:absolute; background:url(../images/pBgSingle.png) no-repeat; _background:none!important;  _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/pBgSingle.png', sizingMethod='scale'); }
.playerPop .inner { clear:both; padding:25px 25px 20px;}
.playerPop .close { z-index: 600;position:absolute; cursor:pointer; right:0; top:0; width:56px; height:22px; text-indent:-9999px; text-decoration:none; overflow:hidden; background:url(../images/popPlayerClose.png) no-repeat; _right:-1px; _background:none!important;  _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/popPlayerClose.png', sizingMethod='scale');}
