<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="TCMConfig" type="Phx.Lib.Appconfig.TCMClient.TCMConfiguration, Phx.Lib.Appconfig" allowLocation="true" allowDefinition="Everywhere" />
    <sectionGroup name="couchbase">
      <section name="default" type="Couchbase.Configuration.CouchbaseClientSection, Couchbase"/>
      <section name="statistics" type="Couchbase.Configuration.CouchbaseClientSection, Couchbase"/>
    </sectionGroup>
  </configSections>

  <couchbase>
    <default>
      <servers bucket="default">
        <add uri="http://127.0.0.1:8091/pools" />
      </servers>
    </default>
    <statistics>
        <servers bucket="statistics">
        <add uri="http://192.168.16.178:8091/pools" /> 
      </servers>
    </statistics>
  </couchbase>


  <TCMConfig URL="http://192.168.16.139:8080" Application="ws_catalog" Host="local_avig" Environment="main" AppID="5bf8cf60" AppSecret="5aaa99331c18f6bad4adeef93ab770c2" />
</configuration>