<?xml version="1.0"?>

<appSettings>

  <add key="CONNECTION_STRING" value="Driver={SQL Server};Server=192.168.192.138;Database=tvinci;Uid=production;Pwd=lF6CZU9HIOIAGuzj;"/>
  <add key="BASE_URL" value="http://tvm.dev" />
  <add key="tikle_ws" value="http://212.58.18.44:8080/Service.asmx"/>
  <add key="pricing_connection_string" value="Driver={SQL Server};Server=192.168.192.138;Database=pricing;Uid=production;Pwd=lF6CZU9HIOIAGuzj;"/>
  <add key="pricing_connection" value="Driver={SQL Server};Server=192.168.192.138;Database=pricing;Uid=dba;Pwd=tvinci2013;"/>
  <add key="tvp_connection_93" value="Driver={SQL Server};Server=192.168.192.138;Database=tvp_novebox;Uid=dba;Pwd=tvinci2013;"/>
  <add key="tvp_connection_93_1" value="Driver={SQL Server};Server=192.168.192.138;Database=tvp_novebox;Uid=dba;Pwd=tvinci2013;"/>
  <add key="tvp_connection_95" value="Driver={SQL Server};Server=212.58.18.43;Database=Tikle_Dev;Uid=tvinci_sinema_user;Pwd=W3b7v*kle;"/>
  <add key="tvp_connection_95_1" value="Driver={SQL Server};Server=212.58.18.43;Database=Tikle_Dev;Uid=tvinci_sinema_user;Pwd=W3b7v*kle;"/>
  <add key="users_connection" value="Driver={SQL Server};Server=192.168.192.138;Database=users;Uid=dba;Pwd=tvinci2013;"/>
  <add key="billing_connection" value="Driver={SQL Server};Server=192.168.192.138;Database=billing;Uid=dba;Pwd=tvinci2013;"/>
  <add key="LOGS_PATH" value="C:\\logs" />

  <add key="SERVER_NAME" value="US-100" />
  <add key="APPLICATION_NAME" value="Admin" />


  <add key="tvp_connection_123_5" value="Driver={SQL Server};Server=192.168.192.138;Database=tvp_abertisWL_STB;Uid=production;Pwd=lF6CZU9HIOIAGuzj;Trusted_Connection=False;Min Pool Size=5;Max Pool Size=200;"/>
  <add key="tvp_connection_123_1" value="Driver={SQL Server};Server=192.168.192.138;Database=tvp_abertisWL2;Uid=production;Pwd=lF6CZU9HIOIAGuzj;Trusted_Connection=False;Min Pool Size=5;Max Pool Size=200;"/>
  <add key="tvp_connection_123_2" value="Driver={SQL Server};Server=192.168.192.138;Database=tvp_abertisWL2_Cellular;Uid=production;Pwd=lF6CZU9HIOIAGuzj;Trusted_Connection=False;Min Pool Size=5;Max Pool Size=200;"/>
  <add key="tvp_connection_124_5" value="Driver={SQL Server};Server=192.168.192.138;Database=tvp_abertisWL2_STB;Uid=production;Pwd=lF6CZU9HIOIAGuzj;Trusted_Connection=False;Min Pool Size=5;Max Pool Size=200;"/>
  <add key="tvp_connection_125_1" value="Driver={SQL Server};Server=192.168.192.138;Database=tvp_ipvision;Uid=production;Pwd=lF6CZU9HIOIAGuzj;Trusted_Connection=False;Min Pool Size=5;Max Pool Size=200;"/>
  <add key="tvp_connection_125_2" value="Driver={SQL Server};Server=192.168.192.138;Database=tvp_ipvision_Cellular;Uid=production;Pwd=lF6CZU9HIOIAGuzj;Trusted_Connection=False;Min Pool Size=5;Max Pool Size=200;"/>
  <add key="tvp_connection_125_3" value="Driver={SQL Server};Server=192.168.192.138;Database=tvp_ipvision_IPad;Uid=production;Pwd=lF6CZU9HIOIAGuzj;Trusted_Connection=False;Min Pool Size=5;Max Pool Size=200;"/>
  <add key="tvp_connection_125_4" value="Driver={SQL Server};Server=192.168.192.138;Database=tvp_ipvision_ConnectedTV;Uid=production;Pwd=lF6CZU9HIOIAGuzj;Trusted_Connection=False;Min Pool Size=5;Max Pool Size=200;"/>
  <add key="tvp_connection_125_5" value="Driver={SQL Server};Server=192.168.192.138;Database=tvp_ipvision_STB;Uid=production;Pwd=lF6CZU9HIOIAGuzj;Trusted_Connection=False;Min Pool Size=5;Max Pool Size=200;"/>
  <add key="tvp_connection_128_1" value="Driver={SQL Server};Server=192.168.192.138;Database=tvp_gilat;Uid=production;Pwd=lF6CZU9HIOIAGuzj;Trusted_Connection=False;Min Pool Size=5;Max Pool Size=200;"/>
  <add key="tvp_connection_131_1" value="Driver={SQL Server};Server=192.168.192.138;Database=tvp_turkcell;Uid=production;Pwd=lF6CZU9HIOIAGuzj;Trusted_Connection=False;Min Pool Size=5;Max Pool Size=200;"/>
  <add key="tvp_connection_131_2" value="Driver={SQL Server};Server=192.168.192.138;Database=tvp_turkcell_Cellular;Uid=production;Pwd=lF6CZU9HIOIAGuzj;Trusted_Connection=False;Min Pool Size=5;Max Pool Size=200;"/>
  <add key="tvp_connection_131_3" value="Driver={SQL Server};Server=192.168.192.138;Database=tvp_turkcell_IPad;Uid=production;Pwd=lF6CZU9HIOIAGuzj;Trusted_Connection=False;Min Pool Size=5;Max Pool Size=200;"/>
  <add key="tvp_connection_134_1" value="Driver={SQL Server};Server=195.197.177.4;Database=tvp_elisa;Uid=production;Pwd=M3AxY1RWZDg;Trusted_Connection=False;Min Pool Size=5;Max Pool Size=200;"/>
  <add key="tvp_connection_134_3" value="Driver={SQL Server};Server=192.168.192.138;Database=tvp_elisa_IPad;Uid=production;Pwd=lF6CZU9HIOIAGuzj;Trusted_Connection=False;Min Pool Size=5;Max Pool Size=200;"/>
  <add key="tvp_connection_134_4" value="Driver={SQL Server};Server=192.168.192.138;Database=tvp_elisa_CTV;Uid=production;Pwd=lF6CZU9HIOIAGuzj;Trusted_Connection=False;Min Pool Size=5;Max Pool Size=200;"/>
  <add key="tvp_connection_141_4" value="Driver={SQL Server};Server=192.168.192.138;Database=tvp_orange_CTV;Uid=production;Pwd=lF6CZU9HIOIAGuzj;Trusted_Connection=False;Min Pool Size=5;Max Pool Size=200;"/>
  <add key="tvp_connection_144_1" value="Driver={SQL Server};Server=192.168.192.138;Database=tvp_kanguroo;Uid=production;Pwd=lF6CZU9HIOIAGuzj;Trusted_Connection=False;Min Pool Size=5;Max Pool Size=200;"/>
  <add key="tvp_connection_147_1" value="Driver={SQL Server};Server=192.168.192.138;Database=tvp_mediacorp;Uid=production;Pwd=lF6CZU9HIOIAGuzj;Trusted_Connection=False;Min Pool Size=5;Max Pool Size=200;"/>
  <add key="tvp_connection_147_2" value="Driver={SQL Server};Server=192.168.192.138;Database=tvp_mediacorp_Celullar;Uid=production;Pwd=lF6CZU9HIOIAGuzj;Trusted_Connection=False;Min Pool Size=5;Max Pool Size=200;"/>
  <add key="tvp_connection_147_3" value="Driver={SQL Server};Server=192.168.192.138;Database=tvp_mediacorp_IPad;Uid=production;Pwd=lF6CZU9HIOIAGuzj;Trusted_Connection=False;Min Pool Size=5;Max Pool Size=200;"/>
  <add key="tvp_connection_147_4" value="Driver={SQL Server};Server=192.168.192.138;Database=tvp_mediacorp_CTV;Uid=production;Pwd=lF6CZU9HIOIAGuzj;Trusted_Connection=False;Min Pool Size=5;Max Pool Size=200;"/>
  <add key="tvp_connection_150_1" value="Driver={SQL Server};Server=192.168.192.138;Database=tvp_chellomedia;Uid=production;Pwd=lF6CZU9HIOIAGuzj;Trusted_Connection=False;Min Pool Size=5;Max Pool Size=200;"/>
  <add key="tvp_connection_150_2" value="Driver={SQL Server};Server=192.168.192.138;Database=tvp_chellomedia_Cellular;Uid=production;Pwd=lF6CZU9HIOIAGuzj;Trusted_Connection=False;Min Pool Size=5;Max Pool Size=200;"/>
  <add key="tvp_connection_150_3" value="Driver={SQL Server};Server=192.168.192.138;Database=tvp_chellomedia_Tablet;Uid=production;Pwd=lF6CZU9HIOIAGuzj;Trusted_Connection=False;Min Pool Size=5;Max Pool Size=200;"/>
  <add key="tvp_connection_153_1" value="Driver={SQL Server};Server=192.168.192.138;Database=tvp_yes;Uid=production;Pwd=lF6CZU9HIOIAGuzj;Trusted_Connection=False;Min Pool Size=5;Max Pool Size=200;"/>
  <add key="tvp_connection_153_2" value="Driver={SQL Server};Server=192.168.192.138;Database=tvp_yes_Phone;Uid=production;Pwd=lF6CZU9HIOIAGuzj;Trusted_Connection=False;Min Pool Size=5;Max Pool Size=200;"/>
  <add key="tvp_connection_153_3" value="Driver={SQL Server};Server=192.168.192.138;Database=tvp_yes_Tablet;Uid=production;Pwd=lF6CZU9HIOIAGuzj;Trusted_Connection=False;Min Pool Size=5;Max Pool Size=200;"/>
  <add key="tvp_connection_144_3" value="Driver={SQL Server};Server=192.168.192.138;Database=tvp_kanguroo_IPad;Uid=production;Pwd=lF6CZU9HIOIAGuzj;Trusted_Connection=False;Min Pool Size=5;Max Pool Size=200;"/>
  <add key="tvp_connection_198" value="Driver={SQL Server};Server=192.168.192.138;Database=tvp_klic;Uid=production;Pwd=lF6CZU9HIOIAGuzj;"/>
  <add key="tvp_connection_198_1" value="Driver={SQL Server};Server=192.168.192.138;Database=tvp_klic;Uid=production;Pwd=lF6CZU9HIOIAGuzj;"/>
  <add key="tvp_connection_198_2" value="Driver={SQL Server};Server=192.168.192.138;Database=tvp_klic;Uid=production;Pwd=lF6CZU9HIOIAGuzj;"/>
  <add key="tvp_connection_198_3" value="Driver={SQL Server};Server=192.168.192.138;Database=tvp_klic;Uid=production;Pwd=lF6CZU9HIOIAGuzj;"/>
  <add key="tvp_connection_198_4" value="Driver={SQL Server};Server=192.168.192.138;Database=tvp_klic;Uid=production;Pwd=lF6CZU9HIOIAGuzj;"/>
  <add key="users_connection" value="Driver={SQL Server};Server=192.168.192.138;Database=users;Uid=production;Pwd=lF6CZU9HIOIAGuzj;Trusted_Connection=False;Min Pool Size=5;Max Pool Size=200;"/>
  <add key="billing_connection" value="Driver={SQL Server};Server=192.168.192.138;Database=billing;Uid=production;Pwd=lF6CZU9HIOIAGuzj;Trusted_Connection=False;Min Pool Size=5;Max Pool Size=200;"/>
  <add key="pricing_ws" value="http://webservices.dev/pricing/module.asmx"/>
  <add key="ca_connection" value="Driver={SQL Server};Server=192.168.192.138;Database=conditionalaccess;Uid=production;Pwd=lF6CZU9HIOIAGuzj;Trusted_Connection=False;Min Pool Size=5;Max Pool Size=200;"/>
  <add key="users_ws" value="http://webservices.dev/users/module.asmx"/>
  <add key="conditionalaccess_ws" value="http://webservices.dev/ca/module.asmx"/>
  <add key="domains_ws" value="http://webservices.dev/domains/module.asmx"/>
  <add key="SMS_WS_UN" value="avidan_tvinci"/>
  <add key="SMS_WS_URL" value="http://www.smscenter.co.il/Web/WebServices/SendMessage.asmx"/>
  <add key="SMS_WS_PASS" value="119dd1bd86728b407fe82fce1f8b9369"/>
  <add key="SMS_WS_PHONES" value="0549270400"/>
  <add key="SMS_WS_MAILS" value="arik@tvinci.com"/>
  <add key="CLEAR_CACHE_PATH" value="http://tvm.dev/clean_cache.aspx?action=clear_all;http://webservices.dev/clean_cache.aspx?action=clear_all;"/>
  <!--add key="APP_STATE" value="version_upload" /-->
  <add key="APP_STATE" value="normal" />
  <add key="ODBC_CACH_SEC" value="0" />
  <add key="AS.Server" value="msd101.1host.co.il" />
  <add key="AS.DB" value="Analysis Services Project1" />
  <add key="AS.CubeName" value="Tvinci M2M" />
  <add key="AS.Group.Dimension" value="Groups" />
  <add key="AS.Group.Level" value="Groups" />
  <add key="AS.SkipDimensions" value="Measures" />
  <add key="AS.Time.Dimension" value="Date Time Dim" />
  <add key="pics_base_path" value="D:/apps/services/scheduler" />
  <add key="LUCENE_WCF_147" value="http://192.168.16.241/Lucene/service.svc"/>
  <add key="LUCENE_WCF_109" value="http://192.168.16.241/Lucene/service.svc"/>
  <add key="LUCENE_WCF_134" value="http://192.168.16.241/Lucene/service.svcc"/>
  <add key="LUCENE_WCF_144" value="http://192.168.16.241/Lucene/service.svc"/>
  <add key="LUCENE_WCF_125" value="http://192.168.16.241/Lucene/service.svc"/>
  <add key="LUCENE_WCF" value="http://192.168.16.241/Lucene/service.svc"/>
  <add key="NotificationService" value="http://webservices.dev/notification/NotificationService.svc"/>
  <add key="LUCENE_WCF" value="http://192.168.16.241/Lucene/service.svc"/>
  <add key="CATALOG_WCF" value="http://webservices.dev/catalog/service.svc"/>

  <add key="pricing_ws" value="http://webservices.dev/pricing/module.asmx"/>
  <add key="users_ws" value="http://webservices.dev/users/module.asmx"/>
  <add key="conditionalaccess_ws" value="http://webservices.dev/ca/module.asmx"/>

  <add key="SMS_WS_UN" value="guy_tvinci"/>
  <add key="SMS_WS_URL" value="http://www.smscenter.co.il/Web/WebServices/SendMessage.asmx"/>
  <add key="SMS_WS_PASS" value="1ff28c3aaec95f0d43b76dc3d1caa36f"/>
  <add key="SMS_WS_PHONES" value="0546812480"/>
  <add key="SMS_WS_MAILS" value="guy@tvinci.com"/>
  <add key="APP_STATE" value="normal" />
  <add key="ODBC_CACH_SEC" value="0" />
  <add key="AS.Server" value="msd101.1host.co.il" />
  <add key="AS.DB" value="Analysis Services Project1" />
  <add key="AS.CubeName" value="Tvinci M2M" />
  <add key="AS.Group.Dimension" value="Groups" />
  <add key="AS.Group.Level" value="Groups" />
  <add key="AS.SkipDimensions" value="Measures" />
  <add key="AS.Time.Dimension" value="Date Time Dim" />
  <add key="epg_ingest_groupID_126" value="ftp://tvinci.cdnetworks.net/EpgIngestTest/EPGXML_NEW/" />
  <add key="SKIP_LOGIN_IP_CHECK" value="true" />

  <add key="use_elastic_search" value="true"/>
  <!--Start Rabbit Configuration-->
  <add key="hostName" value="192.168.16.178" />
  <add key="userName" value="guest" />
  <add key="password" value="guest" />
  <add key="port" value="15672" />
  <add key="routingKey" value="Views" />
  <add key="exchange" value="es_exchange" />
  <add key="queue" value="myQueue" />
  <add key="virtualHost" value="/" />
  <add key="exchangeType" value="topic" />
  <add key="queue-endpoint" value="http://192.168.16.178:5672" />
  <!--End Rabbit Configuration-->

  <add key="indexer" value="ES" />
  
</appSettings>
