<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <section name="TCMConfig" type="TCMClient.TCMConfiguration, TCMClient" allowLocation="true" allowDefinition="Everywhere" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="WebAPI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <!--<sectionGroup name="couchbaseClients">
      <section name="Couchbase" type="Couchbase.Configuration.Client.Providers.CouchbaseClientSection, Couchbase.NetClient" />
    </sectionGroup>-->
  </configSections>
  <appSettings>
    <add key="apiVersion" value="v5_3_0" />
  </appSettings>

  <!-- Take this from TCM, if not in TCM then take from web.config see relevant code in CouchbaseManager.cs-->
  <!--<couchbaseClients>
    <Couchbase useSsl="false">
      <servers>
        <add uri="http://couchbase1:8091/pools" /> 
        <add uri="http://couchbase2:8091/pools" />
        <add uri="http://couchbase3:8091/pools" />
      </servers>
      <buckets>
        <add name="OTT_Apps" useSsl="false" password="" operationLifespan="20000">
          <connectionPool name="custom" maxSize="10" minSize="5" sendTimeout="12000" />
        </add>
        <add name="epg_channels_schedule" useSsl="false" password="" operationLifespan="20000">
          <connectionPool name="custom" maxSize="10" minSize="5" sendTimeout="12000" />
        </add>
        <add name="statistics" useSsl="false" password="" operationLifespan="20000">
          <connectionPool name="custom" maxSize="10" minSize="5" sendTimeout="12000" />
        </add>
        <add name="Cache" useSsl="false" password="" operationLifespan="20000">
          <connectionPool name="custom" maxSize="10" minSize="5" sendTimeout="12000" />
        </add>
        <add name="MediaMarks" useSsl="false" password="" operationLifespan="20000">
          <connectionPool name="custom" maxSize="10" minSize="5" sendTimeout="12000" />
        </add>
        <add name="social" useSsl="false" password="" operationLifespan="20000">
          <connectionPool name="custom" maxSize="10" minSize="5" sendTimeout="12000" />
        </add>
        <add name="scheduled_tasks" useSsl="false" password="" operationLifespan="20000">
          <connectionPool name="custom" maxSize="10" minSize="5" sendTimeout="12000" />
        </add>
      </buckets>
    </Couchbase>
  </couchbaseClients>-->


  <TCMConfig URL="http://tcm:8080" Application="OTT_API_v5_3_0" Host="main" Environment="base" AppSecret="5aaa99331c18f6bad4adeef93ab770c2" AppID="5bf8cf60" />
  <system.web>
    <webServices>
      <soapExtensionTypes>
        <add type="ServiceExtensions.WSExtension, ServiceExtensions" />
      </soapExtensionTypes>
    </webServices>
    <httpRuntime targetFramework="4.6.1" enableVersionHeader="false" relaxedUrlToFileSystemMapping="true" maxUrlLength="1024" maxRequestLength="700000000" />
    <compilation targetFramework="4.6.1" debug="true">
      <assemblies>
        <remove assembly="Microsoft.VisualStudio.Web.PageInspector.Loader, Version=1.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      </assemblies>
    </compilation>
    <pages controlRenderingCompatibilityVersion="4.0" />
    <customErrors mode="Off" />
  </system.web>

  <applicationSettings>
    <WebAPI.Properties.Settings>
      <setting name="WebAPI_Social_module" serializeAs="String">
        <value>http://localhost/ws_social/module.asmx</value>
      </setting>
      <setting name="WebAPI_ConditionalAccess_module" serializeAs="String">
        <value>http://localhost/WS_ConditionalAccess/module.asmx</value>
      </setting>
      <setting name="WebAPI_Domains_module" serializeAs="String">
        <value>http://webservices/domains_V4_3/module.asmx</value>
      </setting>
      <setting name="WebAPI_Pricing_mdoule" serializeAs="String">
        <value>http://webservices/pricing_V4_3/module.asmx</value>
      </setting>
      <setting name="WebAPI_Users_UsersService" serializeAs="String">
        <value>http://webservices/users_V4_3/module.asmx</value>
      </setting>
      <setting name="WebAPI_Billing_module" serializeAs="String">
        <value>http://localhost/WS_Billing/module.asmx</value>
      </setting>
      <setting name="WebAPI_Api_API" serializeAs="String">
        <value>http://webservices/api_V4_3/api.asmx</value>
      </setting>
    </WebAPI.Properties.Settings>
  </applicationSettings>
  <system.webServer>
    <handlers accessPolicy="Read, Execute, Script">
      <add name="WsModuleHandler" verb="*" path="module.asmx" type="WebAPI.WsModuleHandler" />
      <add name="ExtWsPagesHendler" verb="*" path="*.aspx" type="WebAPI.ExtWsPagesHendler" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="WebDAVModule" />
      <!-- add this -->
    </modules>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="700000000" />
      </requestFiltering>
    </security>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <!-- 
      DO NOT REMOVE name="System.Net.Http" bindingRedirect !!! Thanks A LOT MICROSOFT!
      This is due to an issue that is describe here: https://stackoverflow.com/questions/47570912/strange-issue-with-system-net-http-4-2-0-0-not-found
      tl;dr: msbuild\ Net Framewrok is ignoring System.Net.Http Nuget reference and binds to the local installed version which is 4.2.0.0
      The Nuget Version which is shipped with this project i.e. <package id="System.Net.Http" version="4.3.4" targetFramework="net461" />
      is actually version 4.1.1.3 bug its more updated than the provided GAC version 4.2.0.0 (I *HEART* you Microsoft)
      -->
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.1.1.3" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.29.0" newVersion="4.2.29.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="EPPlus" publicKeyToken="ea159fdaa78159a1" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.5.3.2" newVersion="4.5.3.2" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
<!-- sunny and amishai testing -->