<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="TCMConfig" type="TCMClient.TCMConfiguration, TCMClient" allowLocation="true" allowDefinition="Everywhere" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Ingest.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <TCMConfig URL="http://tcm:8080" Application="Ingest" Host="prod_v_4_0" Environment="main" AppSecret="5aaa99331c18f6bad4adeef93ab770c2" AppID="5bf8cf60" />
  <system.web>
    <compilation targetFramework="4.0" />
    <httpRuntime executionTimeout="360" />
  </system.web>
  <system.serviceModel>
    <extensions>
      <behaviorExtensions>
        <add name="messageBehaviourExtension" type="ServiceExtensions.MessageBehaviourExtension, ServiceExtensions, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      </behaviorExtensions>
    </extensions>
    <client>
      <endpoint address="http://localhost/ws_catalog/Service.svc" binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_Iservice" contract="Catalog.Iservice"
                name="WSHttpBinding_Iservice" />
      <endpoint address="http://webservices/Notification_v4_0/NotificationService.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_INotificationService"
          contract="Notification_WCF.INotificationService" name="BasicHttpBinding_INotificationService" />
    </client>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
    <services>
      <service behaviorConfiguration="IngestBehavior" name="Ingest.Service">
        <endpoint behaviorConfiguration="web" binding="wsHttpBinding" bindingConfiguration="webHttpBindingCatalogBinding" contract="Ingest.IService" />
        <host>
          <baseAddresses>
            <add baseAddress="http://webservices/ingest_v4_0/Service.svc" />
          </baseAddresses>
        </host>
      </service>
    </services>

    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_INotificationService" />
        <binding name="basicHttpBinding" />
        <binding name="BasicHttpBinding_IService" />
      </basicHttpBinding>
      <wsHttpBinding>
        <binding name="webHttpBindingCatalogBinding" openTimeout="00:30:00" receiveTimeout="00:30:00" maxReceivedMessageSize="2147483647">
          <security mode="None"/>
        </binding>
      </wsHttpBinding>
    </bindings>

    <behaviors>
      <endpointBehaviors>
        <behavior name="web">

        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="IngestBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <messageBehaviourExtension />
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  <!--
          To browse web app root directory during debugging, set the value below to true.
          Set to false before deployment to avoid disclosing web app folder information.
        -->
  <directoryBrowse enabled="true"/>
  </system.webServer>
  <applicationSettings>
    <Ingest.Properties.Settings>
      <setting name="Ingest_Pricing_mdoule" serializeAs="String">
        <value>http://localhost/ws_pricing/module.asmx</value>
      </setting>
      <setting name="Ingest_Api_API" serializeAs="String">
        <value>http://localhost/ws_api/api.asmx</value>
      </setting>
    </Ingest.Properties.Settings>
  </applicationSettings>
</configuration>
