<?xml version="1.0"?>
<configuration>
    <configSections>
        <section name="TCMConfig" type="TCMClient.TCMConfiguration, TCMClient" allowLocation="true" allowDefinition="Everywhere"/>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Ingest.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="couchbaseClients">
            <section name="epg" type="Couchbase.Configuration.Client.Providers.CouchbaseClientSection, Couchbase.NetClient"/>
            <section name="cache" type="Couchbase.Configuration.Client.Providers.CouchbaseClientSection, Couchbase.NetClient"/>
        </sectionGroup>
    </configSections>
    <appSettings>
        <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true"/>
    </appSettings>
    <TCMConfig URL="http://tcm:8080" Application="Ingest" Host="prod_v_4_0" Environment="main" AppSecret="5aaa99331c18f6bad4adeef93ab770c2" AppID="5bf8cf60"/>
    <couchbaseClients>
        <epg useSsl="false">
            <servers>
                <add uri="http://couchbase1:8091/pools"/>
                <add uri="http://couchbase2:8091/pools"/>
                <add uri="http://couchbase3:8091/pools"/>
            </servers>
            <buckets>
                <add name="epg_channels_schedule">
                    <connectionPool name="custom" maxSize="10" minSize="5" sendTimeout="12000"/>
                </add>
            </buckets>
        </epg>
        <cache useSsl="false">
            <servers>
                <add uri="http://couchbase1:8091/pools"/>
                <add uri="http://couchbase2:8091/pools"/>
                <add uri="http://couchbase3:8091/pools"/>
            </servers>
            <buckets>
                <add name="Cache">
                    <connectionPool name="custom" maxSize="10" minSize="5" sendTimeout="12000"/>
                </add>
            </buckets>
        </cache>
    </couchbaseClients>
    <system.web>
        <compilation targetFramework="4.5" debug="true"/>
        <httpRuntime executionTimeout="360"/>
    </system.web>
    <system.serviceModel>
        <extensions>
            <behaviorExtensions>
                <add name="messageBehaviourExtension" type="ServiceExtensions.MessageBehaviourExtension, ServiceExtensions, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
                <add name="clientBehaviourExtension" type="ServiceExtensions.ClientEndpointBehavior, ServiceExtensions, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
            </behaviorExtensions>
        </extensions>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_Iservice">
                    <security mode="None"/>
                </binding>
                <binding name="BasicHttpBinding_INotificationService"/>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost/ws_catalog/Service.svc" behaviorConfiguration="web" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_Iservice" contract="Catalog.Iservice" name="WSHttpBinding_Iservice"/>
            <endpoint address="http://localhost/ws_Notification/NotificationService.svc"  behaviorConfiguration="web" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_INotificationService" contract="Notification_WCF.INotificationService" name="BasicHttpBinding_INotificationService"/>
        </client>
        <behaviors>
            <endpointBehaviors>
                <behavior name="web">
                    <clientBehaviourExtension/>
                </behavior>
            </endpointBehaviors>
            <serviceBehaviors>
                <behavior>
                    <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
                    <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
                    <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
                    <serviceDebug includeExceptionDetailInFaults="false"/>
                    <messageBehaviourExtension/>
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <protocolMapping>
            <add binding="basicHttpsBinding" scheme="https"/>
        </protocolMapping>
        <serviceHostingEnvironment multipleSiteBindingsEnabled="true"/>
    </system.serviceModel>
    <system.webServer>
        <modules runAllManagedModulesForAllRequests="true"/>
        <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
        <directoryBrowse enabled="true"/>
    </system.webServer>
    <applicationSettings>
        <Ingest.Properties.Settings>
            <setting name="Ingest_Pricing_mdoule" serializeAs="String">
                <value>http://localhost/ws_pricing/module.asmx</value>
            </setting>
            <setting name="Ingest_Api_API" serializeAs="String">
                <value>http://localhost/ws_api/api.asmx</value>
            </setting>
            <setting name="Ingest_ws_cas_module" serializeAs="String">
                <value>http://localhost/CAS_v4_0/module.asmx</value>
            </setting>
        </Ingest.Properties.Settings>
    </applicationSettings>
</configuration>