<?xml version="1.0"?>   
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Catalog.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:82/engine/Service.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IService" contract="RecommendationsEnginesAdapter.IService"
        name="BasicHttpBinding_IService" />
    </client>
  </system.serviceModel>
  
    <applicationSettings>
        <Catalog.Properties.Settings>
            <setting name="Catalog_Lucene_WCF_Service" serializeAs="String">
                <value>http://localhost/LuceneWCF2.0/Service.svc</value>
            </setting>
            <setting name="Catalog_ws_users_UsersService" serializeAs="String">
                <value>http://localhost:82/ws_users/module.asmx</value>
            </setting>
            <setting name="Catalog_WS_Domains_module" serializeAs="String">
                <value>http://localhost:82/WS_Domains/module.asmx</value>
            </setting>
            <setting name="Catalog_api_API" serializeAs="String">
                <value>http://localhost:82/WS_API/api.asmx</value>
            </setting>
        </Catalog.Properties.Settings>
    </applicationSettings>

</configuration>
