<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="TVPApiTests.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
  <appSettings>
    <add key="jsonGateWayURL" value="http://tvpapi-hk.prd.tvinci.com.tvincidns.com/v2_1"/>
  </appSettings>
    <applicationSettings>
        <TVPApiTests.Properties.Settings>
            <setting name="TVPApiTests_MediaService_MediaService" serializeAs="String">
                <value>http://tvpapi-hk.prd.tvinci.com.tvincidns.com/v2_1/ws/media/Service.asmx</value>
            </setting>
            <setting name="TVPApiTests_SiteService_SiteService" serializeAs="String">
                <value>http://tvpapi-hk.prd.tvinci.com.tvincidns.com/v2_1/ws/site/Service.asmx</value>
            </setting>
            <setting name="TVPApiTests_NotificationService_NotificationService" serializeAs="String">
                <value>http://tvpapi-hk.prd.tvinci.com.tvincidns.com/v2_1/ws/notification/Service.asmx</value>
            </setting>
            <setting name="TVPApiTests_SocialService_SocialService" serializeAs="String">
                <value>http://tvpapi-hk.prd.tvinci.com.tvincidns.com/v2_1/ws/SOCIAL/Service.asmx</value>
            </setting>
            <setting name="TVPApiTests_UsersService_UsersService" serializeAs="String">
                <value>http://tvpapi-hk.prd.tvinci.com.tvincidns.com/v2_1/ws/users/Service.asmx</value>
            </setting>
            <setting name="TVPApiTests_ConditionalAccessService_ConditionalAccessService" serializeAs="String">
                <value>http://tvpapi-hk.prd.tvinci.com.tvincidns.com/v2_1/ws/cas/Service.asmx</value>
            </setting>
            <setting name="TVPApiTests_DomainService_DomainService" serializeAs="String">
                <value>http://tvpapi-hk.prd.tvinci.com.tvincidns.com/v2_1/ws/domains/Service.asmx</value>
            </setting>
            <setting name="TVPApiTests_BillingService_BillingService" serializeAs="String">
                <value>http://tvpapi-hk.prd.tvinci.com.tvincidns.com/v2_1/ws/billing/Service.asmx</value>
            </setting>
            <setting name="TVPApiTests_PricingService_PricingService" serializeAs="String">
                <value>http://tvpapi-hk.prd.tvinci.com.tvincidns.com/v2_1/ws/pricing/Service.asmx</value>
            </setting>
        </TVPApiTests.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
