<?xml version="1.0" encoding="utf-8"?>
<MediaData xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="..\..\..\..\Libs\TVPPro.Configuration\Media\MediaData.xsd">
  <TVM>
    <SearchValues>
      <Tags>Genre;Main cast;Category;Series name;Broadcaster;Recording artist</Tags>
      <Metadata>Short Pinyin title;Long Pinyin title</Metadata>  
    </SearchValues>
    <MediaInfoStruct>
      <Tags>Genre;Main cast;Director;Rating;Rating advisories;Series name;Broadcaster;Album;Recording artist;Subtitle language;Audio language</Tags>
      <Metadata>Short summary;Short title;Release year;Episode name;Episode number;Season number;Channel number;Closed captions available</Metadata>
    </MediaInfoStruct>
    <GalleryMediaInfoStruct>
      <Tags>Genre;Main cast;Director;Rating;Rating advisories;Series name;Broadcaster;Album;Recording artist;Subtitle language;Audio language </Tags>
      <Metadata>Short summary;Short title;Release year;Episode name;Episode number;Season number;Channel number;Closed captions available</Metadata>
    </GalleryMediaInfoStruct>
    <FlashMediaInfoStruct>
      <Tags>Genre;Main cast;Director;Rating;Rating advisories;Series name;Broadcaster;Album;Recording artist;Subtitle language;Audio language</Tags>
      <Metadata>Short summary;Short title;Release year;Episode name;Episode number;Season number;Channel number;Closed captions available</Metadata>
    </FlashMediaInfoStruct>
    <MediaListTags>
      <Tags>Genre;Main cast;Director;Rating;Rating advisories;Series name;Broadcaster;Album;Recording artist;Subtitle language;Audio language </Tags>
    </MediaListTags>
    <TagsGallery>
      <Tags>Genre;Main cast;Director;Rating;Rating advisories;Series name;Broadcaster;Album;Recording artist;Subtitle language;Audio language </Tags>
    </TagsGallery>
    <AutoCompleteValues>
      <Tags></Tags>
      <Metadata></Metadata>
      <MediaTypeIDs>328;326;329;332;331;330</MediaTypeIDs>
    </AutoCompleteValues>
    <AdvertisingValues>
      <Tags>Genre;Rating;Category;Provider;Ad tag 1;Ad tag 2;Ad tag 3</Tags>
      <Metas>Short title</Metas>
    </AdvertisingValues>
  </TVM>
</MediaData>
  
  