<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="TCMConfig" type="TCMClient.TCMConfiguration, TCMClient" allowLocation="true" allowDefinition="Everywhere"/>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.2.29.0" newVersion="4.2.29.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <!--<TCMConfig URL="http://tcm:8080" Application="EU_Phoenix" Host="main" Environment="prod_v_4_8_2" AppSecret="5aaa99331c18f6bad4adeef93ab770c2" AppID="5bf8cf60"/>-->
  <TCMConfig URL="http://tcm:8080" Application="OTT_API_v5_0_2" Host="main" Environment="base" AppSecret="5aaa99331c18f6bad4adeef93ab770c2" AppID="5bf8cf60" />
  <log4net debug="false">
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="C:\\log\\permissions\\permissions.log" />
      <appendToFile value="true" />

      <rollingStyle value="Date" />
      <param name="DatePattern" value="dd.MM.yyyy'.log'" />
      <filter type="log4net.Filter.LevelRangeFilter">
        <acceptOnMatch value="true" />
        <levelMin value="info" />
        <levelMax value="fatal" />
      </filter>
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%p %d %m%n" />
      </layout>
    </appender>
    <appender name="monitorAppender" type="log4net.Appender.RollingFileAppender">
      <file value="C:\\log\\permissions\\permissions-monitor.mon" />
      <appendToFile value="true" />

      <rollingStyle value="Date" />
      <param name="DatePattern" value="dd.MM.yyyy'.log'" />
      <filter type="log4net.Filter.LevelRangeFilter">
        <acceptOnMatch value="true" />
        <levelMin value="Trace" />
        <levelMax value="Trace" />
      </filter>
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%p %d %m%n" />
      </layout>
    </appender>
    <appender name="DebugRollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="C:\\log\\permissions\\permissions-debug.log" />
      <appendToFile value="true" />

      <rollingStyle value="Date" />
      <param name="DatePattern" value="dd.MM.yyyy'.log'" />
      <filter type="log4net.Filter.LevelRangeFilter">
        <acceptOnMatch value="true" />
        <levelMin value="debug" />
        <levelMax value="debug" />
      </filter>
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%p %d %m%n" />
      </layout>
    </appender>
    <root>
      <level value="ALL" />
      <appender-ref ref="RollingLogFileAppender" />
      <appender-ref ref="DebugRollingLogFileAppender" />
      <appender-ref ref="monitorAppender" />
    </root>
  </log4net>
</configuration>
