<?xml version="1.0"?>

<OrcaRecommendations xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="..\..\..\..\..\..\Branch\Libs\TVPPro.Configuration\OrcaRecommendations\OrcaRecommendationsData.xsd">

  <DefaultParentalLevel>18</DefaultParentalLevel>
  <MaxResults>20</MaxResults>
  <EndTimeOffset>10</EndTimeOffset>
  <EndTimeLimit>true</EndTimeLimit>
  <GMTOffset>3</GMTOffset>
  <VODFailOverChannelID>333122</VODFailOverChannelID>
  <LiveFailOverChannelID>333668</LiveFailOverChannelID>
  <Galleries>
  <Gallery eGalleryType="HomeVODPersonal" eContentType="VOD">
    <GalleryTypeData>
      <blend>vod_personal</blend>
      <type></type>
      <Params></Params>
    </GalleryTypeData>
  </Gallery>
    <Gallery eGalleryType="HomeVODPromotions" eContentType="VOD">
      <GalleryTypeData>
        <blend>vod_promotions</blend>
        <type></type>
        <Params></Params>
      </GalleryTypeData>
    </Gallery>
    <Gallery eGalleryType="HomeLivePersonal" eContentType="Live">
      <GalleryTypeData>
        <blend>live_personal</blend>
        <type></type>
        <Params></Params>
      </GalleryTypeData>
    </Gallery>
    <Gallery eGalleryType="HomeLivePromotions" eContentType="Live">
      <GalleryTypeData>
        <blend>live_promotions</blend>
        <type></type>
        <Params></Params>
      </GalleryTypeData>
    </Gallery>
    <Gallery eGalleryType="CatalogVODPromotions" eContentType="VOD">
      <GalleryTypeData>
        <blend>vod_promotions</blend>
        <type></type>
        <Params></Params>
      </GalleryTypeData>
    </Gallery>
    <Gallery eGalleryType="CategoryCatalogVODPromotions" eContentType="VOD">
      <GalleryTypeData>
        <blend>vod_personal</blend>
        <type></type>
        <Params></Params>
      </GalleryTypeData>
    </Gallery>
    <Gallery eGalleryType="MovieRelated" eContentType="VOD">
      <GalleryTypeData>
        <blend>vod_related</blend>
        <type></type>
        <Params>
          <Param>
            <key>external_content_id</key>
            <name>external_content_id</name>
          </Param>
        </Params>
      </GalleryTypeData>
    </Gallery>
    <Gallery eGalleryType="SeriesRelated" eContentType="VOD">
      <GalleryTypeData>
        <blend>vod_related</blend>
        <type></type>
        <Params>
          <Param>
            <key>external_content_id</key>
            <name>external_content_id</name>
          </Param>
        </Params>
      </GalleryTypeData>
    </Gallery>
    <Gallery eGalleryType="EpisodeRelated" eContentType="VOD">
      <GalleryTypeData>
        <blend>vod_related</blend>
        <type></type>
        <Params>
          <Param>
            <key>external_content_id</key>
            <name>external_content_id</name>
          </Param>
        </Params>
      </GalleryTypeData>
    </Gallery>
    <Gallery eGalleryType="PersonalRecommendationsVOD" eContentType="VOD">
      <GalleryTypeData>
        <blend>vod_personal</blend>
        <type></type>
        <Params></Params>
      </GalleryTypeData>
    </Gallery>
    <Gallery eGalleryType="PersonalRecommendationsLive" eContentType="Live">
      <GalleryTypeData>
        <blend>live_personal</blend>
        <type></type>
        <Params></Params>
      </GalleryTypeData>
    </Gallery>
    <Gallery eGalleryType="EndOfMovie" eContentType="VOD">
      <GalleryTypeData>
        <blend></blend>
        <type>related_content</type>
        <Params>
          <Param>
            <key>external_content_id</key>
            <name>external_content_id</name>
          </Param>
        </Params>
      </GalleryTypeData>
    </Gallery>
    <Gallery eGalleryType="EndOfEpisode" eContentType="VOD">
      <GalleryTypeData>
        <blend></blend>
        <type>related_content</type>
        <Params>
          <Param>
            <key>external_content_id</key>
            <name>external_content_id</name>
          </Param>
        </Params>
      </GalleryTypeData>
    </Gallery>
  </Galleries>
  
  
  
  
  
</OrcaRecommendations>