<?xml version="1.0"?>

<OrcaRecommendations xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="..\..\..\..\..\..\Branch\Libs\TVPPro.Configuration\OrcaRecommendations\OrcaRecommendationsData.xsd">

  <DefaultParentalLevel>18</DefaultParentalLevel>
  <MaxResults>20</MaxResults>
  <EndTimeOffset>10</EndTimeOffset>
  <EndTimeLimit>true</EndTimeLimit>
  <GMTOffset>3</GMTOffset>
  <VODFailOverChannelID>333759</VODFailOverChannelID>
  <LiveFailOverChannelID>333668</LiveFailOverChannelID>
  <Galleries>
    <Gallery eGalleryType="HomeVODPersonal" eContentType="VOD">
      <GalleryTypeData>
        <blend>vod_personal</blend>
        <type></type>
        <genres></genres>
        <Params></Params>
      </GalleryTypeData>
    </Gallery>
    <Gallery eGalleryType="HomeVODPromotions" eContentType="VOD">
      <GalleryTypeData>
        <blend>vod_promotions</blend>
        <type></type>
        <genres></genres>
        <Params></Params>
      </GalleryTypeData>
    </Gallery>
    <Gallery eGalleryType="HomeLivePersonal" eContentType="Live">
      <GalleryTypeData>
        <blend>live_personal</blend>
        <type></type>
        <genres></genres>
        <Params></Params>
      </GalleryTypeData>
    </Gallery>
    <Gallery eGalleryType="HomeLivePromotions" eContentType="Live">
      <GalleryTypeData>
        <blend>live_promotions</blend>
        <type></type>
        <genres></genres>
        <Params></Params>
      </GalleryTypeData>
    </Gallery>
    <Gallery eGalleryType="CatalogVODPromotions" eContentType="VOD">
      <GalleryTypeData>
        <blend>vod_promotions</blend>
        <type></type>
        <genres></genres>
        <Params></Params>
      </GalleryTypeData>
    </Gallery>
    <Gallery eGalleryType="CategoryCatalogVODPromotions" eContentType="VOD">
      <GalleryTypeData>
        <blend>vod_personal</blend>
        <type></type>
        <genres></genres>
        <Params>
          <key>co_guid</key>
          <name>co_guid</name>
        </Params>
      </GalleryTypeData>
    </Gallery>
    <Gallery eGalleryType="MovieRelated" eContentType="VOD">
      <GalleryTypeData>
        <blend>vod_related</blend>
        <type></type>
        <genres></genres>
        <Params>
          <Param>
            <key>external_content_id</key>
            <name>external_content_id</name>
          </Param>
        </Params>
      </GalleryTypeData>
    </Gallery>
    <Gallery eGalleryType="SeriesRelated" eContentType="VOD">
      <GalleryTypeData>
        <blend>vod_related</blend>
        <type></type>
        <genres></genres>
        <Params>
          <Param>
            <key>external_content_id</key>
            <name>external_content_id</name>
          </Param>
        </Params>
      </GalleryTypeData>
    </Gallery>
    <Gallery eGalleryType="EpisodeRelated" eContentType="VOD">
      <GalleryTypeData>
        <blend>vod_related</blend>
        <type></type>
        <genres></genres>
        <Params>
          <Param>
            <key>external_content_id</key>
            <name>external_content_id</name>
          </Param>
        </Params>
      </GalleryTypeData>
    </Gallery>
    <Gallery eGalleryType="PersonalRecommendationsVOD" eContentType="VOD">
      <GalleryTypeData>
        <blend>vod_personal</blend>
        <type></type>
        <genres></genres>
        <Params></Params>
      </GalleryTypeData>
    </Gallery>
    <Gallery eGalleryType="PersonalRecommendationsLive" eContentType="Live">
      <GalleryTypeData>
        <blend>live_personal</blend>
        <type></type>
        <genres></genres>
        <Params></Params> 
      </GalleryTypeData>
    </Gallery>
    <Gallery eGalleryType="EndOfMovie" eContentType="VOD">
      <GalleryTypeData>
        <blend></blend>
        <type>related_content</type>
        <genres></genres>
        <Params>
          <Param>
            <key>external_content_id</key>
            <name>external_content_id</name>
          </Param>
        </Params>
      </GalleryTypeData>
    </Gallery>
    <Gallery eGalleryType="EndOfEpisode" eContentType="VOD">
      <GalleryTypeData>
        <blend></blend>
        <type>related_content</type>
        <genres></genres>
        <Params>
          <Param>
            <key>external_content_id</key>
            <name>external_content_id</name>
          </Param>
        </Params>
      </GalleryTypeData>
    </Gallery>
    <Gallery eGalleryType="VODAction" eContentType="VOD">
      <GalleryTypeData>
        <blend>vod_personal</blend>
        <type></type>
        <genres>11006,11012,11011,11008</genres>
        <Params>
        </Params>
      </GalleryTypeData>
    </Gallery>
    <Gallery eGalleryType="VODDrama" eContentType="VOD">
      <GalleryTypeData>
        <blend>vod_personal</blend>
        <type></type>
        <genres>11001,11010,11014,11003</genres>
        <Params>
        </Params>
      </GalleryTypeData>
    </Gallery>
    <Gallery eGalleryType="VODComedy" eContentType="VOD">
      <GalleryTypeData>
        <blend>vod_personal</blend>
        <type></type>
        <genres>11002,11014,11007</genres>
        <Params>
        </Params>
      </GalleryTypeData>
    </Gallery>
    <Gallery eGalleryType="VODThriller" eContentType="VOD">
      <GalleryTypeData>
        <blend>vod_personal</blend>
        <type></type>
        <genres>11015,11005</genres>
        <Params>
        </Params>
      </GalleryTypeData>
    </Gallery>
    <Gallery eGalleryType="VODDoco" eContentType="VOD">
      <GalleryTypeData>
        <blend>vod_personal</blend>
        <type></type>
        <genres>9000,9001,9002,9003,9004,9005,9006,9007,9008,9009,9010,9011,9012,9013,9014,9015</genres>
        <Params>
        </Params>
      </GalleryTypeData>
    </Gallery>
      <Gallery eGalleryType="VODKids" eContentType="VOD">
        <GalleryTypeData>
          <blend>vod_personal</blend>
          <type></type>
          <genres>1006,5000,5001,5002,5003,5004,5005,5006,5007,5008,5009,5010,5011,5012,5015</genres>
          <Params>
          </Params>
        </GalleryTypeData>
      </Gallery>
  </Galleries>
</OrcaRecommendations>