.component {
    margin: 20px auto;
}

#ListComponent {
    width: 390px;
}

.ListComponent {
    width: 370px;
    height: 290px;
    padding: 14px;
    background-color: #CCE6FF;
    display: inline-block;
}

    .ListComponent .list-title {
        text-align: left;
        width: 100%;
        font-size: 18px;
        margin-bottom: 10px;
    }

    .ListComponent .quick-search {
        width: 100%;
        border-bottom: 1px solid #DEDEDE;
    }

        .ListComponent .quick-search input {
            background-position: 11px;
            background-repeat: no-repeat;
            background-image: url(../images/magGray.png);
            text-align: left;
            border: 0;
            outline: none;
            margin: 0;
            padding: 0 0 0 35px;
            height: 35px;
            width: 370px;
            color: rgb(207, 207, 207);
            font-size: 14px;
        }

    .ListComponent .items-list {
        width: 100%;
        height: 222px;
        overflow-x: hidden;
        overflow-y: auto;
        margin: 0;
        padding: 0;
        list-style: none;
        background-color: #FFF;
    }

        .ListComponent .items-list li {
            padding: 10px 0 10px 35px;
            font-size: 16px;
            position: relative;
        }

        .ListComponent .items-list .list-item {
            max-height: 0;
            opacity: 0;
            -webkit-transform: translateX(-300px);
            -ms-transform: translateX(-300px);
            -o-transform: translateX(-300px);
            -moz-transform: translateX(-300px);
            transform: translateX(-300px);
            -webkit-animation: openSpace 500ms ease forwards, moveIn 750ms 500ms ease forwards;
            -o-animation: openSpace 500ms ease forwards, moveIn 750ms 500ms ease forwards;
            -moz-animation: openSpace 500ms ease forwards, moveIn 750ms 500ms ease forwards;
            animation: openSpace 500ms ease forwards, moveIn 750ms 500ms ease forwards;
        }

        .ListComponent .items-list li:hover {
            background-color: #CCE6FF;
        }

        .ListComponent .items-list li .add-remove-icon.add {
            top: 14px;
            position: absolute;
            background-repeat: no-repeat;
            padding: 6px;
            background-image: url(../images/add.png);
            left: 12px;
        }

            .ListComponent .items-list li .add-remove-icon.add:hover {
                background-image: url(../images/add-hover.png);
            }

        .ListComponent .items-list li .add-remove-icon.remove {
            top: 16px;
            position: absolute;
            background-repeat: no-repeat;
            padding: 6px;
            background-image: url(../images/remove.png);
            left: 14px;
        }

            .ListComponent .items-list li .add-remove-icon.remove:hover {
                background-image: url(../images/remove-hover.png);
            }

        .ListComponent .items-list li .info-icon {
            top: 15px;
            position: absolute;
            background-repeat: no-repeat;
            padding: 7px;
            background-image: url(../images/info.png);
            right: 14px;
        }

        .ListComponent .items-list li.active .info-icon {
            background-image: url(../images/info-active.png);
        }

        .ListComponent .items-list li .calendar-icon {
            top: 15px;
            position: absolute;
            background-repeat: no-repeat;
            padding: 7px;
            background-image: url(../images/calendar.png);
            right: 38px;
        }

        .ListComponent .items-list li.has-date .calendar-icon {
            background-image: url(../images/calendar-active.png);
        }

        .ListComponent .items-list li .calendar-icon.active {
            background-image: url(../images/calendar-active.png);
        }

        .ListComponent .items-list li .calendar-comp {
            position: absolute;
            display: inline-block;
            right: 62px;
            top: 10px;
        }

        .ListComponent .items-list li.has-date .calendar-comp > span {
            margin: 0 10px 0 0;
        }

        .ListComponent .items-list li .calendar-comp > span {
            margin: 5px;
        }

        .ListComponent .items-list li .calendar-comp .date {
            display: inline-block;
            position: relative;
        }

        .ListComponent .items-list li.has-date .calendar-comp .date input {
            background-color: rgba(0, 0, 0, 0);
            border: none;
            color: rgb(75, 154, 246);
        }

        .ListComponent .items-list li .calendar-comp .date input {
            width: 72px;
            height: 18px;
            font-size: 12px;
            border: 1px solid #DDDDDD;
            border-radius: 3px;
            outline: none;
            margin: 0;
            padding: 0;
            color: #9D9D9D;
        }

            .ListComponent .items-list li .calendar-comp .date input:focus {
                border: 1px solid #699ED0;
                box-shadow: 0px 0px 5px 1px rgb(194, 222, 246);
            }

        .ListComponent .items-list .info-wrapper {
            background-color: rgb(236, 236, 236);
            text-align: left;
            padding: 15px;
            margin: 0px 10px 10px 10px;
            color: rgb(0, 0, 0);
            position: relative;
        }

            .ListComponent .items-list .info-wrapper .triangle {
                background-image: url(../images/info-triangle.png);
                position: absolute;
                right: -2px;
                top: -6px;
                padding: 10px;
                background-repeat: no-repeat;
            }

.tooltip {
    left: -14px;
    top: -36px;
    border-radius: 3px;
    background-color: rgb(235, 72, 67);
    z-index: 5;
    font-size: 14px;
    position: absolute;
    padding: 5px;
    white-space: nowrap;
}

    .tooltip .tooltip-triangle {
        position: absolute;
        bottom: -14px;
        left: 45px;
        background-image: url(../images/tooltip-triangle.png);
        background-repeat: no-repeat;
        padding: 7px;
    }

.ppvm-text {
    width: 115px;
    text-overflow: ellipsis;
    overflow: hidden;
    display: inline-block;
    white-space: nowrap;
}