<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="TCMConfig" type="TCMClient.TCMConfiguration, TCMClient" allowLocation="true" allowDefinition="Everywhere" />
  </configSections>
  <appSettings>
    <add key="OPC_DAL_TIMEOUT" value="600000" />
    <add key="ASSETS_PAGE_SIZE" value="2000" />
    <add key="BULK_IDS_UPDATE_SIZE" value="2000" />
  </appSettings>
  <TCMConfig URL="http://tcm.service.consul:9092" Application="OTT_API_SV" Host="PROD_v5_2_2" Environment="main" AppSecret="5aaa99331c18f6bad4adeef93ab770c2" AppID="5bf8cf60" />
</configuration>
