<?xml version="1.0" encoding="UTF-8"?>

<PlatformServicesData xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="..\..\..\..\..\Libs\TVPPro.Configuration\PlatformServices\PlatformServicesData.xsd">
  <UsersService URL="http://173.231.146.34:9003/webservices/users/module.asmx">
    <DefaultUser>users_122</DefaultUser>
    <DefaultPassword>11111</DefaultPassword>
  </UsersService>
  <ConditionalAccessService URL="http://173.231.146.34:9003/webservices/ca/module.asmx">
    <DefaultUser>conditionalaccess_122</DefaultUser>
    <DefaultPassword>11111</DefaultPassword>
    <GetUserPermittedItems UserName="conditionalaccess" Password="11111" />
  </ConditionalAccessService>
  <ApiService URL="http://173.231.146.34:9003/webservices/api/api.asmx">
    <DefaultUser>api_122</DefaultUser>
    <DefaultPassword>11111</DefaultPassword>
  </ApiService>
  <PricingService URL="http://173.231.146.34:9003/webservices/pricing/module.asmx">
    <DefaultUser>pricing_122</DefaultUser>
    <DefaultPassword>11111</DefaultPassword>
  </PricingService>
  <BillingService>
    <DefaultUser>billing_122</DefaultUser>
    <DefaultPassword>11111</DefaultPassword>
  </BillingService>
</PlatformServicesData>
