<?xml version="1.0"?>
<configuration>
    <system.web>
        <compilation debug="false" targetFramework="4.5" />
        <httpRuntime targetFramework="4.5" />
    </system.web>

    <configSections>
        <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    </configSections>

    <log4net debug="false">
        <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
            <file type="log4net.Util.PatternString" value="%property{LogDir}\\v5_0_1\\tvp-api.log" />
            <appendToFile value="true" />
			
			<rollingStyle value="Date" />
			<param name="DatePattern" value="dd.MM.yyyy'.log'" />
            <filter type="log4net.Filter.LevelRangeFilter">
                <acceptOnMatch value="true" />
                <levelMin value="info" />
                <levelMax value="fatal" />
            </filter>
            <staticLogFileName value="true" />
            <layout type="log4net.Layout.PatternLayout">
                <conversionPattern value="%p %d %m%n" />
            </layout>
        </appender>

        <appender name="monitorAppender" type="log4net.Appender.RollingFileAppender">
            <file type="log4net.Util.PatternString" value="%property{LogDir}\\v5_0_1\\tvp-api-monitor.mon" />
            <appendToFile value="true" />
			
			<rollingStyle value="Date" />
			<param name="DatePattern" value="dd.MM.yyyy'.log'" />
            <filter type="log4net.Filter.LevelRangeFilter">
                <acceptOnMatch value="true" />
                <levelMin value="Trace" />
                <levelMax value="Trace" />
            </filter>
            <staticLogFileName value="true" />
            <layout type="log4net.Layout.PatternLayout">
                <conversionPattern value="%p %d %m%n" />
            </layout>
        </appender>
        <appender name="DebugRollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
            <file type="log4net.Util.PatternString" value="%property{LogDir}\\v5_0_1\\tvp-api-debug.log" />
            <appendToFile value="true" />
            
			<rollingStyle value="Date" />
			<param name="DatePattern" value="dd.MM.yyyy'.log'" />
            <filter type="log4net.Filter.LevelRangeFilter">
                <acceptOnMatch value="true" />
                <levelMin value="debug" />
                <levelMax value="debug" />
            </filter>
            <staticLogFileName value="true" />
            <layout type="log4net.Layout.PatternLayout">
                <conversionPattern value="%p %d %m%n" />
            </layout>
        </appender>
		<appender name="LocalPerformance" type="log4net.Appender.RollingFileAppender">
            <file type="log4net.Util.PatternString" value="%property{LogDir}\\v5_0_1\\tvp-performance.log" />
            <appendToFile value="true" />
			
            <rollingStyle value="Date" />
			<param name="DatePattern" value="dd.MM.yyyy'.log'" />
            <filter type="log4net.Filter.LevelRangeFilter">
                <acceptOnMatch value="true" />
                <levelMin value="debug" />
                <levelMax value="debug" />
            </filter>
            <staticLogFileName value="true" />
            <layout type="log4net.Layout.PatternLayout,log4net">
                <conversionPattern value="%d %-5p %c - %property{Msisdn} (%property{RequesterIP}) - %property{RequestURL} - %m%n" />
            </layout>
        </appender>

        <root>
            <level value="ALL" />
            <appender-ref ref="RollingLogFileAppender" />
            <appender-ref ref="DebugRollingLogFileAppender" />
			
            <appender-ref ref="monitorAppender" />
        </root>

        <logger name="GlobalASCX" additivity="false">
            <level value="DEBUG"/>
            <appender-ref ref="LocalPerformance"/>
        </logger>
        
    </log4net>

</configuration>


