<?xml version="1.0" encoding="utf-8"?>
<!-- sssssssssssssswssssssssssssssssssssssssss
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.  
    A full list of settings and comments can be found in      
    machine.config.comments usually located in s  
    \Windows\Microsoft.Net\Framework\v2.x\Config s    
-->
<configuration>
  <configSections>
    <section name="CouchbaseSectionMapping" type="System.Configuration.NameValueFileSectionHandler,System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />    
    <section name="TVinciDBConfig" type="TVPApi.TVinciDBConfiguration" allowLocation="true" allowDefinition="Everywhere" />
  </configSections>
  <CouchbaseSectionMapping>
    <add key="authorization" value="crowdsource" />
  </CouchbaseSectionMapping>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="webHttpBindingCatalogBinding" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" maxReceivedMessageSize="2147483647">
          <security mode="None" />
        </binding>
      </wsHttpBinding>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ITVPConfigSvc" />
      </basicHttpBinding>
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name="web">
          <dataContractSerializer maxItemsInObjectGraph="2147483646" />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="CatalogBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
        <!--<behavior name="">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>  
        </behavior>-->
      </serviceBehaviors>
    </behaviors>
    <client>
      <endpoint address="http://msedge.prd.tvincidns.com/ws/TVPConfigSvc.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITVPConfigSvc" contract="ConfigSvc.ITVPConfigSvc" name="BasicHttpBinding_ITVPConfigSvc" />
      <endpoint address="http://192.168.16.66/WS_Catalog/Service.svc" binding="wsHttpBinding" contract="TvinciPlatform.Catalog.Iservice" bindingConfiguration="webHttpBindingCatalogBinding" behaviorConfiguration="web" />
      <!--<endpoint  binding="wsHttpBinding" contract="TvinciPlatform.Notification.INotificationService"
                  bindingConfiguration="webHttpBindingCatalogBinding" behaviorConfiguration="web"/>-->
      <endpoint binding="basicHttpBinding" contract="TvinciPlatform.Notification.INotificationService" bindingConfiguration="BasicHttpBinding_ITVPConfigSvc" />
    </client>
  </system.serviceModel>
  <!--<TVinciDBConfig User="production" Pass="lF6CZU9HIOIAGuzj" DBServer="63.219.17.34\staging" DBInstance="TVinci"></TVinciDBConfig>-->
  <!--<TVinciDBConfig User="production" Pass="lF6CZU9HIOIAGuzj" DBServer="63.219.17.34\staging" DBInstance="TVinci"></TVinciDBConfig>-->
  <TVinciDBConfig User="production" Pass="lF6CZU9HIOIAGuzj" DBServer="192.168.192.138" DBInstance="TVinci" />
  <appSettings file="Configuration/GlobalAppSettings.config">
    <add key="AppEnvironment" value="test" />
    <add key="TVPPro.Configuration.Online" value="~/Configuration/OnlineConfiguration.config" />
    <add key="TechnicalIP" value="*" />
    <add key="IsDebug" value="false" />
    <add key="Tvinci.DataLoader.CacheLite.ShouldUseCache" value="true" />
    <add key="il.co.smscenter.www.SendMessage" value="http://www.smscenter.co.il/Web/WebServices/SendMessage.asmx" />
    <add key="ShouldUseNewCache" value="true" />
  </appSettings>
  <connectionStrings />
  <!--
    For a description of web.config changes for .NET 4.5 see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <webServices>
      <protocols>
        <add name="HttpGet" />
        <add name="HttpPost" />
      </protocols>
    </webServices>
    <!-- Set compilation debug="true" to insert debugging  
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.-->
    <compilation debug="true" targetFramework="4.5" />
    <!--
              The <authentication> section enables configuration  
              of the security authentication mode used by 
              ASP.NET to identify an incoming user. 
          -->
    <authentication mode="Windows" />
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.
-->
    <customErrors mode="Off" defaultRedirect="GenericErrorPage.htm">
      <error statusCode="403" redirect="NoAccess.htm" />
      <error statusCode="404" redirect="FileNotFound.htm" />
    </customErrors>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
  </system.web>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <system.webServer>
    <handlers>
      <add name="CrossOrigin" verb="OPTIONS" path="*" type="TVPApiModule.HttpHandlers.CrossOriginHandler, TVPApiModule" />
    </handlers>
  </system.webServer>
</configuration>