<?xml version="1.0" encoding="UTF-8"?>

<PlatformServicesData xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="..\..\..\..\..\Libs\TVPPro.Configuration\PlatformServices\PlatformServicesData.xsd">
    <UsersService URL="http://localhost/webservices/users/module.asmx">
        <DefaultUser>users_215</DefaultUser>
        <DefaultPassword>11111</DefaultPassword>
    </UsersService>
    <ConditionalAccessService URL="http://localhost/webservices/cas/module.asmx">
        <DefaultUser>conditionalaccess_215</DefaultUser>
        <DefaultPassword>11111</DefaultPassword>
    </ConditionalAccessService>
    <ApiService URL="http://localhost/webservices/api/api.asmx">
        <DefaultUser>api_215</DefaultUser>
        <DefaultPassword>11111</DefaultPassword>
    </ApiService>
    <PricingService URL="http://localhost/webservices/pricing/module.asmx">
        <DefaultUser>pricing_215</DefaultUser>
        <DefaultPassword>11111</DefaultPassword>
    </PricingService>
    <BillingService URL="http://localhost/webservices/billing/module.asmx">
        <DefaultUser>billing_215</DefaultUser>
        <DefaultPassword>11111</DefaultPassword>
    </BillingService>
    <DomainsService URL="http://localhost/webservices/domains/module.asmx">
        <DefaultUser>domains_215</DefaultUser>
        <DefaultPassword>11111</DefaultPassword>
    </DomainsService>
    <SocialService URL="http://localhost/webservices/social/module.asmx">
        <DefaultUser>social_215</DefaultUser>
        <DefaultPassword>11111</DefaultPassword>
    </SocialService>
    <CatalogService URL="http://localhost/webservices/catalog/Service.svc">
        <SignatureKey>liat regev</SignatureKey>
    </CatalogService>
</PlatformServicesData>