<?xml version="1.0" encoding="utf-8"?>
<TechnicalData xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="..\..\..\..\..\..\Branch\Libs\TVPPro.Configuration\Technical\TechnicalData.xsd">
  <DBConfiguration>
    <User>production</User>
    <Pass>lF6CZU9HIOIAGuzj</Pass>
    <IP>72.26.211.98</IP>
    <DatabaseInstance>tvp_filmotech_IPad</DatabaseInstance>
  </DBConfiguration>
  <TVM>
    <Servers>
      <MainServer>
        <URL>http://173.231.146.34:9003/platform-us/api.aspx</URL>
        <TVMReadURL>http://173.231.146.34:9003/platform-us/api.aspx</TVMReadURL>
        <TVMWriteURL>http://173.231.146.34:9003/platform-us/api.aspx</TVMWriteURL>
      </MainServer>
      <AlternativeServer></AlternativeServer>
    </Servers>
    <Configuration>
      <ForceUpdatedData>0</ForceUpdatedData>
      <EnableTimer>0</EnableTimer>
      <User>filmo_main-main</User>
      <Password>filmo_main-main</Password>
      <EmbedUser/>
      <EmberPassword/>
    </Configuration>
    <CachingServer>      
      <AllowedIPs>string</AllowedIPs>
    </CachingServer>
    <FlashVars>
      <FileFormat>iPad Main</FileFormat>
      <SubFileFormat>iPad Trailer</SubFileFormat>
    </FlashVars>
    <TVMRssURL>http://platform-us.tvinci.com/feed.aspx</TVMRssURL>
  </TVM>
  <Site>
    <BasePictureUrl></BasePictureUrl>
    <GalleryComponent NonAjaxGalleriesNumber="2">
      <SWFFileBaseURL>http://tvinci.panthercustomer.com/</SWFFileBaseURL>
    </GalleryComponent>
    <ApplicativeBaseUri UsePermanentURL="true">
      <BaseUri>stream</BaseUri>
    </ApplicativeBaseUri>
    <LogBasePath>c:\log\TVPApi</LogBasePath>
  </Site>
</TechnicalData>
