<?xml version="1.0"?>
<appSettings>
  <add key="il.co.mediazone.web11.service" value="http://web11.mediazone.co.il/tvinciDRM/service.asmx"/>
  <add key="CONNECTION_STRING" value="Driver={SQL Server};Server=192.168.16.122;Database=tvinci;Uid=production;Pwd=lF6CZU9HIOIAGuzj;Trusted_Connection=False;Min Pool Size=5;Max Pool Size=200"/>
  <add key="pricing_connection" value="Driver={SQL Server};Server=192.168.16.122;Database=pricing;Uid=production;Pwd=lF6CZU9HIOIAGuzj;Trusted_Connection=False;Min Pool Size=5;Max Pool Size=200"/>
  <add key="MAIN_CONNECTION_STRING" value="Driver={SQL Server};Server=192.168.16.122;Database=tvinci;Uid=production;Pwd=lF6CZU9HIOIAGuzj;Trusted_Connection=False;Min Pool Size=5;Max Pool Size=200"/>
  <!--add key="CONNECTION_STRING" value="Driver={SQL Server};Server=msd169.1host.co.il;Database=tvinci;Uid=production;Pwd=lF6CZU9HIOIAGuzj;"/-->
  <!--add key="writable_CONNECTION_STRING" value="Driver={SQL Server};Server=wd169.1host.co.il;Database=tvinci;Uid=production;Pwd=lF6CZU9HIOIAGuzj;Trusted_Connection=False;Min Pool Size=5;Max Pool Size=200"/-->
  <!--add key="writable_CONNECTION_STRING" value=""/-->
  <add key="LOGS_PATH" value="C:\\temp" />
  <add key="SERVER_NAME" value="US-100" />
  <add key="APPLICATION_NAME" value="PLATFORM" />
  <add key="BILLING_CONNECTION_STRING" value="Driver={SQL Server};Server=72.26.211.98;Database=billing;Uid=production;Pwd=lF6CZU9HIOIAGuzj;Trusted_Connection=False;Min Pool Size=5;Max Pool Size=200"/>
  <add key="TVP_CONNECTION_STRING" value="Driver={SQL Server};Server=72.26.211.98;Database=tvp_novebox;Uid=production;Pwd=lF6CZU9HIOIAGuzj;"/>
  <add key="CONNECTION_LOCK_TIMEOUT" value="2000"/>
  <add key="ODBC_CACHE_SEC" value="1200"/>
  <add key="QUERY_LONG" value="50"/>
  <add key="SMS_WS_UN" value="guy_tvinci"/>
  <add key="bftv_ws" value="http://beta.babyfirsttv.com/TvApi.wsdl"/>
  <add key="SMS_WS_URL" value="http://www.smscenter.co.il/Web/WebServices/SendMessage.asmx"/>
  <add key="SMS_WS_PASS" value="1ff28c3aaec95f0d43b76dc3d1caa36f"/>
  <add key="SMS_WS_PHONES" value="0546812480;0547969518"/>
  <add key="SMS_WS_MAILS" value="guy@tvinci.com"/>
</appSettings>
