version: '3'
services:
  mongo:
    image: mongo
    expose:
      - '27017'
    environment:
      - MONGO_INITDB_ROOT_USERNAME=root
      - MONGO_INITDB_ROOT_PASSWORD=123456
    networks:
      - testbed
networks:
  testbed:
    driver: bridge