<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <log4net debug="true">
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file type="log4net.Util.PatternString" value="%property{LogDir}\\v5_0_1\\tvp-api-rest-%property{LogName}.log" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="10MB" />
      <filter type="log4net.Filter.LevelRangeFilter">
        <acceptOnMatch value="true" />
        <levelMin value="info" />
        <levelMax value="fatal" />
      </filter>
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%p %d %m%n" />
      </layout>
    </appender>
    <appender name="monitorAppender" type="log4net.Appender.RollingFileAppender">
      <file type="log4net.Util.PatternString" value="%property{LogDir}\\v5_0_1\\tvp-api-rest-monitor-%property{LogName}.mon" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="10MB" />
      <filter type="log4net.Filter.LevelRangeFilter">
        <acceptOnMatch value="true" />
        <levelMin value="Trace" />
        <levelMax value="Trace" />
      </filter>
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%p %d %m%n" />
      </layout>
    </appender>
    <appender name="DebugRollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file type="log4net.Util.PatternString" value="%property{LogDir}\\v5_0_1\\tvp-api-rest-debug-%property{LogName}.log" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="10MB" />
      <filter type="log4net.Filter.LevelRangeFilter">
        <acceptOnMatch value="true" />
        <levelMin value="debug" />
        <levelMax value="debug" />
      </filter>
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%p %d %m%n" />
      </layout>
    </appender>
    <appender name="OfflinePpvAppender" type="log4net.Appender.RollingFileAppender">
      <file type="log4net.Util.PatternString" value="%property{LogDir}\\v5_0_1\\%property{log4net:HostName}_OfflinePpvAppender_" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <datePattern value="yyyyMMddHH'.csv'" />
      <filter type="log4net.Filter.LevelRangeFilter">
        <acceptOnMatch value="true" />
        <levelMin value="info" />
        <levelMax value="info" />
      </filter>
      <staticLogFileName value="false" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%p %d %m%n" />
      </layout>
    </appender>
    <appender name="OfflineSubscriptionAppender" type="log4net.Appender.RollingFileAppender">
      <file type="log4net.Util.PatternString" value="%property{LogDir}\\v5_0_1\\%property{log4net:HostName}_OfflineSubscriptionAppender_" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <datePattern value="yyyyMMddHH'.csv'" />
      <filter type="log4net.Filter.LevelRangeFilter">
        <acceptOnMatch value="true" />
        <levelMin value="info" />
        <levelMax value="info" />
      </filter>
      <staticLogFileName value="false" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%p %d %m%n" />
      </layout>
    </appender>
    <appender name="MediaEohAppender" type="log4net.Appender.RollingFileAppender">
      <file type="log4net.Util.PatternString" value="%property{LogDir}\\v5_0_1\\%property{log4net:HostName}_MediaEOH_" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <datePattern value="yyyyMMddHH'.csv'" />
      <filter type="log4net.Filter.LevelRangeFilter">
        <acceptOnMatch value="true" />
        <levelMin value="debug" />
        <levelMax value="fatal" />
      </filter>
      <staticLogFileName value="false" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%p %d %m%n" />
      </layout>
    </appender>
    <appender name="NewWatcherMediaActionAppender" type="log4net.Appender.RollingFileAppender">
      <file type="log4net.Util.PatternString" value="%property{LogDir}\\v5_0_1\\%property{log4net:HostName}_NewWatcherMediaAction_" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <datePattern value="yyyyMMddHH'.csv'" />
      <filter type="log4net.Filter.LevelRangeFilter">
        <acceptOnMatch value="true" />
        <levelMin value="debug" />
        <levelMax value="fatal" />
      </filter>
      <staticLogFileName value="false" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%p %d %m%n" />
      </layout>
    </appender>
    <appender name="OfflineCollectionAppender" type="log4net.Appender.RollingFileAppender">
      <file type="log4net.Util.PatternString" value="C:\\log\\tvp_api_rest\\%property{log4net:HostName}_OfflineCollectionAppender_" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <datePattern value="yyyyMMddHH'.csv'" />
      <filter type="log4net.Filter.LevelRangeFilter">
        <acceptOnMatch value="true" />
        <levelMin value="info" />
        <levelMax value="info" />
      </filter>
      <staticLogFileName value="false" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%p %d %m%n" />
      </layout>
    </appender>
    <appender name="GraphiteUdpAppender" type="log4net.Appender.UdpAppender">
      <remoteAddress value="172.31.24.55" />
      <remotePort value="8125" />
      <layout type="log4net.Layout.PatternLayout">
        <IgnoresException value="False" />
        <conversionPattern value="%property{log4net:HostName}.log4net.%level:1|kv\n" />
      </layout>
    </appender>
    <root>
      <level value="ALL" />
      <appender-ref ref="RollingLogFileAppender" />
      <appender-ref ref="DebugRollingLogFileAppender" />
      <appender-ref ref="monitorAppender" />
      <appender-ref ref="GraphiteUdpAppender" />
    </root>
    <logger name="OfflinePpvLogger" additivity="false">
      <level value="ALL" />
      <appender-ref ref="OfflinePpvAppender" />
    </logger>
    <logger name="OfflineSubscriptionLogger" additivity="false">
      <level value="ALL" />
      <appender-ref ref="OfflineSubscriptionAppender" />
    </logger>
    <logger name="offlineCollectionLogger" additivity="false">
      <level value="ALL" />
      <appender-ref ref="OfflineCollectionAppender" />
    </logger>
    <logger name="MediaEohLogger" additivity="false">
      <level value="ALL" />
      <appender-ref ref="MediaEohAppender" />
    </logger>
    <logger name="NewWatcherMediaActionLogger" additivity="false">
      <level value="ALL" />
      <appender-ref ref="NewWatcherMediaActionAppender" />
    </logger>
    <logger name="SearchHistoryLogger" additivity="false">
      <level value="ALL" />
      <appender-ref ref="NewWatcherMediaActionAppender" />
    </logger>
  </log4net>
</configuration>