<?xml version="1.0" encoding="utf-8"?>
<!--      
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>        
  <configSections>
  <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <section name="TCMConfig" type="TCMClient.TCMConfiguration, TCMClient" allowLocation="true" allowDefinition="Everywhere" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="WebAPI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>  
  </configSections>
  <system.serviceModel> 
    <bindings>  
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ITVPConfigSvc" />
		<binding name="BasicHttpBinding_INotificationService" />
      </basicHttpBinding>
      <wsHttpBinding>
        <binding name="webHttpBindingCatalogBinding" openTimeout="00:10:00"
          receiveTimeout="00:10:00" sendTimeout="00:10:00" maxReceivedMessageSize="2147483647">
          <security mode="None" />
        </binding> 
        <binding name="WSHttpBinding_Iservice"> 
          <security mode="None" />
        </binding>
      </wsHttpBinding>
    </bindings> 
    <behaviors>
      <endpointBehaviors>
        <behavior name="web" />
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="CatalogBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>    
      </serviceBehaviors> 
    </behaviors>    
    <client>
      <endpoint address="" behaviorConfiguration="web" binding="wsHttpBinding"
        bindingConfiguration="webHttpBindingCatalogBinding" contract="Catalog.Iservice" />
      <endpoint binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITVPConfigSvc"
        contract="Notifications.INotificationService" />
      <endpoint address="http://webservices/catalog_v3_9/Service.svc"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_Iservice"
        contract="Catalog.Iservice" name="WSHttpBinding_Iservice" />
	  <endpoint address="http://webservices/notifications_v3_9/NotificationService.svc" binding="basicHttpBinding"
   bindingConfiguration="BasicHttpBinding_INotificationService" contract="Notifications.INotificationService" name="BasicHttpBinding_INotificationService" />

<!-- 		   <endpoint address="http://webservices/notifications_v3_9/NotificationService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_INotificationService"   
        contract="Notifications.INotificationService" name="BasicHttpBinding_INotificationService" />
      <endpoint address="http://webservices/notifications_v3_9/NotificationService.svc" behaviorConfiguration="web" binding="wsHttpBinding"
       bindingConfiguration="webHttpBindingCatalogBinding" contract="Notifications.INotificationService" /> -->
    </client>   
  </system.serviceModel>
  <TCMConfig URL="http://tcm1:8080" Application="EU_Phoenix" Host="main" Environment="prod_v_3_9" AppSecret="5aaa99331c18f6bad4adeef93ab770c2" AppID="5bf8cf60" />
  <!-- 
    For a description of web.config changes for .NET 4.5 see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <httpRuntime enableVersionHeader="false" relaxedUrlToFileSystemMapping="true" />
    <compilation targetFramework="4.5" />
    <pages controlRenderingCompatibilityVersion="4.0" />
	<customErrors mode="Off"/>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.2.0" newVersion="5.2.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly> 
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly> 
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly> 
        <assemblyIdentity name="System.Web.Http.WebHost" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.2.0" newVersion="5.2.2.0" />
      </dependentAssembly> 
      <dependentAssembly> 
        <assemblyIdentity name="System.Net.Http.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.29.0" newVersion="4.2.29.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed"  culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime> 
  <applicationSettings>
    <WebAPI.Properties.Settings>
      <setting name="WebAPI_Domains_module" serializeAs="String">
        <value>http://webservices/domains_v3_9/module.asmx</value>
      </setting>
      <setting name="WebAPI_Social_module" serializeAs="String">
        <value>http://webservices/social_v3_9/module.asmx</value>
      </setting>
      <setting name="WebAPI_Pricing_mdoule" serializeAs="String">
        <value>http://webservices/pricing_v3_9/module.asmx</value>
      </setting>
      <setting name="WebAPI_Users_UsersService" serializeAs="String">
        <value>http://webservices/users_v3_9/module.asmx</value>
      </setting>
      <setting name="WebAPI_ConditionalAccess_module" serializeAs="String">
        <value>http://localhost:82/ws_cas/module.asmx</value>
      </setting>
      <setting name="WebAPI_Api_API" serializeAs="String">
        <value>http://webservices/api_v3_9/api.asmx</value>
      </setting>
      <setting name="WebAPI_Billing_module" serializeAs="String">
        <value>http://webservices/billing_v3_9/module.asmx</value>
      </setting>
    </WebAPI.Properties.Settings>
  </applicationSettings>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="WebDAVModule"/>
      <!-- add this -->
    </modules>
  </system.webServer>
</configuration>

<!-- sunny and amishai testing -->