<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
    <configSections>
        <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
        <section name="TCMConfig" type="TCMClient.TCMConfiguration, TCMClient" allowLocation="true" allowDefinition="Everywhere" />
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="WebAPI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="couchbaseClients">
            <section name="Couchbase"
                 type="Couchbase.Configuration.Client.Providers.CouchbaseClientSection, Couchbase.NetClient" />
        </sectionGroup>
    </configSections>
    <couchbaseClients>
        <Couchbase useSsl="false">
            <!--<notification useSsl="false">-->
            <servers>
                <add uri="http://couchbase1:8091/pools" />
                <add uri="http://couchbase2:8091/pools" />
                <add uri="http://couchbase3:8091/pools" />
            </servers>
            <buckets>
                <add name="OTT_Apps" useSsl="false" password="" operationLifespan="20000">
                    <connectionPool name="custom" maxSize="10" minSize="5" sendTimeout="12000"/>
                </add>
                <add name="epg_channels_schedule" useSsl="false" password="" operationLifespan="20000">
                    <connectionPool name="custom" maxSize="10" minSize="5" sendTimeout="12000"/>
                </add>
                <add name="statistics" useSsl="false" password="" operationLifespan="20000">
                    <connectionPool name="custom" maxSize="10" minSize="5" sendTimeout="12000"/>
                </add>
                <add name="Cache" useSsl="false" password="" operationLifespan="20000">
                    <connectionPool name="custom" maxSize="10" minSize="5" sendTimeout="12000"/>
                </add>
                <add name="MediaMarks" useSsl="false" password="" operationLifespan="20000">
                    <connectionPool name="custom" maxSize="10" minSize="5" sendTimeout="12000"/>
                </add>
                <add name="social" useSsl="false" password="" operationLifespan="20000">
                    <connectionPool name="custom" maxSize="10" minSize="5" sendTimeout="12000"/>
                </add>
                <add name="scheduled_tasks" useSsl="false" password="" operationLifespan="20000">
                    <connectionPool name="custom" maxSize="10" minSize="5" sendTimeout="12000"/>
                </add>
            </buckets>
        </Couchbase>
    </couchbaseClients>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="basicHttpBinding" />
                <binding name="BasicHttpBinding_IService" />
                <binding name="BasicHttpBinding_INotificationService"/>
            </basicHttpBinding>
            <wsHttpBinding>
                <binding name="webHttpBindingCatalogBinding" openTimeout="00:10:00"
                  receiveTimeout="00:10:00" sendTimeout="00:10:00" maxReceivedMessageSize="2147483647">
                    <security mode="None" />
                </binding>
                <binding name="WSHttpBinding_Iservice" openTimeout="00:10:00"
                  receiveTimeout="00:10:00" sendTimeout="00:10:00" maxReceivedMessageSize="2147483647">
                    <security mode="None" />
                </binding>
            </wsHttpBinding>
        </bindings>
        <behaviors>
            <endpointBehaviors>
                <behavior name="web" >
                    <clientBehaviourExtension/>
                </behavior>
            </endpointBehaviors>

        </behaviors>
        <client>
            <endpoint behaviorConfiguration="web" address="http://localhost/Notifications_V4_2/NotificationService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_INotificationService"
                contract="Notifications.INotificationService" name="BasicHttpBinding_INotificationService" />
            <endpoint behaviorConfiguration="web" address="http://localhost/Catalog_V4_2/Service.svc"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_Iservice"
                contract="Catalog.Iservice" name="Catalog_WSHttpBinding_Iservice" />
            <endpoint address="http://localhost/PGAdapter/Service.svc" behaviorConfiguration="web"         binding="basicHttpBinding" bindingConfiguration="basicHttpBinding"         contract="PaymentGWAdapter.IService" />
            <endpoint address="http://localhost/pgadapter/Service.svc" binding="basicHttpBinding" behaviorConfiguration="web"        bindingConfiguration="BasicHttpBinding_IService" contract="PaymentGWAdapter.IService"         name="BasicHttpBinding_IService" />
            <endpoint behaviorConfiguration="web" address="http://localhost/cdvradp/service.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService" contract="cdvrAdap.IService" name="BasicHttpBinding_IService" />
            <endpoint behaviorConfiguration="web" address="http://localhost/cdnadpter/service.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService" contract="CdnAdapter.IService" name="BasicHttpBinding_IService" />
            <endpoint behaviorConfiguration="web" address="http://webservices/Catalog_v4_0/Service.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_Iservice" contract="WS_Catalog.Iservice" name="WSHttpBinding_Iservice"/>
            <endpoint behaviorConfiguration="web" address="http://localhost/OSSAdapter/Service.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="OSSAdapterService.IService" />
        </client>
        <extensions>
            <behaviorExtensions>
                <add name="clientBehaviourExtension" type="ServiceExtensions.ClientEndpointBehavior, ServiceExtensions, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
            </behaviorExtensions>
        </extensions>



    </system.serviceModel>


    <TCMConfig URL="http://tcm:8080" Application="EU_Phoenix" Host="main" Environment="prod_v_4_2" AppSecret="5aaa99331c18f6bad4adeef93ab770c2" AppID="5bf8cf60" />
    <!--
    For a description of web.config changes for .NET 4.5 see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
    <system.web>

        <webServices>
            <soapExtensionTypes >
                <add  type="ServiceExtensions.WSExtension, ServiceExtensions"/>
            </soapExtensionTypes>
        </webServices>

        <httpRuntime enableVersionHeader="false" relaxedUrlToFileSystemMapping="true" />
        <compilation targetFramework="4.5" />
        <pages controlRenderingCompatibilityVersion="4.0" />
        <customErrors mode="Off"/>
    </system.web>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
                <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
                <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
                <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
                <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
                <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
                <bindingRedirect oldVersion="1.0.0.0-5.2.2.0" newVersion="5.2.2.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
                <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
                <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
                <bindingRedirect oldVersion="1.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Web.Http.WebHost" publicKeyToken="31bf3856ad364e35" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-5.2.2.0" newVersion="5.2.2.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Net.Http.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-4.2.29.0" newVersion="4.2.29.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed"  culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
    <applicationSettings>
        <WebAPI.Properties.Settings>
            <setting name="WebAPI_Domains_module" serializeAs="String">
                <value>http://webservices/domains_V4_2/module.asmx</value>
            </setting>
            <setting name="WebAPI_Social_module" serializeAs="String">
                <value>http://webservices/social_V4_2/module.asmx</value>
            </setting>
            <setting name="WebAPI_Pricing_mdoule" serializeAs="String">
                <value>http://webservices/pricing_V4_2/module.asmx</value>
            </setting>
            <setting name="WebAPI_Users_UsersService" serializeAs="String">
                <value>http://webservices/users_V4_2/module.asmx</value>
            </setting>
            <setting name="WebAPI_ConditionalAccess_module" serializeAs="String">
                <value>http://webservices/cas_V4_2/module.asmx</value>
            </setting>
            <setting name="WebAPI_Billing_module" serializeAs="String">
                <value>http://localhost/WS_Billing/module.asmx</value>
            </setting>
            <setting name="WebAPI_Api_API" serializeAs="String">
                <value>http://webservices/api_V4_2/api.asmx</value>
            </setting>
        </WebAPI.Properties.Settings>
    </applicationSettings>
    <system.webServer>
        <handlers>
            <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
            <remove name="OPTIONSVerbHandler" />
            <remove name="TRACEVerbHandler" />
            <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
            <add name="WsModuleHandler" verb="*" path="module.asmx" type="WebAPI.WsModuleHandler" />
        </handlers>
        <modules runAllManagedModulesForAllRequests="true">
            <remove name="WebDAVModule"/>
            <!-- add this -->
        </modules>
    </system.webServer>
</configuration>

<!-- sunny and amishai testing -->
