<?xml version="1.0" encoding="utf-8"?>
<MediaData xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="..\..\..\..\Libs\TVPPro.Configuration\Media\MediaData.xsd">
  <TVM>
    <SearchValues>
      <Tags>Director;Genre;Series name;Main Cast;Guest appearance;Studio;Genre;Country</Tags>
      <Metadata>Season number;Season number;Episode name;Release year;Base ID</Metadata>
    </SearchValues>
    <MediaInfoStruct>
      <Tags>Director;Genre;Series name;Main Cast;Guest appearance;Studio;Genre;Country</Tags>
      <Metadata>Season number;Season number;Episode name;Release year;Base ID</Metadata>
    </MediaInfoStruct>
    <GalleryMediaInfoStruct>
      <Tags>Director;Genre;Series name;Main Cast;Guest appearance;Studio;Genre;Country</Tags>
      <Metadata>Season number;Season number;Episode name;Release year;Base ID</Metadata>
    </GalleryMediaInfoStruct>
    <MediaListTags>
      <Tags></Tags>
    </MediaListTags>
    <TagsGallery>
      <Tags></Tags>
    </TagsGallery>
    <AutoCompleteValues>
      <Tags>Cast;Director;Genre;Series name;Main Cast;Genre</Tags>
      <Metadata>Season number;Season number;Episode name;Release year</Metadata>
    </AutoCompleteValues>
  </TVM>
</MediaData>
  
  