<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="TCMConfig" type="TCMClient.TCMConfiguration, TCMClient" allowLocation="true" allowDefinition="Everywhere" />
  </configSections>
  <TCMConfig URL="http://tcm.service.consul:8443" Application="OTT_API_SV" Host="PROD_v5_2_2" Environment="main" AppSecret="5aaa99331c18f6bad4adeef93ab770c2" AppID="5bf8cf60" />

</configuration>