<?xml version="1.0" encoding="utf-8"?>
<SiteData Identifier="" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="..\..\..\..\..\Libs\TVPPro.Configuration\Site\SiteData.xsd">
  <Global>
    <Price>
      <Symbol>€</Symbol>
      <Location>Left</Location>
      <Format>0.00</Format>
      <Code>EUR</Code>
    </Price>
    <Title>כללית</Title>
    <DefaultSiteFont>Trebuchet MS</DefaultSiteFont>
  </Global>
  <Features>
    <Comments FeatureMode="On" AutoActive="true" />
    <Packages/>
    <Registration/>
    <MovieFinder/>
    <Pricing SupportFeature="false"></Pricing>
    <FriendlyURL SupportFeature="true" SupportSearch="false"></FriendlyURL>
    <Locale/>
    <FacebookConnect/>
    <SingleLogin SupportFeature="false" IntervalTime="30000" />
    <ReCaptcha/>
    <EmbedFlashResponseData SupportFeature="false" />
    <Player Type="SilverLight"/>
    <FutureAssets UseStartDate="true"/>
  </Features>
  <BlockAdvertisements>
    <Page Token="faq"/>
  </BlockAdvertisements>
  <Pages>
    <ShowPage EpisodesInPage="30"></ShowPage>
  </Pages>
</SiteData>