<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="TCMConfig" type="TCMClient.TCMConfiguration, TCMClient" allowLocation="true" allowDefinition="Everywhere"/> 
  </configSections>
  <TCMConfig URL="http://192.168.16.139:8080" Application="Scheduler_Tvm" Host="local" Environment="main" AppID="5bf8cf60" AppSecret="5aaa99331c18f6bad4adeef93ab770c2"/>

  <appSettings>
    <add key="MSSQL_SERVER_NAME" value="msd101.1host.co.il"/>
    <add key="DB_NAME" value="tvinci"/>
    <add key="UN" value="production"/>
    <add key="PS" value="lF6CZU9HIOIAGuzj"/>
    <add key="ODBC_CACH_SEC" value="0"/>
    <add key="CONNECTION_STRING" value="Driver={SQL Server};Server=msd101.1host.co.il;Database=tvinci;Uid=production;Pwd=lF6CZU9HIOIAGuzj;"/>
    <add key="CONNECTION_LOCK_TIMEOUT" value="1000"/>
    <add key="SMS_WS_UN" value="guy_tvinci"/>
    <add key="SMS_WS_URL" value="http://www.smscenter.co.il/Web/WebServices/SendMessage.asmx"/>
    <add key="SMS_WS_PASS" value="1ff28c3aaec95f0d43b76dc3d1caa36f"/>
    <add key="SMS_WS_PHONES" value="0546812480"/>
    <add key="SMS_WS_MAILS" value="guy@tvinci.com"/>
    <add key="DATA_MODE" value="DB"/>
    <add key="SERVER" value="ISRAEL"/>


    <add key="CLEAR_CA_CACHE_URL" value="/ca/clear_cache.aspx?action=clear_all"/>
    <add key="CLEAR_API_CACHE_URL" value="/api/clear_cache.aspx?action=clear_all"/>
    <add key="SMS_PRICEMONITORING_PHONES" value="0546812480"/>

  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
