<?xml version="1.0" encoding="utf-8"?>
<OnlineConfiguration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Modes>
    <SiteMaintaince Status="Off" />
    <ViewMedia Status="On" />
    <PurchaseMedia Status="On" />
  </Modes>
  <TVM TVMMode="Main">
    <AlternativeServer ActiveID="A1">
      <Item ID="A1">
        <URL>~/tvm/tvm_caching_server.aspx</URL>
      </Item>
    </AlternativeServer>
    <MainServer>
      <URL>http://platform.tvinci.com/api.aspx</URL>
      <TVMReadURL>http://platform.tvinci.com/api.aspx</TVMReadURL>
      <TVMWriteURL>http://platform.tvinci.com/api.aspx</TVMWriteURL>
    </MainServer>
    <AuthorizedServers>
      <IP>string</IP>
    </AuthorizedServers>
  </TVM>
</OnlineConfiguration>