<?xml version="1.0" encoding="utf-8"?>
<MediaData xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="..\..\..\..\Libs\TVPPro.Configuration\Media\MediaData.xsd">
  <TVM>
    <SearchValues>
      <Tags>Cast;Director;Language;Genre;Keywords;Rights Owner;Mood;Series Name;Wins;Nominations;Category</Tags>
      <Metadata>Original name;Production year</Metadata>
    </SearchValues>
    <MediaInfoStruct>
      <Tags>Broadcaster;Channel;subtitles language;Language;Original language;Participants;Producer;Actors;Director;Driver;Location;Audience;Country;Parental;Right Holder;Genre;Series Name;Free;Remarks;Parental</Tags>
      <Metadata>short description;medium description;duration;Date;Hour;production year;season number;episode number;subtitles;is premium;aspect ration 16_9;Hour</Metadata>
    </MediaInfoStruct>
    <MediaListTags>
      <Tags>Category;Genre;Characters name;Starring;Director;Producer;Production Name;Projects;Holidays;special location;channels</Tags>
    </MediaListTags>
    <TagsGallery>
      <Tags>Project;Series name;Staring;Free;starring</Tags>
    </TagsGallery>
    <AutoCompleteValues>
      <Tags>Cast;Director;Series name;</Tags>
      <Metadata>Name</Metadata>
    </AutoCompleteValues>
  </TVM>
</MediaData>