<?xml version="1.0" encoding="utf-8"?>
<MediaData xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="..\..\..\..\Libs\TVPPro.Configuration\Media\MediaData.xsd">
  <TVM>
    <SearchValues>
      <Tags>Cast;Director;Language;Genre;Keywords;Rights Owner;Mood;Series Name;Wins;Nominations;Category</Tags>
      <Metadata>Original name;Production year</Metadata>
    </SearchValues>
    <MediaInfoStruct>
      <Tags>Director;Cast;Actors;Image title;Director;Language;Country;Genre;Project Name</Tags>
      <Metadata>Release year;Series Name;Episode Name;Description (Short);Description (Medium);Video Item Length;Subtitles;Duration;Original Name;Episode number;Production Year;Season;Number of Episodes;Number of Seasons;Base Group ID;Cahnnel ID;Base ID;season number;Year of production;Number of episodes;Business model;Date of birth;Episode ID;Direct package ID;Direct subscription ID;Display run time;Duration</Metadata>
    </MediaInfoStruct>
    <GalleryMediaInfoStruct>
      <Tags>Series name;</Tags>
      <Metadata>Business model;Series name;Promotional text;Article page ID;Author;Posting date;Season number;season number;Episode number</Metadata>
    </GalleryMediaInfoStruct>
    <MediaListTags>
      <Tags>Category;Genre;Characters name;Starring;Director;Producer;Production Name;Projects;Holidays;special location;channels</Tags>
    </MediaListTags>
    <TagsGallery>
      <Tags>Project;Series name;Staring;Free;starring</Tags>
    </TagsGallery>
    <AutoCompleteValues>
      <Tags>Cast;Director;Series name;</Tags>
      <Metadata>Name</Metadata>
    </AutoCompleteValues>
  </TVM>
</MediaData>
  
  