<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="TCMConfig" type="TCMClient.TCMConfiguration, TCMClient" allowLocation="true" allowDefinition="Everywhere" />
    <sectionGroup name="couchbaseClients">
      <section name="Couchbase" type="Couchbase.Configuration.Client.Providers.CouchbaseClientSection, Couchbase.NetClient" />
    </sectionGroup>
  </configSections>
  <couchbaseClients>
    <Couchbase useSsl="false">
      <!--<notification useSsl="false">-->
      <servers>
        <add uri="http://couchbase1:8091/pools" />
        <add uri="http://couchbase2:8091/pools" />
        <add uri="http://couchbase3:8091/pools" />
      </servers>
      <buckets>
        <add name="epg_channels_schedule" useSsl="false" password="" operationLifespan="20000">
          <connectionPool name="custom" maxSize="10" minSize="5" sendTimeout="12000"/>
        </add>
        <add name="statistics" useSsl="false" password="" operationLifespan="20000">
          <connectionPool name="custom" maxSize="10" minSize="5" sendTimeout="12000"/>
        </add>
        <add name="Cache" useSsl="false" password="" operationLifespan="20000">
          <connectionPool name="custom" maxSize="10" minSize="5" sendTimeout="12000"/>
        </add>
        <add name="MediaMarks" useSsl="false" password="" operationLifespan="20000">
          <connectionPool name="custom" maxSize="10" minSize="5" sendTimeout="12000"/>
        </add>
        <add name="social" useSsl="false" password="" operationLifespan="20000">
          <connectionPool name="custom" maxSize="10" minSize="5" sendTimeout="12000"/>
        </add>
      </buckets>
    </Couchbase>
  </couchbaseClients>
  <TCMConfig URL="http://tcm:8080" Application="EU_TVM" Host="prod_v4_0" Environment="main" AppID="5bf8cf60" AppSecret="5aaa99331c18f6bad4adeef93ab770c2" />
  <connectionStrings>
    <add name="frido_tvinciapiConnectionString1" connectionString="Data Source=mssql.1host.co.il;Initial Catalog=frido_tvinciapi;Persist Security Info=True;User ID=frido_tvinciapi;MultipleActiveResultSets=False;Packet Size=4096;Application Name=&quot;Microsoft SQL Server Management Studio Express&quot;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <httpRuntime maxRequestLength="1048576" executionTimeout="3600" />
    <sessionState timeout="1440" cookieless="false" />
    <!--  
            Set compilation debug="true" to insert debugging  
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->

    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Core, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Xml.Linq, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data.DataSetExtensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.ServiceProcess, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.ServiceProcess, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>

      </assemblies>

    </compilation>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Windows" />

    <customErrors mode="RemoteOnly" defaultRedirect="500.html">
      <error statusCode="500" redirect="500.html" />
    </customErrors>
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" />
    <httpModules>
      <add name="PermittedModule" type="PermittedModule" />
    </httpModules>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
  </system.web>
  <system.serviceModel>
    <extensions>
      <behaviorExtensions>
        <add name="clientBehaviourExtension" type="ServiceExtensions.ClientEndpointBehavior, ServiceExtensions, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
      </behaviorExtensions>
    </extensions>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_INotificationService"/>
        <binding name="myServicesBinding" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647">
          <readerQuotas maxDepth="50" maxArrayLength="2147483647" maxStringContentLength="2147483647" />
        </binding>
      </basicHttpBinding>
      <wsHttpBinding>
        <binding name="WSHttpBinding_Iservice">
          <security mode="None" />
        </binding>
      </wsHttpBinding>
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name="web" >
          <clientBehaviourExtension/>
        </behavior>
      </endpointBehaviors>

      <serviceBehaviors>
        <behavior name="sl_cubeBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <dataContractSerializer maxItemsInObjectGraph="500000" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true">
      <baseAddressPrefixFilters>
        <add prefix="http://tvm.tvinci.com" />
      </baseAddressPrefixFilters>
    </serviceHostingEnvironment>
    <!-->serviceHostingEnvironment aspNetCompatibilityEnabled="true" / -->
    <services>
      <service behaviorConfiguration="sl_cubeBehavior" name="sl_cube">
        <endpoint address="" binding="basicHttpBinding" contract="ISL_Cube" bindingConfiguration="myServicesBinding" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
    </services>
    <client>
      <endpoint behaviorConfiguration="web" address="http://webservices/catalog_v4_0/Service.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_Iservice" contract="WSCatalog.Iservice" name="WSHttpBinding_Iservice" />
      <endpoint behaviorConfiguration="web" address="http://172.31.6.92:8030/Notifications_v4_0/NotificationService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_INotificationService" contract="Notification_WCF.INotificationService" name="BasicHttpBinding_INotificationService"/>
    </client>
  </system.serviceModel>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <defaultDocument>
      <files>
        <clear/>
        <add value="login.html" />
      </files>
    </defaultDocument>
  </system.webServer>

</configuration>


<!-- test amishai -->