<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<appSettings>

  <!-- Development, projector -->
  <add key="Environment" value="IPVision"/>

  <add key="ClientIdentifier" value="IPVision"/>

  <add key="TVPPro.Configuration.Online" value="~/Configuration/OnlineConfiguration.config"/>
  <add key="TVPPro.Configuration.Technical" value="~/Configuration/Dori/test/TechnicalConfiguration.config"/>
  <add key="TVPPro.Configuration.PlatformServices" value="~/Configuration/Dori/test/PlatformServicesConfiguration.config"/>
  <add key="DomainAddress" value=""/>
  <add key="DomainLogoCss" value="Domainlogo"/>

  <add key="ShouldUseNewCache" value="false" />
  <add key="NewCacheHMACSecret" value="liat regev" />
  
</appSettings>

