* { font-family:Arial, Helvetica, sans-serif;}
body.admin_body {
	background:url(../images/admin-bg.png) top repeat-x;
	/*direction: ltr;
	overflow: auto;
	vertical-align: top;*/
	margin:0;
}
.admContainer { width:980px; direction:rtl;}
form { margin:0; padding:0;}

body.flash_wind {
	background: #FFFFFF;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-left: 0px;
	margin-top: 0px;
	overflow: hidden;
	padding: 0px 0px 0px 0px;
	text-align: left;
	vertical-align: top;
}

.adm_main_header { 
	color: #666666;
	font-size: 16px; 
	font-weight: bold; 
	text-decoration: none;
	height: 45px; 
	#height: 41px;
	vertical-align:top;
	line-height:29px;
	
}
.adm_right_menu .adm_main_header {
	height: 45px; 
	#height: 41px;
	vertical-align:top;
	line-height:29px;
	background:url(../images/horizon_line_breaker.gif) bottom center no-repeat;
}
.adm_header {
	color: #F47821;
	font-family: Arial, Arial, David, Courier New;
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
}

.adm_table_header { background:url(../images/adm_table_headerBg.gif) bottom repeat-x #ffffff; border: #9e9e9e solid 1px; color: #666666; font-size: 12px; font-weight: bold; text-decoration: none; height: 25px; 
}
span.adm_table_header_nbg { font-size:12px;}
td.adm_table_header_nbg { color: #000000; font-size: 14px; text-decoration: none; text-align: left; padding: 0 10px; vertical-align: top; 
}

.red { color:red;}
.selectorTop .red { font-size:12px;}
.adm_table_cell { background: #eeeeee; color: #000000; font-size: 12px; font-weight: normal; text-decoration: none; vertical-align: top; 
}
.adm_table_cell td,
.adm_table_alt_cell td,
.adm_table_mo_cell td { padding:2px 5px;}
.adm_table_cell_nbg {
	color: #000000;
	font-family: Arial, Arial, David, Courier New;
	font-size: 12px;
	font-weight: normal;
	text-decoration: none;
	vertical-align: top;
}

.adm_table { background: #FFFFFF; width: 100%; border-collapse:collapse; border-bottom: #9e9e9e solid 1px; margin-bottom: 5px; 
}
.adm_table td { white-space:normal; #white-space:;}
.adm_table_alt_cell { background: #ffffff; color: #000000; font-size: 12px; font-weight: normal; text-decoration: none; vertical-align: top; 
}

.adm_table_mo_cell {
	background-color: #d5e4e9;
	color: #000000;
	font-size: 12px;
	font-weight: normal;
	text-decoration: none;
	vertical-align: top;
}

.adm_table_pager {
	background: #FBF9FC;
	color: #000000;
	font-family: Arial, Arial, David, Courier New;
	font-size: 12px;
	font-weight: normal;
	text-align: center;
	vertical-align: middle;
}

.adm_table_pager_white { background: #FFFFFF; color: #000000; font-size: 12px; font-weight: normal; text-align: center; vertical-align: middle; width: 100%; margin: 15px 0; 
}

A.adm_table_link:link { color: #000000; font-size: 12px; font-weight: normal; text-decoration: underline; 
}

A.adm_table_link:visited { color: #000000; font-size: 12px; font-weight: normal; text-decoration: underline; 
}

A.adm_table_link:active { color: #F47821; font-size: 12px; font-weight: normal; text-decoration: underline; 
}

A.adm_table_link:hover { color: #F47821; font-size: 12px; font-weight: normal; text-decoration: underline; 
}

A.adm_table_link_div:link { color: #888888; font-size: 12px; font-weight: normal; text-decoration: underline; 
}

A.adm_table_link_div:visited { color: #888888; font-size: 12px; font-weight: normal; text-decoration: underline; 
}

A.adm_table_link_div:active { color: #F47821; font-size: 12px; font-weight: normal; text-decoration: underline; 
}

A.adm_table_link_div:hover { color: #F47821; font-size: 12px; font-weight: normal; text-decoration: underline; 
}

.adm_top_banner { height: 104px; vertical-align: top; 
}
.adm_logOutTbl { background:url(../images/admin-logBg.gif) right top no-repeat; border-collapse:collapse; float: left; }
.adm_logOutTbl td { padding-top:0;}
.adm_right_menu { vertical-align: top; white-space: nowrap; width: 170px; 
}
.logo { background:url(../images/admin-tvinciBg.gif) no-repeat; padding:0;}
.adm_right_menu table { width:100%; border-collapse:collapse; font-size:12px; font-weight:bold;}
.adm_right_menu_no_adg {
	background: #FCFCFC;
	vertical-align: top;
	white-space: nowrap;
	width: 120px;
}

.horizon_line_breaker {
	background:url(../images/horizon_line_breaker.gif) top center no-repeat;
	height: 1px;
	white-space: nowrap;
	width: 100%;
}

.menu_horizon_line_breaker {
	background: #F96501;
	height: 1px;
	white-space: nowrap;
	width: 100%;
}

.horizon_line_space { height: 5px; white-space: nowrap; width: 100%; 
}

.vertical_line_breaker_left {
	border-left-color: #aaaaaa;
	border-left-style: solid;
	border-left-width: 1px;
	white-space: nowrap;
	width: 1px;
}

.vertical_line_breaker_right {
	border-right-color: #aaaaaa;
	border-right-style: solid;
	border-right-width: 1px;
	white-space: nowrap;
	width: 1px;
}

.header_text {
	color: #000000;
	font-family: Arial, Arial, David, Courier New;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
	vertical-align: top;
}

.small_text { color: #FFFFFF; font-family: Arial, Arial, David, Courier New; font-size: 11px; font-weight: bold; vertical-align: middle; padding-left: 10px; text-align: left; padding-right: 4px; 
}

.small_header { color: #FFFFFF; font-family: Arial, Arial, David, Courier New; font-size: 11px; font-weight: bold; vertical-align: middle; height: 50%; padding-right: 10px; 
}
td.formInputs table { background-color:#eeeeee; width:100%; margin:15px 0 0;}
.FormButton {
	background: #FCFCFC;
	border-color: #aaaaaa;
	border-style: solid;
	border-width: 1px;
	cursor: pointer;
	font-family: Arial, Arial, David, Courier New;
	font-size: 12px;
}

.FormEmptyButton {
	height: 0px;
	width: 0px;
}

.FormButtonOver {
	background: #e5e5e5;
	border-color: #aaaaaa;
	border-style: solid;
	border-width: 1px;
	cursor: pointer;
	font-family: Arial, Arial, David, Courier New;
	font-size: 12px;
}

.FormButtonSmall {
	background: #FCFCFC;
	border-color: #aaaaaa;
	border-style: solid;
	border-width: 1px;
	cursor: pointer;
	font-family: Arial, Arial, David, Courier New;
	font-size: 12px;
	padding: 0px 0px 0px 0px;
}

.FormButtonSmallOver {
	background: #e5e5e5;
	border-color: #aaaaaa;
	border-style: solid;
	border-width: 1px;
	cursor: pointer;
	font-family: Arial, Arial, David, Courier New;
	font-size: 12px;
	padding: 0px 0px 0px 0px;
}

.FormInputLTR {
	background: #e5e5e5;
	border-color: #8B898A;
	border-width: 1px;
	color: #525252;
	direction: ltr;
	font-family: Verdana;
	font-size: 12px;
	font-weight: normal;
}

.FormInput { background: #ffffff; border-color: #8B898A; border-width: 1px; color: #000000; font-family: Verdana; font-size: 14px; font-weight: normal; vertical-align: middle; 
}

.FormInputSmall { background: #EEEEEE; border-color: #8B898A; border-width: 1px; color: #000000; font-family: Verdana; font-size: 10px; font-weight: normal; background-color: #FFFFFF; 
}

.FormInputnbg {
	border-color: #8B898A;
	border-width: 1px;
	color: #000000;
	font-family: Verdana;
	font-size: 12px;
	font-weight: normal;
}

.alert_text {
	color: #F96501;
	font-family: Arial, Arial, David, Courier New;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
}

A.uppermenu:link {
	color: #000000;
	font-family: Arial, Arial, David, Courier New;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
}

A.uppermenu:visited {
	color: #000000;
	font-family: Arial, Arial, David, Courier New;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
}

A.uppermenu:active {
	color: #F96501;
	font-family: Arial, Arial, David, Courier New;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
}

A.uppermenu:hover {
	color: #000000;
	font-family: Arial, Arial, David, Courier New;
	font-size: 12px;
	font-weight: bold;
	text-decoration: underline;
}

A.uppermenu_sel:link {
	color: #F96501;
	font-family: Arial, Arial, David, Courier New;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
}

A.uppermenu_sel:visited {
	color: #F96501;
	font-family: Arial, Arial, David, Courier New;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
}

A.uppermenu_sel:active {
	color: #F96501;
	font-family: Arial, Arial, David, Courier New;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
}

A.uppermenu_sel:hover {
	color: #F96501;
	font-family: Arial, Arial, David, Courier New;
	font-size: 12px;
	font-weight: bold;
	text-decoration: underline;
}

a.logout { color: #ffffff; font-family: Arial, Arial, David, Courier New; font-size: 12px; font-weight: bold; text-decoration: underline; background:url(../images/admin-logDisc.gif) no-repeat; width:79px; height:32px; display:block; text-align:center; line-height:30px; 
}

a.logout:hover { text-decoration: none; 
}

.subcategorymenu_sel_outer {
	/*background: #eeeeee;
	cursor: pointer;*/
	background-color:red;
}

.subcategorymenu_outer {
	/*background: #FCFCFC;
	cursor: pointer;*/
}

.categorymenu_sel_outer {
	/*background: #eeeeee;
	border-color: #8B898A;
	border-style: solid;
	border-width: 1px;
	cursor: pointer;
	text-align: center;*/
}
.selectorTop .categorymenu_sel_outer {	
	background:url(../images/butCategorymenu_sel_outer.png) no-repeat;
	width:172px;
	height:27px;
	color:#FFFFFF;
	font-weight:bold;
	font-size:14px;
	text-align:center;
}
.selectorTop a.subcategorymenu_sel,
.selectorTop a.subcategorymenu_sel:hover {
	font-size: 14px;
	color:#FFFFFF;
	text-decoration: none;
}

.categorymenu_outer { 
	/*background: #f8f8f8; 
	border-color: #8B898A; 
	border-style: solid; 
	border-width: 1px; 
	cursor: pointer; 
	color: #FFFFFF; */
}
.selectorTop .categorymenu_outer {
	background:url(../images/butCategorymenu_outer.png) no-repeat;
	width:172px;
	height:27px;
	color:#FFFFFF;
	font-weight:bold;
	font-size:14px;
	text-align:center;
}
.selectorTop a.subcategorymenu,
.selectorTop a.subcategorymenu:hover { font-size: 14px!important; color:#333333; text-decoration: none; 
}




.adm_right_menu .categorymenu_outer { 
	background:url(../images/categorymenu_outer.gif) no-repeat;
	height:26px; 
	cursor: pointer; 
	color: #FFFFFF;
	border:0;
	line-height:26px;
	padding:0;
	text-indent:6px; 
}
.subcategorymenu_sel_outer {
	background: #eeeeee;
	border-color: #8B898A;
	border-style: solid;
	border-width: 1px;
	cursor: pointer;
}
.adm_right_menu  .subcategorymenu_sel_outer {
	background:url(../images/subcategorymenu_sel_outer.gif);
	border:0;
	line-height:26px;
	padding:0;
	text-indent:6px;
	cursor: pointer;
}
.subcategorymenu_outer {
	background: #FCFCFC;
	border-color: #FFFFFF;
	border-style: solid;
	border-width: 1px;
	cursor: pointer;
}
.adm_right_menu .subcategorymenu_outer {
	background:url(../images/subcategorymenu_outer.gif);
	border:0;
	line-height:26px;
	padding:0;
	text-indent:6px; 
	cursor: pointer;
} 
A.subcategorymenu:link {
	color: #000000;
	font-family: Arial, Arial, David, Courier New;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
}

A.subcategorymenu:visited {
	color: #000000;
	font-family: Arial, Arial, David, Courier New;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
}

A.subcategorymenu:active { color: #000000; font-family: Arial, Arial, David, Courier New; font-size: 12px; font-weight: bold; text-decoration: none; 
}

A.subcategorymenu:hover { color: #000000!important; font-family: Arial, Arial, David, Courier New; font-size: 12px; font-weight: bold; text-decoration: none; 
}

a.subcategorymenu_sel { color: #000000; font-family: Arial, Arial, David, Courier New; font-size: 12px; font-weight: bold; text-decoration: none; }

A.subcategorymenu_sel:hover { color: #000000; font-family: Arial, Arial, David, Courier New; font-size: 12px; font-weight: bold; text-decoration: none; }


/*A.tags:hover {
	color: #F96501;
	font-family: Arial, Arial, David, Courier New;
	font-size: 14px;
	font-weight: normal;
	text-decoration: underline;
}*/

A.tags_selected:link {
	background: #8B898A;
	color: #FFFFFF;
	font-family: Arial, Arial, David, Courier New;
	font-size: 14px;
	font-weight: normal;
	text-decoration: underline;
}

A.tags_selected:visited {
	background: #8B898A;
	color: #FFFFFF;
	font-family: Arial, Arial, David, Courier New;
	font-size: 14px;
	font-weight: normal;
	text-decoration: underline;
}

A.tags_selected:active {
	background: #8B898A;
	color: #FFFFFF;
	font-family: Arial, Arial, David, Courier New;
	font-size: 14px;
	font-weight: normal;
	text-decoration: underline;
}

A.tags_selected:hover {
	background: #8B898A;
	color: #FFFFFF;
	font-family: Arial, Arial, David, Courier New;
	font-size: 14px;
	font-weight: normal;
	text-decoration: underline;
}

.floating_div {
	display: block;
	left: 10;
	position: absolute;
	top: 10;
}

.CalendarHeader {
	background: #FFFFFF;
	color: #4A4A47;
	cursor: pointer;
	font-family: Verdana;
	font-weight: bold;
	height: 5px;
	padding: 4px;
	text-decoration: none;
}

.calendar_hand {
	color: #FFFFFF;
	cursor: hand;
	font-family: Arial, Arial (Hebrew), David (Hebrew), Courier New (Hebrew);
	font-size: 10px;
	font-weight: normal;
	padding-right: 5px;
	text-align: center;
	vertical-align: top;
}

.calendar_nohand {
	color: #FFFFFF;
	cursor: auto;
	font-family: Arial, Arial (Hebrew), David (Hebrew), Courier New (Hebrew);
	font-size: 10px;
	font-weight: normal;
	padding-right: 5px;
	text-align: center;
	vertical-align: top;
}

.calendarTableFooter {
	background: #FFFFFF;
	color: #4A4A47;
	font-family: Verdana;
	font-size: 10px;
	font-weight: normal;
	padding: 4px;
	text-decoration: none;
}

.calendarFormInput {
	background: #FFFFFF;
	border-color: #8B898A;
	border-width: 1px;
	color: #4A4A47;
	font-family: Verdana;
	font-size: 10px;
	font-weight: normal;
}

.calendar_smallheader {
	color: #FF9900;
	font-family: Arial, Arial (Hebrew), David (Hebrew), Courier New (Hebrew);
	font-size: 10px;
	font-weight: bold;
	text-decoration: none;
}

.calendarBorder {
	background: #FFFFFF;
}

.calendar_table_cell {
	background: #FFFFFF;
	color: #000000;
	font-family: Arial, Arial, David, Courier New;
	font-size: 12px;
	font-weight: normal;
	text-decoration: none;
	vertical-align: top;
}

.inner_header {
	color: #333333;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
}

.pagelinks {
	/*background:url(../images/pagelinks.gif) left bottom no-repeat;
	border: solid 1px #aaaaaa;*/
	color: #000000;
	cursor: pointer;
	text-align: center;
	text-decoration:underline;
	white-space: nowrap;
	font-size: 12px;
	font-weight: bold;
	height: 24px;
	width: 24px;
	padding:0;
}

.pagelinks_sel {
	background:url(../images/pagelinks.gif) left top no-repeat;
	color: #000000;
	cursor: pointer;
	text-align: center;
	white-space: nowrap;
	font-size: 12px;
	font-weight: bold;
	height: 24px;
	width: 24px;
	padding:0;
}

.pagelinks_over {
	background:url(../images/pagelinks.gif) left bottom no-repeat;
	color: #FFFFFF;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	white-space: nowrap;
	font-size: 12px;
	font-weight: bold;
	height: 24px;
	width: 24px;
	padding:0;
}

.pics_place {
	border: solid 1px #000000;
	clear: both;
	float: right;
	height: 105px;
	margin: 3px 0px 3px 0px;
	width: 100%;
}

.pics_place .image_wrap div {
	font-family: Arial, Arial, David, Courier New;
	font-size: 10px;
}

.pics_place .image_wrap {
	clear: none;
	float: right;
	margin: 3px 3px 3px 3px;
	position: relative;
	text-align: center;
}

.pics_place .image_wrap img {
	border: solid 2px #8B898A;
	width: 90px;
}

.img_border {
	border: solid 2px #8B898A;
	margin: 1px 1px 1px 1px;
	width: 90px;
}

.hidden_message_div {
	display: block;
	height: 100px;
	position: absolute;
	right: 10;
	top: 10;
	width: 220px;
	z-index: 600;
}

.message_box {
	background: #666666;
	border: 5px solid #FF7700;
	height: 100px;
	text-align: center;
	width: 220px;
}

.vid_name {
	font-family: Arial, Arial, David, Courier New;
	font-size: 10px;
}
.footer {background:url(../images/admin-footer.png) top repeat-x #000000; height:34px; }
.footer table { width:980px; margin:0 auto; border-collapse:collapse;}
.footer td { text-align:right; direction:ltr; }
.footer td img { vertical-align:middle;}
.rights {
	color: #999999;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-decoration: none;
}
.rights a { color:#cccccc;}
.selectorTop { background:url(../images/selectorTopBg.png); width:800px; height:48px; padding:0;}
.selectorTop table { margin:0 10px;}
.selectTblTop {background:url(../images/selectBG.png) no-repeat; width:241px; height:41px; float:right;}
.displayRowTop { height:30px; padding:4px 0 0; }
.searchTop { background:url(../images/searchBG.png) no-repeat; width:241px; height:41px; float:left; border-collapse:collapse;}
.selectTblTop td,
.searchTop td { padding:0; vertical-align:top;}
.searchTop .FormInputSmall {
	background: /*#EEEEEE */transparent;
	border:0px;
	color: #000000;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: normal;
	width:186px; height:22px; margin:5px 15px 0 0; #margin:4px 15px 0 0;
}
.searchTop a.adm_table_link { display:block; text-decoration:none; text-indent:-9999px; overflow:hidden; background:url(../images/searchBut.png) top left no-repeat; width:31px; height:26px; margin:4px 0 0 5px;}
.searchTop a.adm_table_link:hover { background-position:left -26px;}
.selectTblTop td { text-align:center;}
.selectTblTop td select { width:210px; border:1px solid #999999; margin-top:3px;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 16px;}
.pagerTd01 { text-align: right; width:30%; }
.pagerTd01 td { padding-left: 10px;}
.pagerTd01 a.adm_table_link { display:block; text-align:center; background:url(../images/but.png) no-repeat; width:112px; height:27px; font-size: 14px!important; text-align:center; line-height:25px; font-weight:bold!important; text-decoration:none!important; color: #333333!important; }
.pagerTd01 a.adm_table_link:hover { background-position: left -27px; color: #333333;font-size: 14px; font-weight:bold; text-decoration:none;}
.pagerTd02 div { padding:0 16px 0 0; float:left; background:url(../images/selectBg.png) right center no-repeat; height:34px;}
.pagerTd02 div div { padding:0 0 0 16px; background:url(../images/selectBg.png) left center no-repeat;}
.pagerTd02 table { margin-top:3px;}
.pagerTd03 div {background:url(../images/selectBg.png) no-repeat; width:241px; height:41px; float:left;}
.pagerTd03 table { margin-top:5px; margin-right:1px; float: left; }
.pagerTd03 table td { font-weight:bold; padding: 0 7px; }
.space01 { width:1px; font-size: 1px; }

a.btn { display:block; text-align:center; background:url(../images/but.png) no-repeat; width:112px; height:27px; font-size: 14px; text-align:center; line-height:25px; font-weight:bold; text-decoration:none; color: #333333; }
a.btn:hover { background-position: left -27px; color: #333333;font-size: 14px; font-weight:bold; text-decoration:none;}

a.btn2 { display:block; text-align:center; background:url(../images/but2.png) no-repeat; width:112px; height:27px; font-size: 14px; text-align:center; line-height:25px; font-weight:bold; text-decoration:none; color: #333333; }
a.btn2:hover { background-position: left -27px; color: #333333;font-size: 14px; font-weight:bold; text-decoration:none;}

td.tags { width:602px; background:url(../images/tagsBottom.gif) bottom center no-repeat #d5e4e9; font-size: 12px; border-top:6px solid #FFFFFF; }
td.tags div {width:582px; white-space:normal; background:url(../images/tagsTop.gif) top center no-repeat; padding:14px 10px 7px; line-height:22px;}

A.tags:link { color: #000000; font-weight: bold; text-decoration: underline; pad ding:2px;}

A.tags:visited { color: #0099ff; font-weight: bold; text-decoration: underline; pad ding:2px;}

A.tags:active,
A.tags:hover { color: #FFFFFF; font-weight: bold; text-decoration: underline; background-color: #0099ff; padd ing:2px; }
textarea { overflow:auto;}
a.blueLink {color: #0099ff; font-weight: bold; text-decoration: underline; font-size:14px;}
.align0 { text-align:left;}
.align1 { text-align:right;}
/**/
.adm_main_header h3 {padding:0 10px;border-right:3px solid #b8b8b8; color:#333333; margin:0;}
.adm_main_header h3 span.arrow {font-weight:normal;}
.adm_main_header h3 span { color:#666666;}
.rights a { color:#cccccc;}
.selectorList {  width:800px; vertical-align:bottom; padding:0;border-bottom:1px solid #999999;height:37px;}
.selectorList div { height:37px; position:relative;}
.selectorList ul { list-style:none; margin:0 0 -7px; #margin:0; _margin:0 0 -9px; padding:0 10px;height:37px; position:relative; bottom:-1px;}
.selectorList li { float:right;display:block; margin:0 0 0 5px; padding:0;height:37px;}
.selectorList li a { height:37px; _width:1%; white-space:nowrap; display:block; background:url(../images/tabsL.png) left -74px no-repeat; font-size: 14px; font-weight: bold; text-decoration: none; color: #333333; }
.selectorList li a span { cursor:pointer; height:37px; _width:1%; white-space:nowrap; line-height:46px; display:block; background:url(../images/tabsR.png) right -74px no-repeat; padding: 0 22px; }
.selectorList li a:hover { background:url(../images/tabsL.png) left -37px no-repeat;}
.selectorList li a:hover span {background:url(../images/tabsR.png) right -37px no-repeat;}
.selectorList li a.on,
.selectorList li a.on:hover {background:url(../images/tabsL.png) left top no-repeat; }
.selectorList li a.on span,
.selectorList li a.on:hover span {line-height:32px;background:url(../images/tabsR.png) right top no-repeat; }
/**/
td.formInputs div { background:url(../images/formInputsTop.gif) top center no-repeat #eeeeee; width:798px; margin:15px 0 0;}
td.formInputs table { background:url(../images/formInputsBot.gif) bottom center no-repeat; width:100%; margin:2px 0 0;}
td.formInputs table table { background:none;}
