<?xml version="1.0" encoding="utf-8"?>

<PageStruct xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="..\..\..\..\Libs\TVPPro.Configuration\PageStruct\PageStructData.xsd">
  <TVP>
    <Page token="MediaPage">
      <Info social_position="Above">
        <Side Position="Top">
          <Order>
            <Tag type="Tag">Series name;Rating advisories</Tag>
            <Tag type="Tag">Main Cast;Cast;Studio</Tag>
            <Tag type="Tag">Genre;Director</Tag>
          </Order>
        </Side>
        <Side Position="Left">
          <Order>
            <Tag type="Tag" template="None">Writer</Tag>
            <Tag type="Tag">Subtitle languages;Audio language</Tag>
            <Tag type="Meta">Short name;Promotional text;Episode ID</Tag>
            <Tag type="Meta" template="PageRedirect" action="Search">IMDb ID</Tag>
            <Tag type="Meta">Provider ID</Tag>
            <Tag type="Meta" template="Link">Facebook page</Tag>
          </Order>
          <Order>
            <Tag type="Tag" template="None">Country</Tag>
          </Order>
        </Side>
        <Side Position="Right">
          <Order>
            <Tag type="Tag" template="None">Location (venue)</Tag>
            <Tag type="Meta" template="None">Release year;Season number</Tag>
            <Tag type="Tag">Rating</Tag>
            <Tag type="Tag">Album</Tag>
            <Tag type="Tag" template="PageRedirect" action="Search">Audio language</Tag>
            <Tag type="Meta">Licensing windows start;Licensing windows end</Tag>
          </Order>
        </Side>
      </Info>
      <Info social_position="Above" media_type="Linear">
        <Side Position="Top">
          <Order>
            <Tag type="Tag">Series name;Rating advisories</Tag>
            <Tag type="Tag">Main Cast;Cast;Studio</Tag>
            <Tag type="Tag">Genre;Director</Tag>
          </Order>
        </Side>
        <Side Position="Left">
          <Order>
            <Tag type="Tag" template="None">Writer</Tag>
            <Tag type="Tag">Subtitle languages;Audio language</Tag>
            <Tag type="Meta">Short name;Promotional text;Episode ID</Tag>
            <Tag type="Meta" template="PageRedirect" action="Search">IMDb ID</Tag>
            <Tag type="Meta">Provider ID</Tag>
            <Tag type="Meta" template="Link">Facebook page</Tag>
          </Order>
          <Order>
            <Tag type="Tag" template="None">Country</Tag>
          </Order>
        </Side>
        <Side Position="Right">
          <Order>
            <Tag type="Tag" template="None">Location (venue)</Tag>
            <Tag type="Meta" template="None">Release year;Season number</Tag>
            <Tag type="Tag">Rating</Tag>
            <Tag type="Tag">Album</Tag>
            <Tag type="Tag" template="PageRedirect" action="Search">Audio language</Tag>
            <Tag type="Meta">Licensing windows start;Licensing windows end</Tag>
          </Order>
        </Side>
      </Info>
    </Page>
    <Page token="Meta">
      <Info social_position="Below">
        <Side Position="Left">
          <Order>
            <Tag type="Meta" template="None">Date of birth</Tag>
            <Tag type="Tag">Profession</Tag>

          </Order>
        </Side>
        
      </Info>
      
    </Page>
    <Page token="Package">
      <Info social_position="Below">
        <Side Position="Left">
          <Order>
            
            <Tag type="Tag">Genre</Tag>

          </Order>
        </Side>

      </Info>

    </Page>
  </TVP>
</PageStruct>

