<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->

<appSettings>
    <!--<add key="DomainEnv" value="test"/>
  <add key="TVM_API_URL" value="http://tvmdev:8000/api.aspx"/>
  <add key="BaseNetGemURL" value="http://192.168.16.1"/>-->

    <add key="ODBC_CACH_SEC" value="0"/>
    <add key="DomainEnv" value="staging"/>
    <add key="BaseNetGemURL" value="http://192.168.16.149"/>
    <!--<add key="TVM_API_URL" value="http://platform-us.c.tvinci.com/v1_4/api.aspx"/>-->
    <!--<add key="TVM_API_URL" value="http://platform-hk.tvinci.com/v1_2/api.aspx"/>-->
    <add key="TVM_API_URL" value="http://stg-hk.tvincidnshk.com/platform/api.aspx"/>

    <!--<add key="DomainEnv" value="prod"/>
  <add key="BaseNetGemURL" value="http://platform-us.tvinci.com/tvpapi"/>
  <add key="TVM_API_URL" value="http://platform-us.tvinci.com/api.aspx"/>-->


    <!--<add key ="CatalogServiceURL" value="http://10.120.81.248:8030/catalog_v2_6/Service.svc" />-->
    <add key="CatalogServiceURL" value="http://localhost/tvpapi_rest/WS_Modules/catalog.svc"/>
    <!--<add key ="CatalogServiceURL" value="http://192.168.16.66/ws_catalog/service.svc"/>-->
    <add key ="CatalogServiceSignatureKey" value="liat regev"/>

    <add key="Authorization.UnsupportedGroupsPlatforms" value="203_Web"/>
    <add key="Authorization.GroupConfigsTtlSeconds" value="86400"/>

  
  <add key="Tvinci.DataLoader.CacheLite.DurationInMinutes" value="1440"/>
    <add key="LOGS_PATH" value="" />
    <add key="SERVER_NAME" value="US-100" />
    <add key="APPLICATION_NAME" value="TVPApi" />
    <add key="121_AllChannels" value="829"/>
    <add key="0_Log" value="~/Logs/Default/"/>
    <add key="93" value="~/Configuration/Dori/"/>
    <add key="104" value="~/Configuration/Dori/"/>
    <add key="121" value="~/Configuration/Abertis/"/>
    <add key="122" value="~/Configuration/Telecinco/"/>
    <add key="123" value="~/Configuration/AbertisWL/"/>
    <add key="124" value="~/Configuration/AbertisWL2/"/>
    <add key="125" value="~/Configuration/IPVision/"/>
    <add key="126" value="~/Configuration/IPVision/"/>
    <add key="35" value="~/Configuration/Orange/"/>
    <add key="95" value="~/Configuration/Tikle/"/>
    <add key="112" value="~/Configuration/IBC/"/>
    <add key="131" value="~/Configuration/Turkcell/"/>
    <add key="109" value="~/Configuration/Filmotech/"/>
    <add key="110" value="~/Configuration/Filmotech/"/>
    <add key="111" value="~/Configuration/Filmotech/"/>
    <add key="134" value="~/Configuration/Elisa/"/>
    <add key="135" value="~/Configuration/Elisa/"/>
    <add key="141" value="~/Configuration/Orange/"/>
    <add key="142" value="~/Configuration/Orange/"/>
    <add key="144" value="~/Configuration/Kanguroo/"/>
    <add key="145" value="~/Configuration/Kanguroo/"/>
    <add key="147" value="~/Configuration/MediaCorp/"/>
    <add key="148" value="~/Configuration/MediaCorp/"/>
    <add key="149" value="~/Configuration/MediaCorp/"/>
    <add key="188" value="~/Configuration/Turner/"/>
    <add key="189" value="~/Configuration/Turner/"/>
    <add key="190" value="~/Configuration/Turner/"/>
    <add key="150" value="~/Configuration/ChelloMedia/"/>
    <add key="153" value="~/Configuration/Yes/"/>
    <add key="162" value="~/Configuration/EutelSat/"/>
    <add key="159" value="~/Configuration/Blink/"/>
    <add key="167" value="~/Configuration/Klic/"/>
    <add key="192" value="~/Configuration/TurnerBR/"/>
    <add key="193" value="~/Configuration/TurnerBR/"/>
    <add key="194" value="~/Configuration/TurnerBR/"/>

    <add key="215" value="~/Configuration/Vodafone/"/>
    <add key="216" value="~/Configuration/Vodafone/"/>
    <add key="217" value="~/Configuration/Vodafone/"/>

    <add key="195" value="~/Configuration/ONO/"/>
    <add key="196" value="~/Configuration/ONO/"/>
    <add key="197" value="~/Configuration/ONO/"/>
  
    <add key="93_Log" value="~/Logs/Dori/"/>
    <add key="95_Log" value="~/Logs/Tikle/"/>

    <add key="RSSGatewayPath" value="http://platform-us.tvinci.com/Gateways/"/>
    <add key ="93_BaseURL" value="http://www.novebox.com"/>
    <add key ="109_BaseURL" value="http://www.ximon.nl"/>
    <add key ="123_BaseURL" value="http://test.tvinci.com/tvinci"/>
    <add key ="125_BaseURL" value="http://ott.tvinci.com"/>
    <add key ="134_BaseURL" value="http://test.tvinci.com/elisa"/>
    <add key ="147_BaseURL" value="http://test.tvinci.com/toggle"/>
    <add key ="ClientIndentifier" value="tvpapi"/>
    <!--SMS-->
    <add key ="SMS_WS_UN" value="avidan_tvinci"/>
    <add key ="SMS_WS_PW" value="119dd1bd86728b407fe82fce1f8b9369"/>
    <add key="SMS_WS_PHONES" value=""/>
    <!--0526984947;0547969518;0544876055;0542334435-->
    <add key="SMS_WS_MAILS" value=""/>
    <!--elram@tvinci.com;avidan@tvinci.com;ofer@tvinci.com;adina@tvinci.com-->

    <add key="AccedoCTV" value="ConnectedTV"></add>
    <add key="NetGemSTB" value="STB"></add>
    <add key="125_STBPageID" value="64" />
    <add key="125_lang" value="en" />
    <add key="125_PicSize" value="full"/>
    <add key="93_STBPageID" value="69" />
    <add key="93_PicSize" value="full"/>
    <add key="93_lang" value="es" />
    <add key="AccedoCTV_FullMedia" value="true"/>
    <add key="NetGemSTB_FullMedia" value="false"/>
    <add key="BASE_LOGS_PATH" value="c:\log\TVPApi"/>

    <add key="SecureSiteGuidKey" value="L3CDpYFfCrGnx5ACoO/Az3oIIt/XeC2dhSmFcB6ckxA="/>
    <add key="SecureSiteGuidIV" value="Yn5/n0s8B0yLRvGuhSLRrA=="/>

    <add key="134_PostRegFB" value="287"></add>
    <add key="134_PostRegCC" value="288"></add>
    <add key="134_OfflineFavoriteSync" value="true"/>
    <add key="SocialFeedProxy" value="http://192.168.193.127:80/"/>
    <!--<add key="ConfigSrc_134" value="DB"/>-->

    <add key="EPGSearchOffsetDays" value="7"/>
	
	<add key="203" value="~/Configuration/QABE/"/>
  <add key="204" value="~/Configuration/QABE/"/>
  <add key="205" value="~/Configuration/QABE/"/>
  

</appSettings>


