<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->

  <appSettings>
   <add key="LOGS_PATH" value="C:\Logs" />
    <add key="SERVER_NAME" value="US-100" />
    <add key="APPLICATION_NAME" value="TVPApi" />
    <add key="121_AllChannels" value="829"/>
    <add key="0_Log" value="~/Logs/Default/"/>
    <add key="93" value="~/Configuration/Dori/test/"/>
    <add key="121" value="~/Configuration/Abertis/test/"/>
    <add key="122" value="~/Configuration/Telecinco/test/"/>
    <add key="123" value="~/Configuration/AbertisWL/test/"/>
    <add key="124" value="~/Configuration/AbertisWL2/test/"/>
    <add key="121_Media" value="~/Configuration/Abertis/MediaConfiguration.config"/>
    <add key="93_Media" value="~/Configuration/Dori/MediaConfiguration.config"/>
    <add key="93_Log" value="~/Logs/Dori/"/>
    <add key="95" value="~/Configuration/Tikle/test/"/>
    <add key="95_Log" value="~/Logs/Tikle/"/>
    <add key="112" value="~/Configuration/IBC/test/"/>
    <add key="RSSGatewayPath" value="~/Gateways/"/>
    <add key ="93_BaseURL" value="http://www.novebox.com"/>
    <add key ="123_BaseURL" value="http://test.tvinci.com/tvinci"/>
    <add key ="ClientIndentifier" value="tvpapi"/>
  </appSettings>
    

