<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<appSettings>

    <!-- Development, projector -->
    <add key="Environment" value="Vodafone"/>

    <add key="ClientIdentifier" value="Vodafone"/>
    <add key="WithFavorites" value="true"/>

    <!--Set the site loaders cache period-->
    <add key="Tvinci.DataLoader.CacheLite.DurationInMinutes" value="1440"/>

    <add key="TVPPro.Configuration.Site" value="~/Configuration/Vodafone/staging/SiteConfiguration.config"/>
    <add key="TVPPro.Configuration.Technical" value="~/Configuration/Vodafone/staging/TechnicalConfiguration.config"/>
    <add key="TVPPro.Configuration.PlatformServices" value="~/Configuration/Vodafone/staging/PlatformServicesConfiguration.config"/>
    <add key="TVPPro.Configuration.Media" value="~/Configuration/Vodafone/MediaConfiguration.config"/>
    <add key="TVPPro.Configuration.Online" value="~/Configuration/OnlineConfiguration.config"/>

    <add key="RequestorIP" value="80.179.194.132"/>

    <add key="UsePermanentURL" value="true"/>
    <add key="ApplicativeBaseUri" value="http://Vodafone.tvinci.com/"/>

    <add key="ForceAdmLogin" value="false"/>
    <add key="AdmUserName" value="Vodafone"/>
    <add key="AdmPass" value="Vodafone"/>

    <add key="FBInitiatorURL" value="http://192.168.16.118/ws_social/facebook_api.aspx" />
    <add key="PostRegFB" value="287"></add>
    <add key="PostRegCC" value="288"></add>

</appSettings>
