<?xml version="1.0" encoding="utf-8"?>
<TechnicalData xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="..\..\..\..\..\Libs\TVPPro.Configuration\Technical\TechnicalData.xsd">
  <DBConfiguration>
    <!--<User>tvinci_sinema_user</User>
    <Pass>W3b7v*kle</Pass>
    <IP>212.58.18.43</IP>
    <DatabaseInstance>Tikle_Dev</DatabaseInstance>-->
    <!--<User>guy</User>
    <Pass>ktaufjxhxnt</Pass>
    <IP>msd101.1host.co.il</IP>
    <DatabaseInstance>tvp_new</DatabaseInstance>-->
    <User>production</User>
    <Pass>lF6CZU9HIOIAGuzj</Pass>
    <IP>72.26.211.98</IP>
    <DatabaseInstance>IBC</DatabaseInstance>
  </DBConfiguration>
  <TVM>
    <Servers>
      <MainServer>
        <URL>http://platform-us.tvinci.com/api.aspx</URL>
        <TVMReadURL>http://platform-us.tvinci.com/api.aspx</TVMReadURL>
        <TVMWriteURL>http://platform-us.tvinci.com/api.aspx</TVMWriteURL>
      </MainServer>
      <AlternativeServer></AlternativeServer>
    </Servers>
    <SearchValues>
      <Tags>Cast;Director;Language;Genre;Keywords;Rights Owner;Mood;Series Name;Wins;Nominations</Tags>
      <Metadata>Original name;Production year</Metadata>
    </SearchValues>
    <MediaInfoStruct>
      <Tags>Crew;Cast;Parental Control;Country;Keywords;Show;Rights Owner;Language;Mood;Director;Nominations;Wins;Category;Genre;Artist;Music genre;Album;Series name;Production Company;Staring;starring</Tags>
      <Metadata>Duration;Original Name;Episode number;Production Year;Link (play.com);Link (external website);Description (Short);Season number;Number of Episodes;Number of Seasons;Base Group ID;Cahnnel ID;Base ID;season number;Year of production;Number of episodes;Business model</Metadata>
    </MediaInfoStruct>
    <MediaListTags>
      <Tags>Language;Director;Genre;Country</Tags>
    </MediaListTags>
    <AutoCompleteValues>
      <Tags>Cast;Director;Series Name;</Tags>
      <Metadata>Name</Metadata>
    </AutoCompleteValues>
    <Configuration>
      <ForceUpdatedData>0</ForceUpdatedData>
      <EnableTimer>0</EnableTimer>
      <User>Novebox-p-main</User>
      <Password>Novebox-p-main</Password>
      <EmbedUser/>
      <EmberPassword/>
    </Configuration>
    <CachingServer>
      <AllowedIPs>string</AllowedIPs>
    </CachingServer>
    <FlashVars>
      <FileFormat>FLV1</FileFormat>
    </FlashVars>
    <TVMRssURL>http://platform-us.tvinci.com/feed.aspx</TVMRssURL>
  </TVM>
  <Site>
    <BasePictureUrl></BasePictureUrl>
    <GalleryComponent NonAjaxGalleriesNumber="2">
      <SWFFileBaseURL>http://tvinci.panthercustomer.com/</SWFFileBaseURL>
    </GalleryComponent>
    <ApplicativeBaseUri UsePermanentURL="true">
      <BaseUri>http://www.filmotech.com</BaseUri>
    </ApplicativeBaseUri>
  </Site>
</TechnicalData>
