<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="couchbase">
      <section name="crowdsource" type="Couchbase.Configuration.CouchbaseClientSection, Couchbase" />
      <section name="TCMConfig" type="TCMClient.TCMConfiguration, TCMClient" allowLocation="true" allowDefinition="Everywhere" />
    </sectionGroup>
  </configSections>
  <TCMConfig URL="http://192.168.193.191:8080" Application="croudsourcer" Host="default" Environment="main" AppID="5bf8cf60" AppSecret="5aaa99331c18f6bad4adeef93ab770c2" />
  <couchbase>
    <crowdsource>
      <servers bucket="crowdsource">
        <add uri="http://192.168.193.214:8091/pools" />
      </servers>
    </crowdsource>
  </couchbase>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBinding_Iservice">
          <security mode="None" />
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost/WS_Catalog/Service.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_Iservice" contract="WS_Catalog.Iservice" name="WSHttpBinding_Iservice" />
    </client>
  </system.serviceModel> 
  <runtime> 
      <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1"> 
          <dependentAssembly> 
              <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" /> 
              <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" /> 
          </dependentAssembly> 
          <dependentAssembly> 
              <assemblyIdentity name="Enyim.Caching" publicKeyToken="05e9c6b5a9ec94c2" culture="neutral" /> 
              <bindingRedirect oldVersion="0.0.0.0-1.2.9.0" newVersion="1.2.9.0" /> 
          </dependentAssembly> 
      </assemblyBinding> 
  </runtime>
</configuration>