<?xml version="1.0" encoding="UTF-8"?>

<PlatformServicesData xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="..\..\..\..\..\Libs\TVPPro.Configuration\PlatformServices\PlatformServicesData.xsd">
  <UsersService URL="http://stg-hk.tvincidnshk.com/webservices//users_m/module.asmx">
    <DefaultUser>users_167</DefaultUser>
    <DefaultPassword>11111</DefaultPassword>
  </UsersService>
  <ConditionalAccessService URL="http://stg-hk.tvincidnshk.com/webservices/cas_v2_0/module.asmx">
    <DefaultUser>conditionalaccess_167</DefaultUser>
    <DefaultPassword>11111</DefaultPassword>
    <!--<GetUserPermittedItems UserName="conditionalaccess" Password="11111"/>-->
  </ConditionalAccessService>
  <ApiService URL="http://stg-hk.tvincidnshk.com/webservices/api_v2_0/api.asmx">
    <DefaultUser>api_167</DefaultUser>
    <DefaultPassword>11111</DefaultPassword>
  </ApiService>
  <PricingService URL="http://stg-hk.tvincidnshk.com/webservices/pricing_v2_0/module.asmx">
    <DefaultUser>pricing_167</DefaultUser>
    <DefaultPassword>11111</DefaultPassword>
  </PricingService>
  <BillingService URL="http://stg-hk.tvincidnshk.com/webservices/billing_v2_0/module.asmx">
    <DefaultUser>billing_167</DefaultUser>
    <DefaultPassword>11111</DefaultPassword>
  </BillingService>
  <DomainsService URL="http://stg-hk.tvincidnshk.com/webservices/domains_v2_0/module.asmx">
    <DefaultUser>domains_167</DefaultUser>
    <DefaultPassword>11111</DefaultPassword>
  </DomainsService>
   <CatalogService URL="http://stg-hk.tvincidnshk.com/webservices/catalog_v2_0/Service.svc">
    <SignatureKey>liat regev</SignatureKey>
  </CatalogService>
   <SocialService URL="http://stg-hk.tvincidnshk.com/webservices/social_v2_0/module.asmx">
    <DefaultUser>social_167</DefaultUser>
    <DefaultPassword>11111</DefaultPassword>
   </SocialService>
</PlatformServicesData>