<?xml version="1.0" encoding="utf-8"?>
<MediaData xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="..\..\..\..\Libs\TVPPro.Configuration\Media\MediaData.xsd">
  <TVM>
    <SearchValues>
      <Tags>Cast;Director;Spoken language;Genre;Keywords;Rights Owner;Mood;Series Name;Wins;Nominations;Category</Tags>
      <Metadata>Available Seasons;Original name;Production year</Metadata>
    </SearchValues>
    <MediaInfoStruct>
      <Tags>Free;Main Cast;Genre;Subgenre;Awards won;Award nominations;Spoken language;Subtitle language;Age classification;Director of Photography;Producer;Writer;General tags;Production country;Profession;Nationality;Network;Production country;Spoken language;Subtitle language;Discount;Warnings;Cast;Profession;Main cast;Director;Show;Package Type;Available in</Tags>
      <Metadata>Available Seasons;Number of Seasons;Episode title;Subscription;Release date;Date of birth;Date of death;Year of first production;Year of last production;Number of videos;Age classification;Base Group ID;Base ID;Base Type;Season number;Episode number;Tagline;Package discount;Number of episodes;Promotional text;Episode title;Subscription;Duration</Metadata>
    </MediaInfoStruct>
    <GalleryMediaInfoStruct>
      <Tags>Genre;Subgenre;Profession;Series Name;Show;Main cast;Network</Tags>
      <Metadata>Available Seasons;Number of Seasons;Tagline;Promotional text;Number of videos;Season number;Release date;Episode number;date of birth;Date of death;profession;Package discount;Subscription;Base ID;Base Type</Metadata>
    </GalleryMediaInfoStruct>
    <FlashMediaInfoStruct>
      <Tags>Network;Main cast;Genre;Subgenre;Show;Cast;Director;Language;Genre;Profession;Parental Control;Production country;Spoken language;Subtitle language;Age classification;Warnings</Tags>
      <Metadata>Season;Production Year;Episode number;Season number;Release date;Promotional text;Tagline;Number of episodes;Episode title;Package discount</Metadata>
    </FlashMediaInfoStruct>
    <MediaListTags>
      <Tags>Main Cast;Genre;Subgenre;Awards won;Award nominations;Spoken language;Subtitle language;</Tags>
    </MediaListTags>
    <TagsGallery>
      <Tags>Project;Series name;Staring;Free</Tags>
    </TagsGallery>
    <AutoCompleteValues>
      <Tags>Cast;Director;Series Name;</Tags>
      <Metadata>Name</Metadata>
    </AutoCompleteValues>
  </TVM>
  <AdvertisingValues>
    <Tags />
    <Metas />
  </AdvertisingValues>
</MediaData>
  
  