<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoMapper" version="4.0.0-ci1036" targetFramework="net45" />
  <package id="AWSSDK.Core" version="3.3.100.5" targetFramework="net452" />
  <package id="AWSSDK.S3" version="3.3.31.20" targetFramework="net452" />
  <package id="CH.Ioc.Infrastructure.Wiring" version="1.0.1" targetFramework="net451" />
  <package id="CH.Memcached" version="1.6" targetFramework="net451" />
  <package id="EnyimMemcached" version="2.11" targetFramework="net451" />
  <package id="LinqToTwitter" version="2.1.11" targetFramework="net451" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="12.0.1" targetFramework="net451" />
  <package id="SimpleInjector" version="4.4.3" targetFramework="net452" />
  <package id="SimpleInjector.Integration.Wcf" version="4.4.3" targetFramework="net452" />
</packages>