<?xml version="1.0" encoding="UTF-8"?>

<PlatformServicesData xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="..\..\..\..\..\Libs\TVPPro.Configuration\PlatformServices\PlatformServicesData.xsd">
  <UsersService URL="http://webservices/users_v2_6/module.asmx">
    <DefaultUser>users_188</DefaultUser>
    <DefaultPassword>11111</DefaultPassword>
  </UsersService>
  <ConditionalAccessService URL="http://webservices/cas_v2_6/module.asmx">
    <DefaultUser>conditionalaccess_188</DefaultUser>
    <DefaultPassword>11111</DefaultPassword>
  </ConditionalAccessService>
  <ApiService URL="http://webservices/api_v2_6/api.asmx">
    <DefaultUser>api_188</DefaultUser>
    <DefaultPassword>11111</DefaultPassword>
  </ApiService>
  <PricingService URL="http://webservices/pricing_v2_6/module.asmx">
    <DefaultUser>pricing_188</DefaultUser>
    <DefaultPassword>11111</DefaultPassword>
  </PricingService>
  <BillingService URL="http://webservices/billing_v2_6/module.asmx">
    <DefaultUser>billing_188</DefaultUser>
    <DefaultPassword>11111</DefaultPassword>
  </BillingService>
  <DomainsService URL="http://webservices/domains_v2_6/module.asmx">      
    <DefaultUser>domains_188</DefaultUser>
    <DefaultPassword>11111</DefaultPassword>
  </DomainsService>
    <SocialService URL="http://webservices/social_v2_6/module.asmx">
        <DefaultUser>social_188</DefaultUser>
        <DefaultPassword>11111</DefaultPassword>
    </SocialService>
<NotificationService URL="http://webservices/Notification_v2_6/NotificationService.svc">
        <DefaultUser>notifications_188</DefaultUser>
        <DefaultPassword>11111</DefaultPassword>
    </NotificationService>

</PlatformServicesData>