<?xml version="1.0" encoding="utf-8"?>
<TechnicalData xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="..\..\..\..\..\..\Libs\TVPPro.Configuration\Technical\TechnicalData.xsd">
  <DBConfiguration>
    <!--<User>tvinci_sinema_user</User>
    <Pass>W3b7v*kle</Pass>
    <IP>212.58.18.43</IP>
    <DatabaseInstance>Tikle_Dev</DatabaseInstance>-->
    <!--<User>guy</User>
    <Pass>ktaufjxhxnt</Pass>
    <IP>msd101.1host.co.il</IP>
    <DatabaseInstance>tvp_new</DatabaseInstance>-->
    <User>production</User>
    <Pass>lF6CZU9HIOIAGuzj</Pass>
    <IP>72.26.211.98</IP>
    <DatabaseInstance>tvp_ipvision_IPad</DatabaseInstance>
  </DBConfiguration>
  <TVM>
    <Servers>
      <MainServer>
        <URL>http://tvmdev:8000/api.aspx</URL>
        <TVMReadURL>http://tvmdev:8000/api.aspx</TVMReadURL>
        <TVMWriteURL>http://tvmdev:8000/api.aspx</TVMWriteURL>
      </MainServer>
      <AlternativeServer></AlternativeServer>
    </Servers>
    <Configuration>
      <ForceUpdatedData>0</ForceUpdatedData>
      <EnableTimer>0</EnableTimer>
      <User>ocontent_site_prod</User>
      <Password>ocontent_site_prod</Password>
      <EmbedUser/>
      <EmberPassword/>
    </Configuration>
    <CachingServer>
      <AllowedIPs>string</AllowedIPs>
    </CachingServer>
    <FlashVars>
      <FileFormat>Main</FileFormat>
    </FlashVars>
    <TVMRssURL>http://platform-us.tvinci.com/feed.aspx</TVMRssURL>
  </TVM>
  <Site>
    <BasePictureUrl></BasePictureUrl>
    <GalleryComponent NonAjaxGalleriesNumber="2">
      <SWFFileBaseURL>http://tvinci.panthercustomer.com/</SWFFileBaseURL>
    </GalleryComponent>
    <ApplicativeBaseUri UsePermanentURL="true">
      <BaseUri>stream</BaseUri>
    </ApplicativeBaseUri>
    <LogBasePath>c:\log\TVPApi</LogBasePath>
  </Site>
</TechnicalData>
