<?xml version="1.0" encoding="utf-8" ?>

<log4net debug="true">
  <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
    <file type="log4net.Util.PatternString" value="%property{LogDir}%property{log4net:HostName}/remotetasks-%property{LogName}" />
    <appendToFile value="true" />
    <rollingStyle value="Date" />
    <datePattern value="_yyyy_MM_dd_HH'.log'" />
    <staticLogFileName value="false" />
    <filter type="log4net.Filter.LevelRangeFilter">
      <acceptOnMatch value="true" />
      <levelMin value="debug" />
      <levelMax value="fatal" />
    </filter>
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%p %d %m%n" />
    </layout>
  </appender>

  <appender name="MonitorLogFileAppender" type="log4net.Appender.RollingFileAppender">
    <file type="log4net.Util.PatternString" value="%property{LogDir}%property{log4net:HostName}/remotetasks-monitor-%property{LogName}" />
    <appendToFile value="true" />
    <rollingStyle value="Date" />
    <datePattern value="_yyyy_MM_dd_HH'.log'" />
    <staticLogFileName value="false" />
    <filter type="log4net.Filter.LevelRangeFilter">
      <acceptOnMatch value="true" />
      <levelMin value="Trace" />
      <levelMax value="Trace" />
    </filter>
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%p %d %m%n" />
    </layout>
  </appender>

  <appender name="ColoredConsoleAppender" type="log4net.Appender.ManagedColoredConsoleAppender">
    <mapping>
      <level value="ERROR" />
      <foreColor value="DarkRed" />
      <backColor value="White" />
    </mapping>
    <mapping>
      <level value="WARN" />
      <foreColor value="Yellow" />
    </mapping>
    <mapping>
      <level value="INFO" />
      <foreColor value="Green" />
    </mapping>
    <mapping>
      <level value="DEBUG" />
      <foreColor value="Cyan" />
    </mapping>
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%p %d (%thread) %m%n" />
    </layout>
  </appender>

  <root>
    <level value="ALL" />
    <appender-ref ref="RollingLogFileAppender" />
    <appender-ref ref="MonitorLogFileAppender" />
    <appender-ref ref="ColoredConsoleAppender" />
  </root>
</log4net>