<?xml version="1.0" encoding="utf-8"?>
<SiteData Identifier="" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="..\..\..\..\..\Libs\TVPPro.Configuration\Site\SiteData.xsd">
  <Global>
    <Price>
      <Symbol>₪</Symbol>
      <Location>Right</Location>
      <Format>0.00</Format>
      <Code>EUR</Code>
    </Price>
    <Title>כללית</Title>
    <DefaultSiteFont>Arial</DefaultSiteFont>
  </Global>
  <Features>
    <Comments FeatureMode="On" AutoActive="true" EnforceLogin="true"/>
    <Packages/>
    <Registration/>
    <MovieFinder/>
    <Pricing SupportFeature="false"></Pricing>
    <FriendlyURL SupportFeature="false" SupportSearch="false"></FriendlyURL>
    <Locale SupportFeature="true" Application="IPVision" />
    <FacebookConnect SupportFeature="true" API_Key="81c03736d69462cc98347afcf306e7e3" Secret_Key="7d9e2293fff202240f106f340693f575"/>
  </Features>
  <BlockAdvertisements>
    <Page Token="faq"/>
  </BlockAdvertisements>
  <Pages>
    <ShowPage EpisodesInPage="30"></ShowPage>
  </Pages>
</SiteData>
