<?xml version="1.0" encoding="UTF-8"?>

<PlatformServicesData xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="..\..\..\..\..\Libs\TVPPro.Configuration\PlatformServices\PlatformServicesData.xsd">
    <UsersService URL="http://webservices-us.tvinci.com/users_v1_1/module.asmx">
        <DefaultUser>users_134</DefaultUser>
        <DefaultPassword>11111</DefaultPassword>
    </UsersService>
    <!--<ConditionalAccessService URL="http://webservices-us.tvinci.com/cas_v1_4/module.asmx">-->
    <ConditionalAccessService URL="http://192.168.16.66/ws_conditionalaccess/module.asmx">
        <DefaultUser>conditionalaccess_134</DefaultUser>
        <DefaultPassword>11111</DefaultPassword>
        <!--<GetUserPermittedItems UserName="conditionalaccess" Password="11111"/>-->
    </ConditionalAccessService>
    <ApiService URL="http://webservices-us.tvinci.com/api_v1_2/api.asmx">
        <DefaultUser>api_134</DefaultUser>
        <DefaultPassword>11111</DefaultPassword>
    </ApiService>
    <PricingService URL="http://webservices-us.tvinci.com/pricing_v1_1/module.asmx">
        <DefaultUser>pricing_134</DefaultUser>
        <DefaultPassword>11111</DefaultPassword>
    </PricingService>
    <BillingService URL="http://webservices-us.tvinci.com/billing_v1_2/module.asmx">
        <DefaultUser>billing_134</DefaultUser>
        <DefaultPassword>11111</DefaultPassword>
    </BillingService>
    <DomainsService URL="http://webservices-us.tvinci.com/domains_v1_1/module.asmx">
        <DefaultUser>domains_134</DefaultUser>
        <DefaultPassword>11111</DefaultPassword>
    </DomainsService>
    <!--<SocialService URL="http://webservices.dev/SocialBeta/module.asmx">-->
    <SocialService URL="http://192.168.16.111/WS_Social/module.asmx">
        <DefaultUser>social_134</DefaultUser>
        <DefaultPassword>11111</DefaultPassword>
    </SocialService>
    <NotificationService URL="http://192.168.16.66/WS_Notification/NotificationService.svc">
    <!--<NotificationService URL="http://webservices-us.tvinci.com/notification_v1_8/NotificationService.svc">-->    
        <DefaultUser>notifications_134</DefaultUser>
        <DefaultPassword>11111</DefaultPassword>
    </NotificationService>
</PlatformServicesData>