<?xml version="1.0" encoding="UTF-8"?>

<PlatformServicesData xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="..\..\..\..\..\Libs\TVPPro.Configuration\PlatformServices\PlatformServicesData.xsd">  
  <UsersService URL="http://192.168.192.146/webservices/Users/module.asmx">    
    <DefaultUser>users_147</DefaultUser>
    <DefaultPassword>11111</DefaultPassword>
  </UsersService>  
    <ConditionalAccessService URL="http://192.168.192.146/webservices/cas/module.asmx">
    <DefaultUser>conditionalaccess_147</DefaultUser>
    <DefaultPassword>11111</DefaultPassword>    
  </ConditionalAccessService>  
  <ApiService URL="http://192.168.192.146/webservices/api/api.asmx">
    <DefaultUser>api_147</DefaultUser>
    <DefaultPassword>11111</DefaultPassword>
  </ApiService>  
    <PricingService URL="http://192.168.192.146/webservices/pricing/module.asmx">    
    <DefaultUser>pricing_147</DefaultUser>
    <DefaultPassword>11111</DefaultPassword>
  </PricingService>  
    <BillingService URL="http://192.168.192.146/webservices/billing/module.asmx">    
    <DefaultUser>billing_147</DefaultUser>
    <DefaultPassword>11111</DefaultPassword>
  </BillingService>
  <DomainsService URL="http://192.168.192.146/webservices/Domains/module.asmx">    
    <DefaultUser>domains_147</DefaultUser>
    <DefaultPassword>11111</DefaultPassword>
  </DomainsService>  
  <SocialService URL="http://192.168.192.146/webservices/Social/module.asmx">
    <DefaultUser>social_147</DefaultUser>
    <DefaultPassword>11111</DefaultPassword>
  </SocialService>
  <CatalogService URL="http://192.168.192.146/webservices/catalog/service.svc">  
    <SignatureKey>liat regev</SignatureKey>
  </CatalogService>
</PlatformServicesData>