<?xml version="1.0"?>     
  <appSettings>
    <!--add key="LOGS_PATH" value="D:\\hshome\\tvinci-platform\\web_services\\api\\logs"/-->
    <!--add key="LOGS_PATH" value="C:\\Development SVN\\TVM\\Web Services\\WS_API\\logs"/-->
    <add key="LOGS_PATH" value="C:\\logs"/>
    <add key="CONNECTION_STRING" value="Driver={SQL Server};Server=192.168.16.240;Database=tvinci;Uid=production;Pwd=lF6CZU9HIOIAGuzj;"/>

    <add key="writable_CONNECTION_STRING" value="Driver={SQL Server};Server=192.168.16.240;Database=tvinci;Uid=production;Pwd=lF6CZU9HIOIAGuzj;"/>
    
    
    
    <add key="MAIN_CONNECTION_STRING" value="Driver={SQL Server};Server=192.168.16.240;Database=tvinci;Uid=production;Pwd=lF6CZU9HIOIAGuzj;"/>

    <add key="users_connection" value="Driver={SQL Server};Server=192.168.16.240;Database=users;Uid=production;Pwd=lF6CZU9HIOIAGuzj;"/>
    <add key="USERS_MAIN_CONNECTION_STRING" value="Driver={SQL Server};Server=192.168.16.240;Database=users;Uid=production;Pwd=lF6CZU9HIOIAGuzj;"/>
    <add key="tikle_ws" value="http://212.58.18.44:8080/Service.asmx"/>
    <!--<add key="lucene_ws" value="http://localhost//Service.svc"/>-->
    <add key="lucene_ws" value="http://localhost/WCF_Lucene/Service.svc"/>
    <add key="SMS_WS_UN" value="guy_tvinci"/>
    <add key="SMS_WS_URL" value="http://www.smscenter.co.il/Web/WebServices/SendMessage.asmx"/>
    <add key="SMS_WS_PASS" value="1ff28c3aaec95f0d43b76dc3d1caa36f"/>
    <add key="SMS_WS_PHONES" value="0546812480"/>
    <add key="SMS_WS_MAILS" value="guy@tvinci.com"/>
    <!--add key="APP_STATE" value="version_upload" /-->
    <add key="APP_STATE" value="normal"/>
    <add key="ODBC_CACH_SEC" value="0"/>
    <add key="AS.Server" value="msd169.1host.co.il"/>
    <add key="AS.DB" value="Analysis Services Project1"/>
    <add key="AS.CubeName" value="Tvinci M2M"/>
    <add key="AS.Group.Dimension" value="Groups"/>
    <add key="AS.Group.Level" value="Groups"/>
    <add key="AS.SkipDimensions" value="Measures"/>
    <add key="AS.Time.Dimension" value="Date Time Dim"/>
    <add key="MCKey" value="ffbc104b-f619-4922-93ae-00bbf3fb7150"/>
    <add key="MCURL" value="https://mandrillapp.com/api/1.0/messages/send-template.json"/>
    <!--<add key="LUCENE_WCF" value="http://192.168.16.118/WCF_Lucene/Service.svc?wsdl"/>-->
    <add key="LUCENE_WCF" value="http://localhost/WCF_Lucene/Service.svc"/>
    <add key="WS_Catalog" value="http://localhost/WS_Catalog/Service.svc"/>
    <add key="Signature" value="8CHAsV63BtIk0u2aYwr+/I48J3Y="/>
    <add key="SignString" value="12er"/>
    <!--http://lucene.dev.tvincidns.com/service.svc?wsdl-->

  </appSettings>

