<?xml version="1.0" encoding="UTF-8"?>

<PlatformServicesData xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="..\..\..\..\..\Libs\TVPPro.Configuration\PlatformServices\PlatformServicesData.xsd">
  <UsersService URL="http://173.231.146.34:9003/webservices/users/module.asmx">
    <DefaultUser>users_144</DefaultUser>
    <DefaultPassword>11111</DefaultPassword>
  </UsersService>
  <ConditionalAccessService URL="http://173.231.146.34:9003/webservices/ca/module.asmx">
    <DefaultUser>conditionalaccess_144</DefaultUser>
    <DefaultPassword>11111</DefaultPassword>
    <!--<GetUserPermittedItems UserName="conditionalaccess" Password="11111"/>-->
  </ConditionalAccessService>
  <ApiService URL="http://173.231.146.34:9003/webservices/api/api.asmx">
    <DefaultUser>api_144</DefaultUser>
    <DefaultPassword>11111</DefaultPassword>
  </ApiService>
  <PricingService URL="http://173.231.146.34:9003/webservices/pricing/module.asmx">
    <DefaultUser>pricing_144</DefaultUser>
    <DefaultPassword>11111</DefaultPassword>
  </PricingService>
  <BillingService URL="http://173.231.146.34:9003/webservices/billing/module.asmx">
    <DefaultUser>billing_144</DefaultUser>
    <DefaultPassword>11111</DefaultPassword>
  </BillingService>
  <DomainsService URL="http://173.231.146.34:9003/webservices/domains/module.asmx">      
    <DefaultUser>domains_144</DefaultUser>
    <DefaultPassword>11111</DefaultPassword>
  </DomainsService>
    <SocialService URL="http://173.231.146.34:9003/webservices/social/module.asmx">
        <DefaultUser>social_144</DefaultUser>
        <DefaultPassword>11111</DefaultPassword>
    </SocialService>
</PlatformServicesData>