<?xml version="1.0" encoding="utf-8"?>
<TechnicalData xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="..\..\..\..\..\Libs\TVPPro.Configuration\Technical\TechnicalData.xsd">
  <DBConfiguration>
    <User>production</User>
    <Pass>lF6CZU9HIOIAGuzj</Pass>
    <IP>72.26.211.98</IP>
    <DatabaseInstance>tvp_kanguroo_iPad</DatabaseInstance>
  </DBConfiguration>
  <TVM>
    <Servers>
      <MainServer>
        <URL>http://173.231.146.34:9003/platform-us/api.aspx</URL>
        <TVMReadURL>http://173.231.146.34:9003/platform-us/api.aspx</TVMReadURL>
        <TVMWriteURL>http://173.231.146.34:9003/platform-us/api.aspx</TVMWriteURL>
      </MainServer>
      <AlternativeServer>
        <!--<URL>~/tvm/tvm_caching_server.aspx</URL>-->
      </AlternativeServer>
    </Servers>
    <Configuration>
      <ForceUpdatedData>0</ForceUpdatedData>
      <EnableTimer>0</EnableTimer>
      <User>kanguroo_main</User>
      <Password>kanguroo_main</Password>
      <EmbedUser/>
      <EmberPassword/>
    </Configuration>
    <CachingServer>
      <AllowedIPs>string</AllowedIPs>
    </CachingServer>
    <FlashVars>
      <FileFormat>iPhone Main</FileFormat>
      <SubFileFormat>iPhone Trailer;iPhone Main</SubFileFormat>
    </FlashVars>
    <TVMRssURL>http://platform-us.tvinci.com/feed.aspx</TVMRssURL>
  </TVM>
  <Translation UseTranslatedMediaType="true">
    <Culture>string</Culture>
    <CharacterReplace>
      <Character OldChar="Á" NewChar="A"/>            
      <Character OldChar="Â" NewChar="A"/>
      <Character OldChar="Ã" NewChar="A"/>
      <Character OldChar="Ä" NewChar="A"/>
      <Character OldChar="Å" NewChar="A"/>
      <Character OldChar="Æ" NewChar="E"/>
      <Character OldChar="Ç" NewChar="C"/>
      <Character OldChar="È" NewChar="E"/>
      <Character OldChar="É" NewChar="E"/>
      <Character OldChar="Ê" NewChar="E"/>
      <Character OldChar="Ë" NewChar="E"/>
      <Character OldChar="Ì" NewChar="I"/>
      <Character OldChar="Í" NewChar="I"/>
      <Character OldChar="Î" NewChar="I"/>
      <Character OldChar="Ï" NewChar="I"/>
      <Character OldChar="á" NewChar="a"/>
      <Character OldChar="â" NewChar="a"/>
      <Character OldChar="ã" NewChar="a"/>
      <Character OldChar="ä" NewChar="a"/>
      <Character OldChar="å" NewChar="a"/>
      <Character OldChar="æ" NewChar="e"/>
      <Character OldChar="ç" NewChar="c"/>
      <Character OldChar="è" NewChar="e"/>
      <Character OldChar="é" NewChar="e"/>
      <Character OldChar="ê" NewChar="e"/>
      <Character OldChar="ë" NewChar="e"/>
      <Character OldChar="ì" NewChar="i"/>
      <Character OldChar="í" NewChar="i"/>
      <Character OldChar="î" NewChar="i"/>
      <Character OldChar="ï" NewChar="i"/>
    </CharacterReplace>
  </Translation>
  <Billing SupportFeature="true" HTMLProcess="true">
    <Processor>Multi</Processor>
    <Account>FilmotechTRX</Account>
  </Billing>
  <Site>
    <BasePictureUrl></BasePictureUrl>
    <GalleryComponent NonAjaxGalleriesNumber="10">
      <SWFFileBaseURL>http://localhost/tvppro/clients/elisa/</SWFFileBaseURL>
    </GalleryComponent>
    <ApplicativeBaseUri UsePermanentURL="true">
      <SecureBaseUri>http://localhost/tvppro</SecureBaseUri>
      <BaseUri>http://localhost/tvppro</BaseUri>
    </ApplicativeBaseUri>
    <LogBasePath>D:\spaces\tvinci\log\TVPPro\Staging</LogBasePath>
    <CDNUrl>http://ibc.cdngc.net/Elisa</CDNUrl>
  </Site>
</TechnicalData>