<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="TvinciImporter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <TvinciImporter.Properties.Settings>
            <setting name="TvinciImporter_WS_Encryptor_Encryptor" serializeAs="String">
                <value>http://192.168.16.70:333/Encryptor.asmx</value>
            </setting>
            <setting name="TvinciImporter_Lucene_WCF_Service" serializeAs="String">
                <value>http://localhost/LuceneWCF/Service.svc</value>
            </setting>
            <setting name="TvinciImporter_WS_CAS1_module" serializeAs="String">
                <value>http://localhost:82/ws_cas/module.asmx</value>
            </setting>
        </TvinciImporter.Properties.Settings>
    </applicationSettings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_INotificationService" />
            </basicHttpBinding>
            <wsHttpBinding>
                <binding name="WSHttpBinding_Iservice">
                    <security mode="None" />
                </binding>
                <binding name="WSHttpBinding_Iservice1">
                    <security mode="None" />
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://192.168.16.176/webservices/catalog/Service.svc"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_Iservice"
                contract="WSCatalog.Iservice" name="WSHttpBinding_Iservice" />
            <endpoint address="http://192.168.192.146/webservices/Notifications/NotificationService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_INotificationService"
                contract="Notification_WCF.INotificationService" name="BasicHttpBinding_INotificationService" />
            <endpoint address="http://localhost:98/ws_catalog/Service.svc"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_Iservice1"
                contract="WSCatalog.Iservice" name="WSHttpBinding_Iservice1" />
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Enyim.Caching" publicKeyToken="05e9c6b5a9ec94c2" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.9.0" newVersion="1.2.9.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
