<?xml version="1.0" encoding="UTF-8"?>

<PlatformServicesData xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="..\..\..\..\..\Libs\TVPPro.Configuration\PlatformServices\PlatformServicesData.xsd">
  <!--<UsersService URL="http://stg-hk.tvincidnshk.com/webservices/users_v2_1/module.asmx">-->
  <UsersService URL="http://192.168.192.146/webservices/Users/module.asmx">
    <!--<UsersService URL="http://192.168.16.123/ws_users_m/module.asmx">-->
    <DefaultUser>users_147</DefaultUser>
    <DefaultPassword>11111</DefaultPassword>
  </UsersService>
  <!--<ConditionalAccessService URL="http://stg-hk.tvincidnshk.com/webservices/cas_v2_1/module.asmx">-->
    <ConditionalAccessService URL="http://54.72.1.39:8030/users_v3_0/module.asmx">
    <DefaultUser>conditionalaccess_147</DefaultUser>
    <DefaultPassword>11111</DefaultPassword>
    <!--<GetUserPermittedItems UserName="conditionalaccess" Password="11111"/>-->
  </ConditionalAccessService>
  <!--<ApiService URL="http://stg-hk.tvincidnshk.com/webservices/api_v2_1/api.asmx">-->
  <ApiService URL="http://54.72.1.39:8030/api_v3_0/api.asmx">
    <DefaultUser>api_147</DefaultUser>
    <DefaultPassword>11111</DefaultPassword>
  </ApiService>
  <!--<PricingService URL="http://192.168.16.123/ws_pricing/module.asmx">-->
    <PricingService URL="http://54.72.1.39:8030/pricing_v3_0/module.asmx">
    <!--<PricingService URL="http://stg-hk.tvincidnshk.com/webservices/pricing_v2_1/module.asmx">-->
    <DefaultUser>pricing_147</DefaultUser>
    <DefaultPassword>11111</DefaultPassword>
  </PricingService>
  <!--<BillingService URL="http://192.168.16.123/ws_billing/module.asmx">-->
    <BillingService URL="http://54.72.1.39:8030/billing_v3_0/module.asmx">
    <!--<BillingService URL="http://stg-hk.tvincidnshk.com/webservices/billing_v2_1/module.asmx">-->
    <DefaultUser>billing_147</DefaultUser>
    <DefaultPassword>11111</DefaultPassword>
  </BillingService>
  <DomainsService URL="http://192.168.192.146/webservices/Domains/module.asmx">
    <!--<DomainsService URL="http://stg-hk.tvincidnshk.com/webservices/domains_v2_1/module.asmx">-->
    <DefaultUser>domains_147</DefaultUser>
    <DefaultPassword>11111</DefaultPassword>
  </DomainsService>
  <!--<SocialService URL="http://stg-hk.tvincidnshk.com/webservices/social_v2_1/module.asmx">-->
  <SocialService URL="http://192.168.192.146/webservices/Social/module.asmx">
    <DefaultUser>social_147</DefaultUser>
    <DefaultPassword>11111</DefaultPassword>
  </SocialService>
  <CatalogService URL="http://54.72.1.39:8030/catalog_v3_0/service.svc">
  <!--<CatalogService URL="http://stg-hk/webservices/catalog_v2_0/Service.svc">-->
    <SignatureKey>liat regev</SignatureKey>
  </CatalogService>
</PlatformServicesData>