version: '2'
services:
  zookeeper:
    image: wurstmeister/zookeeper
    ports:
      - "2181:2181"
  kafka:
    image: wurstmeister/kafka
    depends_on:
      - zookeeper
    ports:
      - "29092:29092"
      - "9092:9092"
    environment:
      KAFKA_ADVERTISED_HOST_NAME: localhost
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_LISTENERS:
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP:
      KAFKA_ADVERTISED_LISTENERS:
      KAFKA_INTER_BROKER_LISTENER_NAME:
      KAFKA_AUTO_CREATE_TOPICS_ENABLE : "false"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
