<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="TCMConfig" type="Phx.Lib.Appconfig.TCMClient.TCMConfiguration, Phx.Lib.Appconfig" allowLocation="true" allowDefinition="Everywhere" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="WAP_TVPApi.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <section name="TVinciDBConfig" type="TVPApi.TVinciDBConfiguration, TVPApiModule" allowLocation="true" allowDefinition="Everywhere" />
    <section name="CouchbaseSectionMapping" type="System.Configuration.NameValueFileSectionHandler,System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
  </configSections>

  <TCMConfig URL="http://tcm.service.consul:9092" Application="OTT_API_SV" Host="PROD_v5_2_2" Environment="main" AppSecret="5aaa99331c18f6bad4adeef93ab770c2" AppID="5bf8cf60" />
  
  <!--<CouchbaseSectionMapping>
    <add key="authorization" value="OTT_Apps" />
  </CouchbaseSectionMapping>-->
  
  <!--<TVinciDBConfig User="production" Pass="lF6CZU9HIOIAGuzj" DBServer="amazonSQL" DBInstance="TVinci" />
  
  <applicationSettings>
    <WAP_TVPApi.Properties.Settings>
      <setting name="WAP_TVPApi_il_co_smscenter_www_SendSMS" serializeAs="String">
        <value>http://www.smscenter.co.il/Web/WebServices/SendMessage.asmx</value>
      </setting>
    </WAP_TVPApi.Properties.Settings>
  </applicationSettings>-->

  <appSettings>
    <!-- this is good -->
    <!--<add key="apiVersion" value="v5_2_5_NetCore" />-->
    
    <!-- these are from old tvpapi, are they still needed? -->
    <!--<add key="AppEnvironment" value="test" />-->
    <!--<add key="Log4NetConfiguration" value="log4net.config" />-->
    <!--<add key="log4net.Internal.Debug" value="false" />-->
    <!--<add key="Tvinci.DataLoader.CacheLite.ShouldUseCache" --><!--value="true" />
    <add key="il.co.smscenter.www.SendMessage" value="http://www.smscenter.co.il/Web/WebServices/SendMessage.asmx" />
    <add key="UseAlwaysOn" value="true" />-->
    <!--222_Web,222_Cellular,222_iPad,222_STB -->
    <!--<add key="Authorization.UnsupportedGroupsPlatforms" value="{groupID}_{Platform}"/>-->
    <!--   -->
  </appSettings>
  
</configuration>
