<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SocialFeedHandler.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <SocialFeedHandler.Properties.Settings>
            <setting name="SocialFeedHandler_SocialReference_module" serializeAs="String">
                <value>http://localhost/WS_Social/module.asmx</value>
            </setting>
        </SocialFeedHandler.Properties.Settings>
    </applicationSettings>
</configuration>