<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433 
  -->
<configuration>     
  <configSections>
    <section name="TVinciDBConfig" type="TVPApi.TVinciDBConfiguration" allowLocation="true" allowDefinition="Everywhere" />
    <section name="TCMConfig" type="TCMClient.TCMConfiguration, TCMClient" allowLocation="true" allowDefinition="Everywhere" />
  </configSections>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="webHttpBindingCatalogBinding" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" maxReceivedMessageSize="2147483647">
          <security mode="None"/>
        </binding>
      </wsHttpBinding> 
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name="web">
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="CatalogBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  <client>
        <endpoint address="http://192.168.16.66/WS_Catalog/Service.svc" binding="wsHttpBinding" contract="TvinciPlatform.Catalog.Iservice"
              bindingConfiguration="webHttpBindingCatalogBinding" behaviorConfiguration="web"/>
    </client>
  </system.serviceModel>
  <system.web>
    <httpRuntime/>
    <httpHandlers>
      <add path="*" type="ServiceStack.WebHost.Endpoints.ServiceStackHttpHandlerFactory, ServiceStack" verb="*"/>
    </httpHandlers>
    <compilation targetFramework="4.5"/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <add path="*" name="ServiceStack.Factory" type="ServiceStack.WebHost.Endpoints.ServiceStackHttpHandlerFactory, ServiceStack" verb="*" preCondition="integratedMode" resourceType="Unspecified" allowPathInfo="true"/>
    </handlers>
  </system.webServer>
  <TVinciDBConfig User="production" Pass="lF6CZU9HIOIAGuzj" DBServer="192.168.16.240" DBInstance="TVinci"></TVinciDBConfig>
  <TCMConfig URL="http://192.168.16.139:8080" Application="tvpapi" Host="main" Environment="production" AppSecret="5aaa99331c18f6bad4adeef93ab770c2" AppID="5bf8cf60" />
  <appSettings file="Configuration/GlobalAppSettings.config">
    <add key="TVPPro.Configuration.Online" value="~/Configuration/OnlineConfiguration.config"/>
    <add key="Log4NetConfiguration" value="logging.config"/>
    <add key="log4net.Internal.Debug" value="false"/>
    <add key="Tvinci.DataLoader.CacheLite.ShouldUseCache" value="true"/>
    <add key="ShouldUseNewCache" value="true"/>
  </appSettings>
</configuration>