<?xml version="1.0" encoding="UTF-8"?>

<PlatformServicesData xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="..\..\..\..\..\Libs\TVPPro.Configuration\PlatformServices\PlatformServicesData.xsd">
  <UsersService URL="http://stg-hk.tvincidnshk.com/webservices/users_v2_1/module.asmx">
    <DefaultUser>users_162</DefaultUser>
    <DefaultPassword>11111</DefaultPassword>
  </UsersService>
  <ConditionalAccessService URL="http://stg-hk.tvincidnshk.com/webservices/cas_v2_1/module.asmx">
    <DefaultUser>conditionalaccess_162</DefaultUser>
    <DefaultPassword>11111</DefaultPassword>
    <!--<GetUserPermittedItems UserName="conditionalaccess" Password="11111"/>-->
  </ConditionalAccessService>
  <!--<ApiService URL="http://webservices-us.tvinci.com/api_v1_3/api.asmx">-->
  <!--<ApiService URL="http://stg-hk.tvincidnshk.com/webservices/api_v2_1/api.asmx">-->
    <ApiService URL="http://192.168.16.122//TVMApi/api.asmx">
    <DefaultUser>api_162</DefaultUser>
    <DefaultPassword>11111</DefaultPassword>
  
  </ApiService>
  <PricingService URL="http://stg-hk.tvincidnshk.com/webservices/pricing_v2_1/module.asmx">
    <DefaultUser>pricing_162</DefaultUser>
    <DefaultPassword>11111</DefaultPassword>
  </PricingService>
  <BillingService URL="http://stg-hk.tvincidnshk.com/webservices/billing_v2_1/module.asmx">
    <DefaultUser>billing_162</DefaultUser>
    <DefaultPassword>11111</DefaultPassword>
  </BillingService>
  <DomainsService URL="http://stg-hk.tvincidnshk.com/webservices/domains_v2_1/module.asmx">
    <DefaultUser>domains_162</DefaultUser>
    <DefaultPassword>11111</DefaultPassword>
  </DomainsService>
  <SocialService URL="http://stg-hk.tvincidnshk.com/webservices/social_v2_1/module.asmx">
    <DefaultUser>social_162</DefaultUser>
    <DefaultPassword>11111</DefaultPassword>
  </SocialService>
  <CatalogService URL="http://webservices.dev/Catalog/Service.svc">
    <!--<CatalogService URL="http://localhost/WS_Catalog_es/Service.svc">-->
    <SignatureKey>liat regev</SignatureKey>
  </CatalogService>
</PlatformServicesData>