<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        
    </configSections>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_INotificationService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost/ws_notification/NotificationService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_INotificationService"
                contract="NotificationWS.INotificationService" name="BasicHttpBinding_INotificationService" />
        </client>
    </system.serviceModel>
    
</configuration>