<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SetupTaskHandler.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_INotificationService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost/ws_notification/NotificationService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_INotificationService"
                contract="NotificationWS.INotificationService" name="BasicHttpBinding_INotificationService" />
        </client>
    </system.serviceModel>
    <applicationSettings>
        <SetupTaskHandler.Properties.Settings>
            <setting name="SetupTaskHandler_WS_ConditionalAccess_module"
                serializeAs="String">
                <value>http://localhost/WS_ConditionalAccess/module.asmx</value>
            </setting>
        </SetupTaskHandler.Properties.Settings>
    </applicationSettings>
</configuration>