<?xml version="1.0" encoding="UTF-8"?>

<PlatformServicesData xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="..\..\..\..\..\Libs\TVPPro.Configuration\PlatformServices\PlatformServicesData.xsd">
  <!--<UsersService URL="http://webservices.dev/Users/module.asmx">-->
  <UsersService URL="https://stg-hk.tvincidnshk.com/webservices/users_m/module.asmx">
    <DefaultUser>users_159</DefaultUser>
    <DefaultPassword>11111</DefaultPassword>
  </UsersService>
  <!--<ConditionalAccessService URL="http://webservices.dev/CA/module.asmx">-->
  <ConditionalAccessService URL="http://stg-hk.tvincidnshk.com/webservices/cas_v2_1/module.asmx">
    <DefaultUser>conditionalaccess_159</DefaultUser>
    <DefaultPassword>11111</DefaultPassword>
    <!--<GetUserPermittedItems UserName="conditionalaccess" Password="11111"/>-->
  </ConditionalAccessService>
  <!--<ApiService URL="http://webservices.dev/API/api.asmx">-->
    <ApiService URL="http://stg-hk.tvincidnshk.com/webservices/api_v2_1/api.asmxx">
    <DefaultUser>api_159</DefaultUser>
    <DefaultPassword>11111</DefaultPassword>
  </ApiService>
  <PricingService URL="http://stg-hk.tvincidnshk.com/webservices/pricing_v2_1/module.asmx">
    <!--<PricingService URL="http://webservices.dev/Pricing/module.asmx">-->
    <DefaultUser>pricing_159</DefaultUser>
    <DefaultPassword>11111</DefaultPassword>
  </PricingService>
  <!--<BillingService URL="http://webservices.dev/Billing/module.asmx">-->
    <BillingService URL="http://stg-hk.tvincidnshk.com/webservices/billing_v2_1/module.asmx">
    <DefaultUser>billing_159</DefaultUser>
    <DefaultPassword>11111</DefaultPassword>
  </BillingService>
  <!--<DomainsService URL="http://webservices.dev/Domains/module.asmx">-->
  <DomainsService URL="http://stg-hk.tvincidnshk.com/webservices/domains_v2_1/module.asmx">
    <DefaultUser>domains_159</DefaultUser>
    <DefaultPassword>11111</DefaultPassword>
  </DomainsService>
  <SocialService URL="http://stg-hk.tvincidnshk.com/webservices/social_v2_1/module.asmx">
    <!--<SocialService URL="http://webservices.dev/Social/module.asmx">-->
    <DefaultUser>social_147</DefaultUser>
    <DefaultPassword>11111</DefaultPassword>
  </SocialService>
  <CatalogService URL="http://stg-hk/webservices/catalog_v2_0/Service.svc">
  <!--<CatalogService URL="http://webservices.dev/Catalog/Service.svc">-->
    <!--<CatalogService URL="http://localhost/WS_Catalog_es/Service.svc">-->
    <SignatureKey>liat regev</SignatureKey>
  </CatalogService>
</PlatformServicesData>
